// display only on screen small the 785px
img.bottomShadow(src='/public/images/shadow.png', width='100%', alt='')
.footer
  .arrow
  ul.list-group.col-xs-4.col-md-4
    li.list-group-item 
      //-title
    li.list-group-item
      a(href='/category/טלוויזיה') טלוויזיה
    li.list-group-item
      a(href='') אינטרנט
  ul.list-group.col-xs-4.col-md-4
    li.list-group-item
      //-title
    li.list-group-item
      a(href='/category/סלולר') סלולר
    //- li.list-group-item
    //-   a(href='') שיחות בין לאומיות
  ul.list-group.col-xs-4.col-md-4.noBorderLeft
    li.list-group-item 
      //-title
    li.list-group-item
      a(href='/category/אינטרנט') אינטרנט
    li.list-group-item
      a(href='/category/טלפון') טלפון קווי
  //-ul.list-group.col-xs-3.col-md-2
    li.list-group-item עוד באתר
    li.list-group-item
      a(href='') חבילות משולבות
    li.list-group-item
      a(href='') המלצות הגולשים
  button.jumpTop(onclick='jumpTop()', name='לראש הדף')
  //-ul.nav.navbar-nav.socialNetwork
    li עקבו אחרינו
    li
      a(title='כאן משווים - בפייסבוק', href='#')
    li
      a(title='כאן משווים - בטוויטר', href='#')
    li
      a(title='כאן משווים - בגוגל+', href='#')
    li
      a(title='כאן משווים - ביוטיוב', href='#')
// .footer
script(
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js', integrity='sha256-xEofWHiBewJOBXBSH5JHWuwCYpBKOQ8KSGSVLbEVYyo=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js', integrity='sha256-4Cr335oZDYg4Di3OwgUOyqSTri0jUm2+7Gf2kH3zp1I=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.3.6/tinysort.min.js')
script(type='text/javascript', src='/node_modules/noty/js/noty/packaged/jquery.noty.packaged.min.js')
script(src='/public/js/translateSelectBootstrap.js ')
script(src='/public/js/newscript.js ')
script(src='/public/js/templates.js')

  

