meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='profile', href='http://gmpg.org/xfn/11')
link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/node_modules/bootstrap-rtl/dist/css/bootstrap-rtl.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css')
link( rel="stylesheet", href="https://fonts.googleapis.com/css?family=Arimo")
link(rel='stylesheet', href='/public/style/css/page-category.css')
link(rel='stylesheet', href='/public/style/css/page-company.css')
link(rel='stylesheet', href='/public/style/css/page-home.css')
link(rel='stylesheet', href='/public/style/css/page-post.css')
link(rel='stylesheet', href='/public/style/css/style.css')
link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
link#page-template-css(rel='stylesheet', href='/public/style/css/page-home.css', type='text/css', media='all')
link(rel="icon" href="/public/images/company_logo/default.png")
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-79848634-2', 'auto');
  ga('send', 'pageview');
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
script.
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-1310388616090092",
  enable_page_level_ads: true
  });
// Google Tag Manager
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K5L5N7F');
// End Google Tag Manager
//-script(type='text/javascript', src='/node_modules/jquery/dist/jquery.slim.min.js')
// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//
  if lt IE 9
  script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
