nav.navbar
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#menuButtons')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img#siteLogo.img-responsive.pull-right(src='/public/images/logo.jpg', alt='כאן משווים - השוואת מחירים - לוגו', title='כאן משווים - דף הבית')
    #menuButtons.collapse.navbar-collapse
      nav.menuClass
        ul#menu-main-manu.nav.navbar-nav
          li#menu-item-14.dropdown.memuButton.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-14
            a(href='/category/טלוויזיה') טלוויזיה
              span.borderLeft.hidden-xs
          li#menu-item-20.dropdown.memuButton.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-20
            a(href='/category/סלולר') סלולר
              span.borderLeft.hidden-xs
          li#menu-item-25.dropdown.memuButton.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-25
            a(href='/category/אינטרנט') אינטרנט
              span.borderLeft.hidden-xs
          li#menu-item-27.dropdown.memuButton.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-27
            a(href='/category/טלפון') טלפון קווי
              span.borderLeft.hidden-xs
          //- li#menu-item-31.dropdown.memuButton.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-31
          //-   a(href='/category/שיחות-בין-לאומיות') שיחות לחו"ל
          li#menu-item-45.dropdown.memuButton.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-45
            if (data && data.companies && data.companies.length > 0) 
              a(href='#') חברות תקשרות
                span.glyphicon.glyphicon-triangle-bottom.hidden-xs
              ul.dropdown-menu
                  each obj in data['companies']
                    li(id=`menu-item-${obj.name}`, class=`#menu-item-${obj.name}.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-${obj.name}` )
                      a(href=`/company/${obj.name.replace(/ /g, "-")}`) #{obj.name}

      //-ul.nav.navbar-nav.navbar-left.socialNetwork.displayNone
        li
          a(title='כאן משווים - בפייסבוק', href='#')
        li
          a(title='כאן משווים - בטוויטר', href='#')
        li
          a(title='כאן משווים - בגוגל+', href='#')
        li
          a(title='כאן משווים - ביוטיוב', href='#')
 