.article .post:nth-child(even) {
  border-right: 2px solid;
  border-color: #cdcdcd; }
.article .getMorePosts {
  margin-top: 30px; }
.article .post .postThumbnail img {
  width: 162px;
  height: 94px;
  box-shadow: 1px 2px 6px -2px #777; }
  @media (max-width: 600px) {
    .article .post .postThumbnail img {
      width: 100%;
      height: auto;
      max-height: 200p;
      box-shadow: 1px 2px 6px -2px #777; } }
.article .post:hover, .article .post:focus {
  box-shadow: 1px 2px 6px -2px #777; }
  .article .post:hover .content, .article .post:focus .content {
    opacity: 1; }
  .article .post:hover .postThumbnail img, .article .post:focus .postThumbnail img {
    border: 0px solid #e7b042;
    width: 162px;
    height: 94px;
    /* box-shadow: 1px 2px 6px -2px #777; */ }
    @media (max-width: 600px) {
      .article .post:hover .postThumbnail img, .article .post:focus .postThumbnail img {
        width: 100%;
        height: auto;
        max-height: 200p; } }
.article .post .title {
  font-weight: bold;
  color: #696666;
  opacity: 0.8; }
.article .post .content {
  color: #696666;
  opacity: 0.8;
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: #cdcdcd; }
.article .post a:hover,
.article .post a:focus {
  text-decoration: none; }
.article .post .readMore {
  color: #e7b042;
  opacity: 1; }
.article .share {
  text-align: left;
  width: 100%;
  position: absolute;
  left: -2px;
  padding-left: 40px;
  border-left: 2px solid #eeeeee;
  z-index: 10;
  bottom: -66px;
  height: 101px;
  padding-top: 35px; }
  .article .share p {
    display: inline-block; }
  .article .share .socialNetwork {
    display: inline-block; }
    .article .share .socialNetwork .text {
      font-size: 8px;
      padding-left: 5px;
      width: 40px;
      line-height: 10px;
      bottom: 9px; }
    .article .share .socialNetwork li {
      display: inline-block;
      width: 23px;
      height: 25px;
      position: relative;
      margin: 0 -2.5px; }
      .article .share .socialNetwork li a {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        background-image: url("/public/images/share.jpg");
        background-repeat: no-repeat;
        opacity: 0.8; }
        .article .share .socialNetwork li a:hover, .article .share .socialNetwork li a:focus {
          opacity: 1; }
      .article .share .socialNetwork li:nth-child(5) a {
        background-position: 0 1px; }
      .article .share .socialNetwork li:nth-child(4) a {
        background-position: -23px 1px; }
      .article .share .socialNetwork li:nth-child(3) a {
        background-position: -46px 1px; }
      .article .share .socialNetwork li:nth-child(2) a {
        background-position: -69px 1px; }

@media (min-width: 1200px) {
  .article {
    padding-top: 30px; }
    .article .articleArea {
      padding: 60px 105px 60px 104px; }
    .article .post:nth-child(even) {
      padding-right: 45px; }
    .article .post:nth-child(odd) {
      padding-left: 45px; }
    .article .post {
      margin-bottom: 45px; }
      .article .post .content {
        padding-bottom: 15px;
        height: 265px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .article {
    padding-top: 24.9px; }
    .article .articleArea {
      padding: 49.8px 87.15px 49.8px 86.32px; }
    .article .post:nth-child(even) {
      padding-right: 37.35px; }
    .article .post:nth-child(odd) {
      padding-left: 37.35px; }
    .article .post {
      margin-bottom: 60px; }
      .article .post .content {
        padding-bottom: 12.45px;
        height: 325px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .article {
    padding-top: 19.2px; }
    .article .articleArea {
      padding: 45px 15px; }
    .article .post:nth-child(even) {
      padding-right: 28.8px; }
    .article .post:nth-child(odd) {
      padding-left: 28.8px; }
    .article .post {
      margin-bottom: 75px; }
      .article .post .content {
        padding-bottom: 9.6px;
        height: 384px; }
    .article .share {
      bottom: -37px;
      height: 63px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .article {
    padding-top: 19.2px; }
    .article .articleArea {
      padding: 45px 0 0 15px;
      margin-bottom: 50px; }
    .article .post:nth-child(even) {
      padding-left: 0;
      padding-right: 15px;
      border-right: none; }
    .article .post:nth-child(odd) {
      padding-left: 0; }
    .article .post {
      margin-bottom: 45px; }
      .article .post .content {
        padding-bottom: 9.6px; }
    .article .share {
      bottom: -19px;
      height: 30px;
      padding-top: 8px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .article h3 {
    font-size: 16px; }
  .article .post .content {
    font-size: 13px; } }

/*# sourceMappingURL=article.css.map */
