/* Portrait tablets and small desktops     //(320/1200=64%) */
/* Landscape phones and portrait tablets */
.sectionMiddle {
  margin-top: 15px; }

#saveMoneyTitle {
  color: #e7b042;
  text-decoration: underline;
  display: inline; }

.categoryMenu {
  padding: 66px 0 0 0;
  margin-right: -8px; }
  .categoryMenu .buttonSection {
    width: 100%; }
  .categoryMenu .category-container {
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: inline-block;
    margin: 15px 12.5px 5px 12.5px; }
    @media (min-width: 535px) and (max-width: 722px) {
      .categoryMenu .category-container {
        margin: 3% !important; } }
    .categoryMenu .category-container .front {
      background-repeat: no-repeat;
      background-position: 50% 40%; }
      .categoryMenu .category-container .front h1 {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 5%;
        color: #4d5155; }
    .categoryMenu .category-container#cellular .front,
    .categoryMenu .category-container#cellular .back {
      background-color: #9e9684; }
    .categoryMenu .category-container#cellular .front {
      background-image: url("/public/images/icon/smartPhone.png"); }
    .categoryMenu .category-container#tv .front,
    .categoryMenu .category-container#tv .back {
      background-color: #9cc6b9;
      background-position: 50% 33%; }
    .categoryMenu .category-container#tv .front {
      background-image: url("/public/images/icon/tv.png"); }
    .categoryMenu .category-container#internet .front,
    .categoryMenu .category-container#internet .back {
      background-color: #bf7a66; }
    .categoryMenu .category-container#internet .front {
      background-image: url("/public/images/icon/internet.png"); }
    .categoryMenu .category-container#internationalCalls .front,
    .categoryMenu .category-container#internationalCalls .back {
      background-color: #87a5c0; }
    .categoryMenu .category-container#internationalCalls .front {
      background-image: url("/public/images/icon/global.png"); }
    .categoryMenu .category-container#telephone .front,
    .categoryMenu .category-container#telephone .back {
      background-color: #e7b85f; }
      .categoryMenu .category-container#telephone .front a,
      .categoryMenu .category-container#telephone .back a {
        color: #3f3f3f;
        opacity: 1;
        font-weight: bold; }
    .categoryMenu .category-container#telephone .front {
      background-image: url("/public/images/icon/telephone.png"); }
    .categoryMenu .category-container#moreService .front,
    .categoryMenu .category-container#moreService .back {
      background-color: #799b8f; }
    .categoryMenu .category-container#moreService .front {
      background-image: url("/public/images/icon/glass.png"); }
    .categoryMenu .category-container:hover .front, .categoryMenu .category-container:focus .front {
      box-shadow: 0px 0px 20px 0px #e9b34f; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      width: 256px;
      height: 223px;
      border-radius: 10px;
      text-align: center; }
  .categoryMenu .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .categoryMenu .front,
  .categoryMenu .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .categoryMenu .front {
    z-index: 2;
    transform: rotateY(0deg); }
  .categoryMenu .back {
    transform: rotateY(-180deg); }
    .categoryMenu .back img {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      border-radius: 10px;
      opacity: 0.5; }
    .categoryMenu .back .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      text-align: right;
      padding-right: 15px; }
      .categoryMenu .back .menu a {
        color: #f5f5f2;
        opacity: 0.8; }
  .categoryMenu .vertical.category-container {
    position: relative; }
  .categoryMenu .vertical .back {
    transform: rotateX(180deg); }
  .categoryMenu .vertical.category-container:hover .back {
    transform: rotateX(0deg); }
  .categoryMenu .vertical.category-container:hover .front {
    transform: rotateX(180deg); }

@media (min-width: 1200px) {
  .categoryMenu h1 {
    font-size: 29px; }
  .categoryMenu #internationalCalls,
  .categoryMenu #cellular {
    margin-right: 0; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .categoryMenu h1 {
    font-size: 24.07px; }
  .categoryMenu .category-container,
  .categoryMenu .category-container .front,
  .categoryMenu .category-container .back {
    margin: 7.5px;
    width: 212.48px;
    height: 185.09px; }
  .categoryMenu .category-container .front {
    background-size: 70px; }
  .categoryMenu .category-container#moreService .front {
    background-size: 115px; }
  .categoryMenu .category-container#internet .front {
    background-size: 50px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .categoryMenu {
    padding: 50px 0 0 0;
    /* text-align: right; */ }
    .categoryMenu h1 {
      font-size: 18.56px; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      margin: 5.5px;
      width: 163.84px;
      height: 142.72px; }
    .categoryMenu .category-container .front {
      background-size: 44.8px; }
    .categoryMenu .category-container#moreService .front {
      background-size: 73.6px; }
    .categoryMenu .category-container#internet .front {
      background-size: 32px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #boxWrapper {
    text-align: center !important; }

  .categoryMenu {
    padding-top: 15px;
    /* margin-left: -15px; */
    margin-right: 0px;
    /* text-align: center !important; */ }
    .categoryMenu h1 {
      font-size: 29px; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      margin: 5.5px;
      height: 185.09px; }
    .categoryMenu .category-container .front {
      background-size: 58.1px; }
    .categoryMenu .category-container#moreService .front {
      background-size: 95.45px; }
    .categoryMenu .category-container#internet .front {
      background-size: 41.5px; } }
/* Portrait phones and smaller */
@media (max-width: 630px) {
  .container-fluid {
    /* padding-left: 15px; */
    /*     padding-right: 5px;
        padding-left: 5px; */ }

  .sectionbottom {
    padding-right: 5px !important;
    padding-left: 5px !important; }

  .categoryMenu .category-container,
  .categoryMenu .category-container .front,
  .categoryMenu .category-container .back {
    margin: 5.5px;
    width: 95%;
    height: 223px; }
  .categoryMenu .category-container .front {
    background-size: 70px; }
  .categoryMenu .category-container#moreService .front {
    background-size: 115px; }
  .categoryMenu .category-container#internet .front {
    background-size: 50px; } }

/*# sourceMappingURL=categoryMenu.css.map */
