.planArea {
  padding-top: 35px; }

#orderBy {
  padding: 5px 10px 0 0;
  width: 221px;
  margin: 0;
  margin-top: 20px;
  box-shadow: none;
  border-radius: 5px;
  position: Absolute;
  top: 15px;
  right: 0px;
  padding-left: 5px;
  background: white;
  text-align: center;
  box-shadow: 1px 2px 6px -2px #777;
  border: 0;
  border-radius: 0px; }
  #orderBy p,
  #orderBy button {
    display: inline-block !important;
    font-size: 13px;
    background: transparent;
    margin-top: 2px;
    border: 1px solid #c3c7cc;
    border-radius: 0px;
    padding-top: 3px;
    margin-left: 5px;
    border: 0px;
    box-shadow: 0 0 0; }
    #orderBy p .glyphicon,
    #orderBy button .glyphicon {
      color: #767373; }
  #orderBy p {
    border: 0px; }

.categoryAndSearch {
  width: 100%;
  overflow: hidden; }
  .categoryAndSearch .categorySide {
    position: relative;
    background-repeat: no-repeat; }
    .categoryAndSearch .categorySide h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 13%;
      color: #404041; }
    .categoryAndSearch .categorySide .shadow {
      background-image: url("/public/images/shadowLeft.png");
      background-repeat: no-repeat;
      background-position-x: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 17px; }
  .categoryAndSearch .searchSide {
    background-color: #f5f6f3;
    text-align: center; }
    .categoryAndSearch .searchSide p {
      color: #8c8c8c;
      opacity: 0.8; }
    .categoryAndSearch .searchSide h1 {
      font-weight: bold;
      color: #e7b85f;
      opacity: 0.8; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      right: 0;
      left: auto;
      color: #e7b85f;
      opacity: 0.8; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      border-color: #c1c4c6;
      color: #8c8c8c; }
    .categoryAndSearch .searchSide .has-success .form-control:hover,
    .categoryAndSearch .searchSide .has-success .form-control:focus {
      border: 0;
      box-shadow: 0 0 3px 1px #e7b85f; }
  .categoryAndSearch .cellular {
    background-color: #9e9684;
    background-size: 22% !important; }
  .categoryAndSearch .tv {
    background-color: #9cc6b9; }
  .categoryAndSearch .internet {
    background-color: #bf7a66;
    background-size: 21% !important; }
  .categoryAndSearch .internationalCalls {
    background-color: #87a5c0; }
  .categoryAndSearch .telephone {
    background-color: #e7b85f; }
  .categoryAndSearch .moreService {
    background-color: #799b8f; }

@media (min-width: 1200px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 195px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 40px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 371px; }
  .categoryAndSearch .searchSide {
    padding: 44px 91px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 41px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 56px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 40px;
      top: 12px;
      padding-right: 25px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 75px;
      padding-left: 12px;
      font-size: 19px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 161.85px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 33.2px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 307.93px; }
  .categoryAndSearch .searchSide {
    padding: 36.52px 75.53px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 34.03px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 46.48px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 33.2px;
      top: 7px;
      padding-right: 20.75px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 62.25px;
      padding-left: 9.96px;
      font-size: 15.77px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .planArea {
    padding-top: 45px; }

  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 124.8px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 25.6px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 58.24px; }
    .categoryAndSearch .searchSide p {
      font-size: 16px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 26.24px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 36%;
    background-size: 41%; }
    .categoryAndSearch .categorySide h1 {
      bottom: 9%;
      font-size: 20px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 28.24px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 20px; }
    .categoryAndSearch .searchSide p {
      font-size: 16px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  #orderBy {
    width: 100%; }

  .categoryAndSearch .categorySide {
    background-position: 50% 50%;
    background-size: 50% !important; }
    .categoryAndSearch .categorySide h1 {
      bottom: 18%;
      font-size: 20px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 10px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 16px; }
    .categoryAndSearch .searchSide p {
      font-size: 12px;
      margin-bottom: 15px;
      margin-top: 15px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }

/*# sourceMappingURL=categoryPage.css.map */
