.companyMenu {
  padding-right: 0;
  max-height: 575px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 575px;
  direction: ltr; }
  .companyMenu .tooltip {
    width: 122px;
    left: -125px !important;
    top: -9px !important; }
  .companyMenu .moreCompanyButton {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center; }
    .companyMenu .moreCompanyButton .glyphicon {
      padding-right: 10px; }
  .companyMenu .title,
  .companyMenu .moreCompanyButton {
    color: #696666;
    line-height: 1.495;
    background-color: #c1c4c6;
    text-align: center;
    background-color: #dadada;
    text-align: center;
    border: none;
    margin-right: 0.1px; }
  .companyMenu .moreCompanyButton:focus,
  .companyMenu .moreCompanyButton:hover {
    box-shadow: 0 1px 1px 0px #939393;
    background: #eeeeee; }
  .companyMenu .wrapper button {
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 6px -2px #777;
    margin-bottom: 13px; }
    .companyMenu .wrapper button:focus, .companyMenu .wrapper button:hover {
      outline: none;
      box-shadow: 0 1px 1px 0px #939393;
      background: #eeeeee; }
    .companyMenu .wrapper button .circle {
      border-radius: 50%;
      border: 2px dashed #8d8d8d;
      float: right;
      margin-right: -6px;
      background-color: white; }
      .companyMenu .wrapper button .circle .circleInner {
        background-color: #8c8c8c;
        border-radius: 50%;
        color: white; }
    .companyMenu .wrapper button .logo {
      float: left;
      text-align: center;
      overflow: hidden; }
      .companyMenu .wrapper button .logo img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%; }

@media (min-width: 1200px) {
  .companyMenu .title {
    font-size: 22px;
    width: 268px;
    height: 39px;
    margin-bottom: 25px; }
  .companyMenu .wrapper button {
    width: 257px;
    height: 72px;
    margin-bottom: 10px; }
    .companyMenu .wrapper button .circle {
      height: 72px;
      width: 72px;
      margin-right: -6px; }
      .companyMenu .wrapper button .circle .circleInner {
        height: 61px;
        width: 61px;
        padding-top: 16px;
        font-size: 37px;
        margin-top: 3px; }
    .companyMenu .wrapper button .logo {
      height: 68px;
      width: 136px;
      margin-left: 31px;
      margin-top: 4px; }
  .companyMenu .moreCompanyButton {
    width: 230px;
    height: 39px;
    font-size: 28px !important;
    margin-right: 0.1px;
    margin-top: 8px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .companyMenu {
    max-height: 470px; }
    .companyMenu .title {
      font-size: 19.09px;
      width: 222.44px;
      height: 32.37px;
      margin-bottom: 20.75px; }
    .companyMenu .wrapper button {
      width: 213.31px;
      height: 59.76px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 59.76px;
        width: 59.76px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 50.63px;
          width: 50.63px;
          padding-top: 13.28px;
          font-size: 30.71px;
          margin-top: 2.49px; }
      .companyMenu .wrapper button .logo {
        height: 56.44px;
        width: 112.88px;
        margin-left: 25.73px;
        margin-top: 3.32px; }
    .companyMenu .moreCompanyButton {
      width: 190.9px;
      height: 32.37px;
      font-size: 23.24px !important;
      margin-right: 0.1px;
      margin-top: 6.64px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .companyMenu {
    max-height: 368px; }
    .companyMenu .title {
      font-size: 16px;
      width: 171.52px;
      height: 24.96px;
      margin-bottom: 16px; }
    .companyMenu .wrapper button {
      width: 164.48px;
      height: 46.08px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 46.08px;
        width: 46.08px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 39.04px;
          width: 39.04px;
          padding-top: 9.24px;
          font-size: 23.68px;
          margin-top: 1.92px; }
      .companyMenu .wrapper button .logo {
        height: 43.52px;
        width: 87.04px;
        margin-left: 19.84px;
        margin-top: 2.56px; }
    .companyMenu .moreCompanyButton {
      width: 147.2px;
      height: 24.96px;
      font-size: 17.92px !important;
      margin-right: 0.1px;
      margin-top: 5.12px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .companyMenu {
    max-height: 215px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /* display: flex; */
    /* justify-content: space-between; */ }
    .companyMenu .title {
      font-size: 22px;
      width: 100%;
      height: 39px;
      margin-bottom: 25px; }
    .companyMenu .wrapper {
      padding-right: 0; }
    .companyMenu .wrapper button {
      margin-left: 15px;
      float: right;
      width: 141.35px;
      height: 39.6px;
      margin-bottom: 10px;
      font-size: 15px !important;
      border-radius: 0;
      text-align: center; }
      .companyMenu .wrapper button .circle {
        background-color: initial;
        border: none;
        height: 35.3px;
        width: 39.6px;
        margin-right: -6px;
        display: none; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 33.55px;
          width: 33.55px;
          padding-top: 7.8px;
          font-size: 20.35px;
          margin-top: 1.65px;
          background-color: rgba(140, 140, 140, 0.33); }
      .companyMenu .wrapper button .logo {
        height: 37.4px;
        width: 74.8px;
        margin-left: 26.05px;
        margin-top: 0.2px;
        font-size: 9px !important;
        /* margin: 0 auto; */ }
    .companyMenu .moreCompanyButton {
      float: right;
      font-size: 28px !important;
      margin-right: 0;
      margin-top: 0;
      height: 42.35px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .companyMenu .title, .companyMenu .moreCompanyButton {
    background-color: initial;
    border-bottom: 1px solid #e8b44c;
    margin-bottom: 15px; }

  .companyMenu .wrapper button {
    overflow: hidden;
    width: 29%;
    margin: 2%;
    height: 32.4px;
    border-radius: 0px;
    font-size: 12px !important; }
    .companyMenu .wrapper button .glyphicon-triangle-bottom {
      top: -5px;
      display: none; }
    .companyMenu .wrapper button .circle {
      display: none; }
    .companyMenu .wrapper button .logo {
      height: 30.6px;
      width: 100%;
      margin-left: 13.95px;
      margin-top: 0;
      text-align: center;
      float: none; }
      .companyMenu .wrapper button .logo img {
        max-height: 93%;
        max-width: 80%; }
  .companyMenu .moreCompanyButton {
    width: 122px;
    font-size: 15px !important;
    height: 27px;
    margin-top: 5px; } }
@media (max-width: 767pxx) {
  .moreCompaniesMenu {
    display: flex;
    justify-content: space-between; } }

/*# sourceMappingURL=companyMenu.css.map */
