.sectionMiddle.compnayPage {
  padding-top: 15px; }

.dispalyNone {
  display: none; }

.listInsideList a {
  font-size: 15px !important; }

.twiiter, .fax {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2px; }

.twiiter {
  background-image: url("/public/images/icon/twitter.png"); }

.fax {
  background-image: url("/public/images/icon/fax.png"); }

.consumers {
  list-style: none;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px; }

#serviceBox {
  padding-top: 15px; }
  #serviceBox .logo {
    text-align: center;
    margin-bottom: 25px; }
  #serviceBox .info {
    opacity: 0.8;
    font-size: 15px;
    padding-right: 10px; }
  #serviceBox .service {
    min-height: 500px;
    margin-top: -3px; }
    #serviceBox .service .title {
      position: relative;
      overflow: hidden;
      margin-bottom: 5px; }
      #serviceBox .service .title img {
        max-height: 50px;
        width: 50px; }
      #serviceBox .service .title span {
        font-size: 22px;
        position: absolute;
        bottom: 5px;
        border-bottom: 3px solid #8b8989;
        width: 100%;
        color: #8b8989;
        padding-right: 10px; }
    #serviceBox .service #accordion .icon {
      margin-left: 10px;
      font-size: 24px;
      color: #e6b043; }
    #serviceBox .service #accordion a {
      color: #8b8989; }
    #serviceBox .service #accordion ul {
      width: calc(100% - 75px);
      margin-right: 35px; }
      #serviceBox .service #accordion ul .glyphicon {
        margin-left: 15px;
        font-size: 25px;
        color: #3f3f3f; }
    #serviceBox .service #accordion .contactBy {
      color: #3f3f3f;
      font-weight: bold;
      position: absolute;
      top: 12px;
      text-decoration: underline; }
    #serviceBox .service #accordion .listInsideList {
      padding-right: 65px;
      margin-right: -10px; }
  #serviceBox .news {
    min-height: 500px;
    overflow: hidden; }
    #serviceBox .news .title {
      text-align: center;
      border-bottom: 3px solid #dddddd;
      background: whitesmoke;
      color: #8b8989;
      padding: 10px;
      margin-bottom: -2px; }

.company {
  width: 100%;
  background-image: url("/public/images/companyBackground.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .company .logo img {
    width: auto; }
  .company .text h3 {
    text-align: center;
    color: #eeeeee;
    opacity: 0.8; }
    .company .text h3 span {
      color: #e7b042;
      font-weight: bold; }
  .company .search .form-control-feedback#iconSearch {
    left: auto;
    color: #e7b85f;
    opacity: 0.8; }
  .company .search .has-feedback .form-control {
    border-color: #c1c4c6;
    color: #8c8c8c; }
  .company .search .has-success .form-control:hover,
  .company .search .has-success .form-control:focus {
    border: 0;
    box-shadow: 0 0 3px 1px #e7b85f; }

.contactWrapper {
  padding-right: 4px;
  padding-top: 10px; }
  .contactWrapper .contactToCompnay {
    border: 5px solid #e7b042;
    background: #fcfdfc;
    border-radius: 10px; }
    .contactWrapper .contactToCompnay .title {
      background: #e6b043;
      display: inline-block;
      color: #f5f5f2;
      margin-top: 21px;
      padding: 4px 10px 5px 10px;
      min-width: 200px; }
    .contactWrapper .contactToCompnay .logo {
      float: left;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: -25px;
      width: auto;
      height: 50px;
      max-width: 150px; }
    .contactWrapper .contactToCompnay .control-label {
      color: rgba(140, 140, 140, 0.8);
      font-size: 16px;
      padding-left: 10px; }
    .contactWrapper .contactToCompnay .padding {
      padding: 0px 20px 0px 40px; }
    .contactWrapper .contactToCompnay .subject .wrapper {
      margin-right: -5px;
      width: calc(100% - 50px); }
    .contactWrapper .contactToCompnay .subject .checkbox-inline {
      padding-left: 0px !important;
      margin-left: 21px;
      padding-right: 7px;
      padding-left: 0px !important; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline label::after {
        color: #e6b043 !important;
        left: -2px !important; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline:first-of-type {
        margin-right: -10px; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline input[type="checkbox"],
      .contactWrapper .contactToCompnay .subject .checkbox-inline input[type="radio"] {
        position: absolute;
        left: -18px; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline label {
        padding-right: 0px !important; }
    .contactWrapper .contactToCompnay .input-group-addon {
      background: #f5f5f2;
      border: 1px solid #ccc;
      text-align: right;
      color: rgba(140, 140, 140, 0.8);
      min-width: 125px;
      font-size: 16px;
      padding-left: 10px; }
    .contactWrapper .contactToCompnay button {
      background: #8c8c8c;
      border: none;
      border-radius: 0px;
      color: white;
      height: 30px;
      width: 90px;
      font-size: 16px;
      margin-top: 15px; }

.aboutTheCompanyWrapper {
  padding-top: 10px; }
  .aboutTheCompanyWrapper .aboutTheCompany {
    background-color: #fcfdfc;
    box-shadow: 5px 8.66px 9.7px 0.3px rgba(0, 0, 0, 0.078);
    margin-left: auto;
    margin-right: auto;
    padding: 15px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      border: 10px solid #e6b043; }
    .aboutTheCompanyWrapper .aboutTheCompany .title {
      text-align: center;
      font-size: 35.18px;
      font-family: "Arimo";
      color: #e8b44c;
      font-weight: bold;
      margin-bottom: 15px; }
    .aboutTheCompanyWrapper .aboutTheCompany .body {
      color: #5e5a5a;
      opacity: 0.8;
      font-size: 20px;
      line-height: 1.5; }

.compnayPage .morCompany {
  max-height: 90px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  overflow: hidden; }
  .compnayPage .morCompany .nextSlide,
  .compnayPage .morCompany .priviousSlide {
    background: none;
    border: none;
    outline: none;
    color: #c1c4c6; }
  .compnayPage .morCompany .morCompanySlider {
    text-align: center; }
    .compnayPage .morCompany .morCompanySlider .item {
      padding: 0 10px; }
      .compnayPage .morCompany .morCompanySlider .item img {
        max-height: 50px;
        max-width: 89%;
        margin: 0 auto;
        min-height: 20px; }
  .compnayPage .morCompany .wrapText {
    height: 10px;
    margin-bottom: 40px; }
    .compnayPage .morCompany .wrapText .title {
      font-size: 18px;
      position: relative;
      top: -4px; }

.tabFilter {
  padding-top: 55px; }
  .tabFilter .nav-tabs {
    border-bottom: 5px solid #e6b043 !important; }
    .tabFilter .nav-tabs li {
      z-index: 50;
      background: #eeeeee;
      margin-bottom: 0px; }
      .tabFilter .nav-tabs li.active {
        z-index: inherit;
        background: none; }
    .tabFilter .nav-tabs li .arrow {
      visibility: hidden;
      right: calc(50% - 12px);
      top: 100%;
      border: solid transparent;
      position: absolute;
      pointer-events: none;
      border-top-color: #e6b043;
      border-width: 15px;
      z-index: 100; }
    .tabFilter .nav-tabs li.active .arrow {
      visibility: visible; }
    .tabFilter .nav-tabs li:before {
      content: " | ";
      position: absolute;
      top: 1px;
      font-size: 1.5em;
      color: rgba(112, 109, 109, 0.8);
      font-weight: 600;
      z-index: 50;
      right: -7px; }
    .tabFilter .nav-tabs li:first-child:before,
    .tabFilter .nav-tabs li.active:before, .tabFilter .nav-tabs .main:before {
      opacity: 0; }
    .tabFilter .nav-tabs > li > a {
      color: rgba(112, 109, 109, 0.8);
      padding-bottom: 0px;
      height: 40px;
      border-radius: 0px;
      line-height: 15px;
      margin-right: 5px;
      padding-left: 25px;
      padding-right: 25px; }
  .tabFilter .nav-tabs > li.active > a,
  .tabFilter .nav-tabs > li.active > a:focus,
  .tabFilter .nav-tabs > li.active > a:hover {
    background-color: #e6b043 !important;
    border: 1px solid #e8b043 !important;
    border-bottom-color: #e8b043 !important;
    border-radius: 0px !important;
    color: rgba(255, 255, 255, 0.81) !important;
    z-index: 51; }
    .tabFilter .nav-tabs > li.active > a:after,
    .tabFilter .nav-tabs > li.active > a:focus:after,
    .tabFilter .nav-tabs > li.active > a:hover:after {
      cc: cc; }
  .tabFilter .nav-tabs > li > a:hover {
    border-color: #eee #eee #e6b043;
    cursor: pointer;
    color: #706d6d; }

@media (min-width: 1200px) {
  .tabFilter .nav-tabs {
    padding-right: 175px; }

  .company {
    height: 377px; }
    .company .logo {
      padding-top: 65px;
      padding-right: 230px; }
      .company .logo img {
        height: 97px; }
    .company .text {
      width: 535px; }
      .company .text h3 span {
        font-size: 35px; }
    .company .search {
      width: 445px;
      margin-right: 50px;
      padding-top: 20px; }
      .company .search .form-control {
        height: 60px;
        font-size: 20px;
        padding-right: 65px; }
      .company .search .form-control-feedback#iconSearch {
        right: 20px;
        top: 16px;
        font-size: 26px; }

  .contactWrapper .contactToCompnay {
    width: 540px;
    height: 475px; }

  .aboutTheCompanyWrapper .aboutTheCompany {
    width: 521px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      padding: 0px 30px; }

  .compnayPage .morCompany {
    max-width: 522px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .company {
    height: 307.93px; }
    .company .logo {
      padding-top: 40px;
      padding-right: 190.9px; }
      .company .logo img {
        height: 80.51px; }
    .company .text {
      width: 444.05px; }
      .company .text h3 span {
        font-size: 29.05px; }
    .company .search {
      width: 369.35px;
      margin-right: 41.5px;
      padding-top: 16.6px; }
      .company .search .form-control {
        height: 49.8px;
        font-size: 16.6px;
        padding-right: 53.95px; }
      .company .search .form-control-feedback#iconSearch {
        right: 16.6px;
        top: 13.28px;
        font-size: 21.58px; }

  .contactWrapper {
    padding: 0px; }
    .contactWrapper .contactToCompnay .subject label[for=subject] {
      text-align: right;
      margin-right: 20px;
      text-decoration: underline; }
    .contactWrapper .contactToCompnay .subject .wrapper {
      margin-right: 30px; }

  .aboutTheCompanyWrapper {
    padding-left: 0px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      border: 1px solid #e6b043;
      padding: 0 15px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (max-width: 991px) {
  .company {
    height: 237.44px; }
    .company .logo {
      padding-top: 25px;
      padding-right: 147.2px; }
      .company .logo img {
        height: 62.08px; }
    .company .text {
      width: 342.4px; }
      .company .text h3 {
        margin-top: 10px;
        margin-bottom: 10px; }
        .company .text h3 span {
          font-size: 22.4px; }
    .company .search {
      width: 284.8px;
      margin-right: 32px;
      padding-top: 12.8px; }
      .company .search .form-control {
        height: 38.4px;
        font-size: 12.8px;
        padding-right: 41.6px; }
      .company .search .form-control-feedback#iconSearch {
        right: 12.8px;
        top: 10.24px;
        font-size: 16.64px; }

  .contactWrapper {
    padding: 0px; }
    .contactWrapper .contactToCompnay .padding {
      padding: 0px 20px 0px 20px; }
    .contactWrapper .contactToCompnay .logo {
      margin-left: 20px; }
    .contactWrapper .contactToCompnay .subject label[for=subject] {
      text-align: right;
      margin-right: 20px;
      text-decoration: underline; }
    .contactWrapper .contactToCompnay .subject .wrapper {
      margin-right: 55px; }

  .aboutTheCompanyWrapper {
    padding-left: 0px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      border: 1px solid #e6b043;
      padding: 0 15px; }

  .tabFilter .nav-tabs {
    padding-right: 0px; } }
@media (max-width: 768px) {
  .aboutTheCompanyWrapper {
    padding-bottom: 30px;
    padding-right: 0px; }

  .tabFilter .nav-tabs > li {
    margin: 5px;
    background: #fcfdfc;
    background-color: #fcfdfc;
    box-shadow: 5px 8.66px 9.7px 0.3px rgba(0, 0, 0, 0.078);
    padding: 5px; }
    .tabFilter .nav-tabs > li.active .arrow {
      visibility: hidden; }
  .tabFilter .nav-tabs > li > a {
    margin: 0px;
    border: 1px solid #e6b043; }
  .tabFilter .nav-tabs > li::before,
  .tabFilter .nav-tabs > li::after {
    display: none; }

  .contactWrapper .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 0px; }
  .contactWrapper .padding {
    padding: 0px 20px 0px 10px !important; }
  .contactWrapper .subject .wrapper {
    margin-right: 30px;
    width: 100%; } }
@media (max-width: 350px) {
  .company .logo {
    padding-top: 25px;
    text-align: center;
    padding-right: 0px;
    width: 100%;
    text-align: center; }
  .company .text {
    width: 100%; }
    .company .text h3 {
      font-size: 20px;
      opacity: 1; }
  .company .search {
    width: 80%;
    margin: 0 auto; }
    .company .search .form-control-feedback#iconSearch {
      top: 3px; } }

/*# sourceMappingURL=companyPage.css.map */
