#contactFormModelDialog {
  /*  triangle */ }
  #contactFormModelDialog .modal-header .close {
    margin-top: -14px; }
  @media (max-width: 540px) {
    #contactFormModelDialog .modal-content {
      width: auto !important;
      padding-bottom: 15px; }
    #contactFormModelDialog .modal-content:after,
    #contactFormModelDialog .modal-content:before {
      display: none !important; } }
  #contactFormModelDialog .modal-content {
    border-radius: 40px;
    border: 5px solid #e7b042;
    box-shadow: none;
    width: 515px;
    margin: 0 auto; }
    #contactFormModelDialog .modal-content .modal-header {
      border-bottom: none; }
    #contactFormModelDialog .modal-content .modal-body {
      padding-top: 0;
      margin-top: -20px; }
      #contactFormModelDialog .modal-content .modal-body .form-control {
        border-radius: 0; }
      #contactFormModelDialog .modal-content .modal-body label {
        color: #b9b8b8;
        font-size: 18.75px; }
        #contactFormModelDialog .modal-content .modal-body label.required {
          color: #9a9696; }
      #contactFormModelDialog .modal-content .modal-body .sumbit {
        position: absolute;
        bottom: 0;
        width: 100%; }
        #contactFormModelDialog .modal-content .modal-body .sumbit button {
          background-color: #8c8c8c;
          width: 92px;
          height: 31px;
          border: 0;
          border-radius: 0;
          color: rgba(255, 255, 255, 0.8);
          font-size: 20px;
          padding-top: 2px; }
          #contactFormModelDialog .modal-content .modal-body .sumbit button span {
            top: 3px; }
    #contactFormModelDialog .modal-content .companyLogo {
      float: left;
      max-height: 50px; }
    #contactFormModelDialog .modal-content #companyName {
      width: 170px;
      background-color: #e7b042;
      margin-right: -15px;
      margin-top: 12px;
      padding-right: 10px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18.5px;
      height: 23px;
      line-height: 23px; }
    #contactFormModelDialog .modal-content .planeName {
      margin-bottom: 15px;
      margin-top: 25px; }
      #contactFormModelDialog .modal-content .planeName input {
        width: 246px;
        display: inline-block;
        border: none; }
      #contactFormModelDialog .modal-content .planeName label,
      #contactFormModelDialog .modal-content .planeName input {
        color: #b9b8b8;
        font-size: 18.75px; }
  #contactFormModelDialog .modal-content:after,
  #contactFormModelDialog .modal-content:before {
    content: '';
    display: block;
    position: absolute;
    left: 100.5%;
    width: 0;
    height: 0;
    border-style: solid;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  #contactFormModelDialog .modal-content:after {
    border-color: transparent transparent transparent #ffffff;
    border-width: 80px;
    left: 169px; }
  #contactFormModelDialog .modal-content:before {
    top: 100.5%;
    border-color: transparent transparent transparent #e7b042;
    border-width: 85px;
    left: 165px; }

/*# sourceMappingURL=contactFormModelDialog.css.map */
