h1 {
  font-size: 29px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5,
p,
a,
button {
  font-size: 22px; }

/* Large desktops and laptops */
        /*
@media (min-width: 1200px) {
    h1 {
        font-size: 29px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5,
    p,
    a,
    button {
        font-size: 22px;
    }
}
/* Landscape tablets and medium desktops (320/1200=83%) */
        /*
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 29px * 0.83;
    }
    h2 {
        font-size: 27px * 0.83;
    }
    h3 {
        font-size: 25px * 0.83;
    }
    h4 {
        font-size: 20px * 0.83;
    }
    h5,
    p,
    a,
    button {
        font-size: 23px * 0.83;
    }
}
/* Portrait tablets and small desktops     //(320/1200=64%) */
        /*
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 29px * 0.64;
    }
    h2 {
        font-size: 27px * 0.64;
    }
    h3 {
        font-size: 25px * 0.64;
    }
    h4 {
        font-size: 20px * 0.64;
    }
    h5,
    p,
    a,
    button {
        font-size: 23px * 0.64;
    }
}
/* Landscape phones and portrait tablets */
        /*
@media (max-width: 767px) {
    h1 {
        font-size: 29px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5,
    p,
    a,
    button {
        font-size: 22px;
    }
}
/* Portrait phones and smaller */
            /*
    @media (max-width: 480px) {}

    */

/*# sourceMappingURL=fontSize.css.map */
