footer {
  position: relative; }

.footer {
  background-color: #cacaca;
  position: relative;
  display: flex; }
  .footer .jumpTop {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-image: url("/public/images/arrowTop.png");
    height: 31px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none; }
  .footer .socialNetwork {
    position: absolute;
    left: 35%;
    bottom: 15px; }
    .footer .socialNetwork li:first-child {
      margin-top: 12px; }
    .footer .socialNetwork li:nth-child(5) a {
      background-position-x: 1px; }
    .footer .socialNetwork li:nth-child(4) a {
      background-position-x: -43px; }
    .footer .socialNetwork li:nth-child(3) a {
      background-position-x: -96px; }
    .footer .socialNetwork li:nth-child(2) a {
      background-position-x: -142px; }
    .footer .socialNetwork a {
      background-image: url("/public/images/soical_network.png");
      background-repeat: no-repeat;
      opacity: 0.6;
      width: 44px;
      height: 43px; }
      .footer .socialNetwork a:hover, .footer .socialNetwork a:focus {
        opacity: 1; }
  .footer .arrow {
    width: 0;
    height: 0;
    position: absolute;
    left: 0; }
  .footer .list-group-item {
    text-align: right;
    border: 0;
    background: none;
    padding: 7px;
    font-size: 19px;
    color: #696666;
    font-weight: bold;
    text-align: center; }
    .footer .list-group-item a {
      text-decoration: none;
      color: #696666;
      font-size: 19px;
      font-weight: normal; }
  .footer .list-group {
    border-left: 2px solid #b3b3b3;
    padding-right: 15px;
    flex: 1;
    /* text-align: center; */
    /* margin-left: 5%; */ }
    .footer .list-group.noBorderLeft {
      border-left: 0px; }
  .footer .list-group:last-child {
    border-left: 0;
    padding-right: 15px; }

.bottomShadow {
  display: none; }

@media (min-width: 1230px) {
  #wrapper .footer {
    margin-top: 130px;
    height: 215px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 50px; }
    #wrapper .footer .arrow {
      border-left: 600px solid transparent;
      border-right: 600px solid transparent;
      border-bottom: 106px solid #cbcbcb;
      bottom: 215px; } }
@media (min-width: 1200px) and (max-width: 1229px) {
  #wrapper .footer {
    margin-top: 126.75px;
    height: 209.625px;
    padding: 0 40px; }
    #wrapper .footer .arrow {
      border-left: 585px solid transparent;
      border-right: 585px solid transparent;
      border-bottom: 103.35px solid #cbcbcb;
      bottom: 209.625px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  #wrapper .footer {
    margin-top: 104px;
    height: 187px; }
    #wrapper .footer .arrow {
      border-left: 480px solid transparent;
      border-right: 480px solid transparent;
      border-bottom: 84.8px solid #cbcbcb;
      bottom: 187px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  #wrapper .footer {
    margin-top: 81.25px;
    height: 187px; }
    #wrapper .footer .arrow {
      border-left: 375px solid transparent;
      border-right: 375px solid transparent;
      border-bottom: 66.25px solid #cbcbcb;
      bottom: 187px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #wrapper .footer {
    margin-top: -70px;
    height: 280px;
    z-index: 100;
    background-color: #cbcbcb;
    padding-top: 50px;
    display: flex; }
    #wrapper .footer .arrow {
      display: none; }
    #wrapper .footer .socialNetwork {
      bottom: 5px; }
      #wrapper .footer .socialNetwork li {
        display: inline-block !important;
        float: right; }
    #wrapper .footer .jumpTop {
      bottom: 10px; }
  #wrapper .bottomShadow {
    display: block;
    transform: rotate(180deg);
    z-index: 50;
    display: none; } }
@media (min-width: 600px) and (max-width: 766px) {
  #wrapper .footer {
    margin-top: -73px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  #wrapper .footer {
    margin-top: -64px;
    height: 315px;
    overflow: hidden;
    display: flex; }
    #wrapper .footer .list-group-item {
      padding: 6px 0px;
      font-size: 15px;
      text-align: center; }
      #wrapper .footer .list-group-item a {
        font-size: 15px; }
    #wrapper .footer .socialNetwork {
      position: absolute;
      left: 48px;
      bottom: 50px; }
    #wrapper .footer .jumpTop {
      bottom: 5px;
      left: 6px;
      height: 40px;
      width: 29px; } }

/*# sourceMappingURL=footer.css.map */
