@media (max-width: 600px) {
  nav #menuButtons {
    background: #e0dede; } }
nav #menuButtons .memuButton a {
  color: #696666;
  opacity: 0.8;
  z-index: 49;
  position: relative;
  /* font-weight: bolder; */
  color: rgba(105, 102, 102, 0.8);
  /* border-left: 1px solid red; */ }
  nav #menuButtons .memuButton a .borderLeft {
    color: red;
    width: 2px;
    height: 20px;
    background: #989797;
    float: left;
    margin-right: 20px;
    position: relative;
    top: 2px; }
  nav #menuButtons .memuButton a .glyphicon {
    top: 16px;
    left: -13px;
    position: absolute;
    font-size: 0.8em; }
  nav #menuButtons .memuButton a:hover, nav #menuButtons .memuButton a:focus, nav #menuButtons .memuButton a:active {
    color: #eabe65;
    opacity: 1;
    text-decoration: underline; }
  nav #menuButtons .memuButton a.active {
    color: #eabe65; }
nav #menuButtons .separator {
  padding-top: 10px;
  color: #696666;
  opacity: 0.8;
  margin: 0 !important; }
nav #menuButtons .dropdown-menu {
  background: #e7b042;
  border: 4px solid #eeeeee; }
  nav #menuButtons .dropdown-menu li {
    padding: 0 11px; }
    nav #menuButtons .dropdown-menu li:last-child a {
      border-bottom: 0; }
    nav #menuButtons .dropdown-menu li a {
      color: #eeeeee;
      border-bottom: 3px solid #eeeeee;
      background-position-y: -1px; }
      nav #menuButtons .dropdown-menu li a:hover, nav #menuButtons .dropdown-menu li a:focus {
        background-color: #3f3f3f;
        text-decoration: none; }
nav #menuButtons .socialNetwork a {
  background-image: url("/public/images/soical_network.png");
  background-repeat: no-repeat;
  opacity: 0.6; }
  nav #menuButtons .socialNetwork a:hover, nav #menuButtons .socialNetwork a:focus {
    opacity: 1; }
nav .navbar-toggle {
  background: #3f3f3f;
  margin-top: 70px; }
  nav .navbar-toggle .icon-bar {
    background: #eabe65; }
nav #siteLogo {
  z-index: 50;
  position: relative; }

/* Large desktops and laptops */
@media (min-width: 1200px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 22px; }
  nav #menuButtons {
    padding-top: 142px;
    padding-right: 263px; }
    nav #menuButtons .memuButton {
      margin-left: 5px; }
  nav #siteLogo {
    width: 263px;
    height: 169px; }
  nav .socialNetwork li:nth-child(4) a {
    background-position-x: 1px; }
  nav .socialNetwork li:nth-child(3) a {
    background-position-x: -43px; }
  nav .socialNetwork li:nth-child(2) a {
    background-position-x: -96px; }
  nav .socialNetwork li:nth-child(1) a {
    background-position-x: -142px; }
  nav .socialNetwork a {
    width: 44px;
    height: 43px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 19.09px; }
  nav #menuButtons {
    padding-top: 117.86px;
    padding-right: 218.29px; }
    nav #menuButtons .memuButton {
      margin-left: -3px; }
  nav #siteLogo {
    width: 218.29px;
    height: 140.27px; }
  nav .socialNetwork {
    padding-top: 5px; }
    nav .socialNetwork li:nth-child(4) a {
      background-position-x: 0; }
    nav .socialNetwork li:nth-child(3) a {
      background-position-x: -35px; }
    nav .socialNetwork li:nth-child(2) a {
      background-position-x: -78px; }
    nav .socialNetwork li:nth-child(1) a {
      background-position-x: -115px; }
    nav .socialNetwork a {
      background-size: cover;
      width: 35.26px;
      height: 35.26px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 14.72px; }
  nav #menuButtons {
    padding-top: 90.88px;
    padding-right: 164.32px; }
    nav #menuButtons .memuButton {
      margin-left: -20px; }
    nav #menuButtons .separator {
      padding-top: 13px;
      padding-right: 10px; }
  nav #siteLogo {
    width: 168.32px;
    height: 108.16px; }
  nav .socialNetwork {
    padding-top: 9px;
    margin-left: -15px; }
    nav .socialNetwork li:nth-child(4) a {
      background-position-x: 1px; }
    nav .socialNetwork li:nth-child(3) a {
      background-position-x: -29px; }
    nav .socialNetwork li:nth-child(2) a {
      background-position-x: -66px; }
    nav .socialNetwork li:nth-child(1) a {
      background-position-x: -98px; }
    nav .socialNetwork a {
      background-size: cover;
      width: 27.52px;
      height: 27.52px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 22px; }
  nav #siteLogo {
    height: 90px; }
  nav #menuButtons .separator {
    display: none; }
  nav #menuButtons .dropdown-menu {
    width: calc(100% - 100px);
    margin-right: 90px;
    margin-top: -34px;
    /* position: fixed; */ }
  nav #menuButtons .memuButton:hover a:not(.dropdown-menu a) {
    color: #e7b042;
    text-decoration: underline; }
  nav .socialNetwork {
    text-align: left;
    margin-left: 0; }
    nav .socialNetwork li {
      display: inline-block; }
      nav .socialNetwork li:nth-child(4) a {
        background-position-x: 0; }
      nav .socialNetwork li:nth-child(3) a {
        background-position-x: -43px; }
      nav .socialNetwork li:nth-child(2) a {
        background-position-x: -95px; }
      nav .socialNetwork li:nth-child(1) a {
        background-position-x: -141px; }
    nav .socialNetwork a {
      width: 43px;
      height: 43px; } }
/* Portrait phones and smaller */
@medi;

/*# sourceMappingURL=nav.css.map */
