.postPage .postImage {
  width: 115px;
  height: 100px;
  box-shadow: 1px 2px 6px -2px #777; }
.postPage .postBody {
  color: #696666;
  opacity: 0.8;
  margin-bottom: 15px; }
.postPage .postArea {
  padding-top: 20px; }
  @media (max-width: 480px) {
    .postPage .postArea {
      margin-top: 50px; } }
@media (min-width: 1230px) {
  .postPage.sectionMiddle {
    margin-top: 90px; } }

/*# sourceMappingURL=postPage.css.map */
