#injectHtml {
  padding: 0; }
  #injectHtml li {
    list-style: none; }

.readMore ul {
  padding-right: 0px;
  margin-top: 25px; }
  .readMore ul .desTitle {
    color: rgba(0, 0, 0, 0.8) !important; }

.promotions {
  position: relative; }
  .promotions .planbox {
    border-style: solid;
    border-width: 1px;
    border-color: #c3c7cc;
    border-radius: 9px;
    background-image: linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -moz-linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #ebedee 0%, white 100%);
    box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
    position: relative; }
    .promotions .planbox .companyBox {
      height: 100%;
      position: static;
      text-align: center; }
      .promotions .planbox .companyBox .logo {
        position: absolute;
        top: 35px;
        bottom: 35px;
        right: 0;
        left: 84%;
        border-left: 6px solid #cdcdcd; }
    .promotions .planbox .textBox {
      padding-right: 0;
      padding-top: 0;
      opacity: 0.85; }
      .promotions .planbox .textBox .planTitle ul {
        margin-bottom: 0; }
      .promotions .planbox .textBox .planTitle ul li {
        display: inline-block;
        list-style: none; }
        .promotions .planbox .textBox .planTitle ul li h2 {
          padding: 0;
          margin: 0;
          display: inline-block;
          font-weight: bold;
          color: #5e5a5a; }
      .promotions .planbox .textBox .planTitle li:after {
        content: " - ";
        font-size: 35px;
        font-weight: bold;
        color: #5e5a5a; }
      .promotions .planbox .textBox .planTitle li:last-child:after {
        content: ""; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 23px;
        list-style: none;
        margin-bottom: 5px; }
        .promotions .planbox .textBox .planDescription ul li .desText {
          color: #5e5a5a; }
        .promotions .planbox .textBox .planDescription ul li .desTitle {
          color: #e7b042;
          font-weight: bold;
          float: right;
          padding-left: 5px; }
      .promotions .planbox .textBox .planDescription li .desTitle:after {
        content: ":"; }
    .promotions .planbox .priceBox .price {
      color: #8c8c8c;
      font-weight: bold; }
    .promotions .planbox .priceBox .contact button {
      border: none;
      border-radius: 10px;
      background-color: #e8b44c;
      color: white; }
      .promotions .planbox .priceBox .contact button, .promotions .planbox .priceBox .contact button:hover, .promotions .planbox .priceBox .contact button:focus {
        outline: none; }
    .promotions .planbox .priceBox .contact:hover button, .promotions .planbox .priceBox .contact:focus button {
      box-shadow: inset 0 4px 10px 0 #dc984d;
      -webkit-box-shadow: inset 0 4px 10px 0 #dc984d;
      -moz-box-shadow: inset 0 4px 10px 0 #dc984d;
      -o-box-shadow: inset 0 4px 10px 0 #dc984d; }
    .promotions .planbox .more ul {
      list-style: none;
      text-align: center;
      width: 100%;
      padding: 0; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li a,
        .promotions .planbox .more ul li span {
          color: #e6b043; }
  .promotions .ClickToReadMore {
    color: #e9b44c;
    font-size: 15px; }

@media (min-width: 1200px) {
  .promotions .planbox {
    width: 100%;
    margin: 35px auto 0 auto;
    padding-top: 35px;
    padding-bottom: 35px; }
    .promotions .planbox .companyBox .logo img {
      max-width: 148px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 35px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 35px; }
    .promotions .planbox .textBox .planTitle li:last-child:after {
      content: ""; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 23px; }
    .promotions .planbox .priceBox .price {
      font-size: 46.235px;
      margin-top: -8px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 40px; }
      .promotions .planbox .priceBox .contact button {
        width: 138px;
        height: 115px;
        font-size: 25px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 10px;
        width: 23px;
        margin: 0 auto;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-top: 23px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 21px;
          margin-left: 15px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 15px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .promotions .planbox {
    width: 100%;
    margin: 29.05px auto 0 auto;
    padding-top: 29.05px;
    padding-bottom: 29.05px; }
    .promotions .planbox .companyBox .logo img {
      max-width: 122.84px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 29.05px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 29.05px; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 19.09px; }
    .promotions .planbox .priceBox .price {
      font-size: 38.37505px;
      margin-top: -6.64px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 33.2px; }
      .promotions .planbox .priceBox .contact button {
        width: 114.54px;
        height: 95.45px;
        font-size: 25.73px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 8.3px;
        width: 19.09px;
        margin: 0 auto;
        border-left: 19.09px solid transparent;
        border-right: 19.09px solid transparent;
        border-top: 19.09px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 17.43px;
          margin-left: 12.45px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 12.45px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .promotions .planbox {
    width: 100%;
    margin: 22.4px auto 0 auto;
    padding-top: 22.4px;
    padding-bottom: 22.4px; }
    .promotions .planbox .priceNotes {
      font-size: 10px; }
    .promotions .planbox .companyBox .logo {
      top: 30px;
      bottom: 30px; }
      .promotions .planbox .companyBox .logo img {
        max-width: 94.72px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 22.4px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 22.4px; }
    .promotions .planbox .textBox .planDescription {
      padding: 10px 0; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 16px; }
    .promotions .planbox .priceBox .price {
      font-size: 29.5904px;
      margin-top: -5.12px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 25.6px; }
      .promotions .planbox .priceBox .contact button {
        width: 88.32px;
        height: 73.6px;
        font-size: 14.84px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 6.4px;
        width: 14.72px;
        margin: -1px auto;
        border-left: 14.72px solid transparent;
        border-right: 14.72px solid transparent;
        border-top: 14.72px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 13.44px;
          margin-left: 9.6px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 9.6px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .promotions .planbox {
    width: 100%;
    margin: 35px auto 0 auto;
    padding-top: 15px;
    padding-bottom: 25px; }
    .promotions .planbox .companyBox {
      position: relative;
      border-bottom: 5px solid #9c9a9a;
      padding-bottom: 15px;
      text-align: right;
      /* display: flex; */ }
      .promotions .planbox .companyBox .logo {
        width: calc(100% - 176px);
        position: static;
        padding-right: 25px;
        border: 0px; }
        .promotions .planbox .companyBox .logo .helper {
          display: none; }
        .promotions .planbox .companyBox .logo img {
          height: 48px;
          width: auto; }
    .promotions .planbox .textBox {
      border: 0; }
      .promotions .planbox .textBox .planTitle li:after {
        font-size: 35px; }
      .promotions .planbox .textBox .planTitle li:last-child:after {
        content: ""; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 16px; }
    .promotions .planbox .priceBox {
      position: static; }
      .promotions .planbox .priceBox .price {
        position: absolute;
        top: 15px;
        left: 30px;
        width: 171px;
        font-size: 46.235px;
        margin-top: -8px; }
      .promotions .planbox .priceBox .contact {
        padding-top: 15px; }
        .promotions .planbox .priceBox .contact button {
          width: calc(100% - 60px);
          height: 60px;
          border-radius: 0;
          font-size: 31px; }
        .promotions .planbox .priceBox .contact .triangle {
          display: none; }
    .promotions .planbox .more ul {
      margin-top: 10px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 21px;
          margin-left: 15px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 15px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .promotions .planbox {
    box-shadow: 1px 2px 6px -2px #777;
    border: 0;
    border-radius: 0px; }
    .promotions .planbox .companyBox .logo {
      padding-right: 0px; }
    .promotions .planbox .textBox .planTitle {
      padding-top: 15px; }
      .promotions .planbox .textBox .planTitle ul {
        padding-right: 15px;
        padding-bottom: 5px; }
      .promotions .planbox .textBox .planTitle li:after {
        font-size: 16px; }
    .promotions .planbox .textBox .planDescription ul {
      padding-right: 16px; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 13px; }
    .promotions .planbox .priceBox .price {
      font-size: 30px;
      width: calc(100% - 108px);
      text-align: left;
      height: 65px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      .promotions .planbox .priceBox .price small {
        font-size: 10px;
        margin-top: -5px; }
    .promotions .planbox .priceBox .contact button {
      font-size: 31px;
      height: auto; }
    .promotions .planbox .more ul li:first-child a {
      font-size: 21px; }
    .promotions .planbox .more ul li:last-child a {
      font-size: 15px; } }

/*# sourceMappingURL=promotions.css.map */
