.serviceMenu {
  padding-left: 0;
  padding-right: 0; }
  .serviceMenu a:focus,
  .serviceMenu a:hover {
    text-decoration: none; }
  .serviceMenu #description {
    color: #c1c4c6;
    opacity: 0;
    transition: opacity 1s linear; }
  .serviceMenu .popover {
    border: 2px solid #e7b042;
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif; }
  .serviceMenu .popover-title {
    background-color: #eabe65; }
  .serviceMenu .buttonsAria .description {
    display: none; }
    @media (max-width: 992px) {
      .serviceMenu .buttonsAria .description {
        margin-top: 5px; } }
  .serviceMenu .buttonsAria .serviceButton {
    display: inline-table; }
    .serviceMenu .buttonsAria .serviceButton .circle {
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background-position: 50% 77%;
      background-repeat: no-repeat; }
      .serviceMenu .buttonsAria .serviceButton .circle:hover, .serviceMenu .buttonsAria .serviceButton .circle:focus {
        box-shadow: 0 1px 1px 2px #939393; }
      .serviceMenu .buttonsAria .serviceButton .circle h2 {
        color: #eeeeee;
        font-weight: bold;
        white-space: pre-line;
        width: 74%;
        margin-left: auto;
        margin-right: auto; }
    .serviceMenu .buttonsAria .serviceButton#businessService .circle {
      background-color: #e7b85f;
      background-image: url("/public/images/icon/lamp.png"); }
    .serviceMenu .buttonsAria .serviceButton#moving .circle {
      background-color: #bf7a66;
      background-image: url("/public/images/icon/home.png"); }
    .serviceMenu .buttonsAria .serviceButton#billsCheck .circle {
      background-color: #87a5c0;
      background-image: url("/public/images/icon/bill.png"); }
    .serviceMenu .buttonsAria .serviceButton#disconnected .circle {
      background-color: #799b8f;
      background-image: url("/public/images/icon/disconnect.png"); }

@media (min-width: 1200px) {
  .serviceMenu {
    margin-top: 65px; }
    .serviceMenu h2 {
      font-size: 27px; }
    .serviceMenu .buttonsAria {
      padding-top: 45px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 222px;
        height: 206px;
        margin: 15px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          width: 221px;
          height: 205px;
          padding-top: 15px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .serviceMenu {
    margin-top: 53.95px; }
    .serviceMenu h2 {
      font-size: 22.41px; }
    .serviceMenu .buttonsAria {
      padding-top: 37.35px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 184.26px;
        height: 170.98px;
        margin: 12.45px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 25%;
          background-position: 50% 82%;
          width: 183.43px;
          height: 170.15px;
          padding-top: 12.45px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .serviceMenu {
    margin-top: 41.6px; }
    .serviceMenu h2 {
      font-size: 17.28px; }
    .serviceMenu .buttonsAria {
      padding-top: 28.8px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 142.08px;
        height: 131.84px;
        margin: 9.6px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 26%;
          background-position: 50% 82%;
          width: 141.44px;
          height: 131.2px;
          padding-top: 1px; } }
@media (max-width: 767px) {
  .serviceMenu {
    margin-top: 41.6px; }
    .serviceMenu h2 {
      font-size: 27px; }
    .serviceMenu .buttonsAria {
      padding-top: 28.8px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: auto;
        height: auto;
        margin: 5px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 26%;
          background-position: 50% 82%;
          width: 141.44px;
          height: 131.2px;
          padding-top: 1px; }
          .serviceMenu .buttonsAria .serviceButton .circle h2 {
            font-size: 17.28px; } }
@media (min-width: 466px) and (max-width: 670px) {
  .serviceMenu .buttonsAria .serviceButton .circle {
    background-size: 26%;
    background-position: 50% 82%;
    width: 183.8px;
    height: 170.8px;
    padding-top: 1px;
    margin: 10px; }
    .serviceMenu .buttonsAria .serviceButton .circle h2 {
      font-size: 22.28px;
      width: 59%; } }
@media (max-width: 340px) {
  .serviceMenu .buttonsAria .serviceButton {
    width: 45%; }
    .serviceMenu .buttonsAria .serviceButton .circle {
      background-size: 26%;
      background-position: 50% 82%;
      width: 100%;
      height: 140.8px;
      padding-top: 1px;
      margin: 0px; }
      .serviceMenu .buttonsAria .serviceButton .circle h2 {
        font-size: 18px;
        width: 59%; } }

/*# sourceMappingURL=serviceMenu.css.map */
