.imgLazyLoad {
  background-image: url("/public/images/fiveSliderPic/default.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.sectionTop #siteSlider {
  background-color: #f5f5f2; }
  .sectionTop #siteSlider .sliderBtn {
    position: absolute;
    bottom: 8px; }
  .sectionTop #siteSlider .defaultSlider .glyphicon-time {
    font-size: 60px;
    background: #e9b44e;
    border-radius: 5px;
    padding: 7px 5px 5px 5px;
    color: #3e3e3e;
    box-shadow: 0px 0px 6px -1px; }
  .sectionTop #siteSlider .sliderImg {
    float: left; }
  .sectionTop #siteSlider .compass {
    height: 100%; }
  .sectionTop #siteSlider .carousel-control.right {
    background-color: #f5f5f2;
    background-image: initial;
    opacity: 1; }
    .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
      position: absolute;
      margin-top: -85px;
      width: 131px;
      opacity: 0.8;
      line-height: 1.1;
      right: 52px; }
      @media (min-width: 768px) {
        .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
          right: 40px;
          margin-top: -60px; } }
      @media (min-width: 962px) {
        .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
          right: 72px;
          margin-top: -85px; } }
      @media (min-width: 1230px) {
        .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
          right: 100px;
          margin-top: -85px; } }
  .sectionTop #siteSlider .glyphicon-chevron-right,
  .sectionTop #siteSlider .carousel-control.left {
    position: absolute;
    color: #c1c4c6; }
  .sectionTop #siteSlider .glyphicon-chevron-right {
    opacity: .5;
    right: 30px; }
    .sectionTop #siteSlider .glyphicon-chevron-right:hover, .sectionTop #siteSlider .glyphicon-chevron-right:focus {
      opacity: 1; }
  .sectionTop #siteSlider .carousel-control.left {
    background-color: transparent; }
  .sectionTop #siteSlider .glyphicon-chevron-left {
    left: 15px; }
  .sectionTop #siteSlider .carousel-indicators {
    position: absolute;
    bottom: 0;
    width: 227px;
    text-align: center;
    right: 94%; }
  .sectionTop #siteSlider .carousel-caption {
    text-shadow: none;
    color: #8c8c8c; }
  .sectionTop #siteSlider .clickToService {
    background-color: #8c8c8c;
    border: none;
    height: 38px;
    color: rgba(245, 245, 242, 0.8);
    line-height: 11px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 0.9;
    justify-content: space-between;
    align-items: center;
    text-align: right; }
    .sectionTop #siteSlider .clickToService span {
      font-size: 0.7em;
      color: #f5f5f2;
      font-weight: bold; }
    .sectionTop #siteSlider .clickToService:hover, .sectionTop #siteSlider .clickToService:focus {
      background-color: #3f3f3f; }
  @media (max-width: 1200px) {
    .sectionTop #siteSlider .price {
      font-size: 36px; } }
  .sectionTop #siteSlider .price {
    font-size: 33px;
    color: #eabe65;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: none;
    background: #f5f5f2; }
  .sectionTop #siteSlider .offerLogo {
    margin-bottom: 10px; }
    @media (min-width: 634px) and (max-width: 767px) {
      .sectionTop #siteSlider .offerLogo {
        margin-left: -30px;
        background-color: #f5f5f2; } }
  .sectionTop #siteSlider .offerText {
    margin-bottom: 0;
    opacity: 0.8;
    /* font-size: 1em; */
    font-size: 22px; }
    @media (max-width: 1190px) {
      .sectionTop #siteSlider .offerText {
        font-size: 13px; } }
    .sectionTop #siteSlider .offerText .categoreName {
      color: #e7b042; }
    .sectionTop #siteSlider .offerText .main {
      max-height: 30px;
      overflow: hidden;
      line-height: 0.70; }
  .sectionTop #siteSlider .wrapper {
    overflow: hidden; }
  .sectionTop #siteSlider .clickToCompare {
    background-color: #e6e1e1;
    position: absolute;
    bottom: 4%;
    padding-top: 2px; }
    .sectionTop #siteSlider .clickToCompare:hover, .sectionTop #siteSlider .clickToCompare:focus {
      background-color: #696666; }
      .sectionTop #siteSlider .clickToCompare:hover a, .sectionTop #siteSlider .clickToCompare:focus a {
        color: #eeeeee;
        text-decoration: none; }
    .sectionTop #siteSlider .clickToCompare a {
      color: #8c8c8c;
      text-shadow: none; }
      .sectionTop #siteSlider .clickToCompare a span {
        font-size: 15px; }

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 22px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 371px; }
  .sectionTop #siteSlider .sliderImg {
    width: 556px; }
  .sectionTop #siteSlider .sliderBtn {
    bottom: 15px; }
  .sectionTop #siteSlider .carousel-caption {
    right: 295px;
    left: 556px;
    top: 0;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */ }
  .sectionTop #siteSlider .clickForSaveMoney {
    cursor: pointer; }
  .sectionTop #siteSlider .compass {
    margin-right: 65px; }
  .sectionTop #siteSlider .offerLogo img {
    height: 86px;
    width: auto; }
  .sectionTop #siteSlider .wrapper {
    height: 98px;
    padding-right: 10px;
    line-height: 1.1; }
  .sectionTop #siteSlider .carousel-indicators {
    right: 96%; }
  .sectionTop #siteSlider .clickToCompare {
    height: 34px;
    width: 177px;
    right: 80px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 19.09px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 307.93px; }
  .sectionTop #siteSlider .sliderImg {
    width: 428.48px; }
  .sectionTop #siteSlider .carousel-caption {
    right: 244.85px;
    left: 461.48px;
    top: 0; }
  .sectionTop #siteSlider .compass {
    margin-right: 53.95px; }
  .sectionTop #siteSlider .offerLogo img {
    height: 71.38px;
    width: auto;
    margin-top: -10px; }
  .sectionTop #siteSlider .wrapper {
    height: 91px;
    padding-right: 10px; }
  .sectionTop #siteSlider .carousel-indicators {
    right: 93%; }
  .sectionTop #siteSlider .clickToCompare {
    height: 28.22px;
    width: 146.91px;
    right: 66.4px;
    padding-top: 0; }
    .sectionTop #siteSlider .clickToCompare a {
      font-size: 17px !important; }
      .sectionTop #siteSlider .clickToCompare a span {
        font-size: 12px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 14.72px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 237.44px; }
  .sectionTop #siteSlider .sliderImg {
    width: 355.84px; }
  .sectionTop #siteSlider .carousel-caption {
    right: 188.8px;
    left: 355.84px;
    top: 0; }
  .sectionTop #siteSlider .compass {
    margin-right: 41.6px; }
  .sectionTop #siteSlider .offerLogo img {
    height: 55.04px;
    width: auto;
    margin-top: -10px; }
  .sectionTop #siteSlider .wrapper {
    height: 58px;
    padding-right: 15px; }
  .sectionTop #siteSlider .price {
    font-size: 19.23px; }
  .sectionTop #siteSlider .carousel-indicators {
    right: 90%; }
  .sectionTop #siteSlider .clickToCompare {
    height: 21.76px;
    width: 113.28px;
    right: 51.2px;
    padding-top: 4px;
    line-height: 2px; }
    .sectionTop #siteSlider .clickToCompare a {
      font-size: 13px !important; }
      .sectionTop #siteSlider .clickToCompare a span {
        font-size: 11px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 22px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 237.44px;
    display: none; }
  .sectionTop #siteSlider .sliderImg {
    height: 237.44px;
    width: auto; }
  .sectionTop #siteSlider .carousel-caption {
    right: 0;
    left: 48%;
    top: 0; }
  .sectionTop #siteSlider .carousel-control.right {
    background-color: transparent; }
  .sectionTop #siteSlider .compass {
    display: none; }
  .sectionTop #siteSlider .glyphicon-chevron-left {
    left: 30px; }
  .sectionTop #siteSlider .offerLogo {
    float: left; }
    .sectionTop #siteSlider .offerLogo img {
      height: 55.04px;
      width: auto;
      margin-top: 5px;
      box-shadow: 0px 0px 4px 0px #eeeeee;
      background: #eeeeee; }
  .sectionTop #siteSlider .wrapper {
    overflow: hidden;
    max-height: 98px;
    padding: 0 15px;
    height: auto; }
  .sectionTop #siteSlider .carousel-indicators {
    display: none; }
  .sectionTop #siteSlider .price {
    font-size: 20.23px; }
  .sectionTop #siteSlider .clickToCompare {
    display: none; }
  .sectionTop #siteSlider .clickToService:hover, .sectionTop #siteSlider .clickToService:focus {
    background-color: #eeeeee;
    color: #494543; }
    .sectionTop #siteSlider .clickToService:hover span, .sectionTop #siteSlider .clickToService:focus span {
      color: #494543; } }
@media (max-width: 633px) {
  .carousel-caption {
    background-color: rgba(61, 61, 61, 0.91);
    opacity: 1;
    left: 0 !important;
    padding-left: 30px; }

  #siteSlider .sliderImg {
    float: none !important;
    margin: 0 auto; } }
/* Portrait phones and smaller */

/*# sourceMappingURL=slider.css.map */
