article.container-fluid.article
  .wrapText
    h2 כתבות ועדכונים
  .articleArea
    .row
      //-.col-xs-12.col-sm-6.post
        a(href='https://kanmashvim.co.il/%d7%9c%d7%95%d7%a8%d7%9d-%d7%90%d7%99%d7%a4%d7%a1%d7%95%d7%9d/')
          .postThumbnail
            img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width='200', height='171', src='https://kanmashvim.co.il/wp-content/uploads/2017/01/0o1a0851-176.jpg', alt='')
        .textBox
          a(href='https://kanmashvim.co.il/%d7%9c%d7%95%d7%a8%d7%9d-%d7%90%d7%99%d7%a4%d7%a1%d7%95%d7%9d/')
            h3.title
              | לורם איפסום
            p.content
              | לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה – לתכי מורגם בורק? לתיג ישבעס. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. […]                  
              span.readMore
                | קרא עוד 
                img(src='https://kanmashvim.co.il/wp-content/themes/kanmashvim/src/img/readMore.png', alt='')
        .share
          ul.socialNetwork
            li.text שתף ב
            li
              a(title='כאן משווים - בפייסבוק', href='#')
            li
              a(title='כאן משווים - בטוויטר', href='#')
            li
              a(title='כאן משווים - בגוגל+', href='#')
            li
              a(title='כאן משווים - ביוטיוב', href='#')
   
      each obj in data['posts']
        .col-xs-12.col-sm-6.post
          a(href=`/post/${obj.title.replace(/ /g, "-")}`)
            .postThumbnail
              img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width='200', height='133', src=`${obj.picture.url}`, alt='')
          .textBox
            a(href=`/post/${obj.title.replace(/ /g, "-")}`)
              h3.title
                | #{obj.title}
              p.content
                - let excerpt = obj.body.split(" ", 50).join(' ')
                | #{excerpt} …            
                span.readMore
                  | קרא עוד 
                  img(src='/public/images/readMore.png', alt='')
          //-.share
            ul.socialNetwork
              li.text שתף ב
              li
                a(title='כאן משווים - בפייסבוק', href='#')
              li
                a(title='כאן משווים - בטוויטר', href='#')
              li
                a(title='כאן משווים - בגוגל+', href='#')
              li
                a(title='כאן משווים - ביוטיוב', href='#')