.categoryAndSearch
  .col-xs-6.icon.categorySide(class=`${data.page.className}` style=`background-image: url(${data.page.icon? data.page.icon.url : '/public/images/company_logo/default.png'})`)
    .shadow
    h1#pageTitle #{data.page.name} 
  .col-xs-6.searchSide
    div
      h1
        | השוואת מחירים חבילות #{data.page.name}
      p
        | כל המבצעים של כל החברות,
        br
        | הגיע הזמן להתחיל לחסוך גם #{data.page.name}!!
    // Page Content
    p
    //-.form-group.has-success.has-feedback
      label.control-label.sr-only(for='inputSuccess5') Hidden label
      span#iconSearch.glyphicon.glyphicon-search.form-control-feedback(aria-hidden='true')
      input#inputSuccess5.form-control(type='text', aria-describedby='inputSuccess5Status', placeholder='חיפוש באתר')
      span#inputSuccess5Status.sr-only (success)
 