.col-xs-12.col-sm-9.categoryMenu.text-center.col-sm-push-3
	#boxWrapper.text-right(class='0.64')
		a(href='/category/סלולר')
			#cellular.category-container(ontouchstart="this.classList.toggle('hover');", tabindex='0', rule='button')
				.flipper
					.front
						h1 סלולר
					.back
						img(src='/public/images/concept/manCalling.jpg', alt='סלולר - מבצעים חבילות ומכשירים')
						.text-center.menu
							h1 סלולר
							p
								a(href='/category/סלולר')
									| כל המבצעים
									span.glyphicon.glyphicon-triangle-left
		// end .category-container
		a(href='/category/טלוויזיה')
			#tv.category-container(ontouchstart="this.classList.toggle('hover');", tabindex='0', rule='button')
				.flipper
					.front
						h1 טלוויזיה
					.back
						img(src='/public/images/concept/showTv.jpg', alt='טלוויזיה - מבצעים חבילות ')
						.text-center.menu
							h1 טלוויזיה 
							p
								a(href='/category/טלוויזיה')
									| כל המבצעים
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/טלוויזיה/?filter=triple')
									| טריפל 
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/טלוויזיה/?filter=tv')
									| טלוויזיה בלבד
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/טלוויזיה/?filter=tv+int')
									| טלוויזיה ואינטנרט
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/טלוויזיה/?filter=tv+tel')
									| טלוויזיה וטלפון
									span.glyphicon.glyphicon-triangle-left
		// end .category-container
		a(href='/category/אינטרנט')
			#internet.category-container(ontouchstart="this.classList.toggle('hover');", tabindex='0', rule='button')
				.flipper
					.front
						h1 אינטרנט
					.back
						img(src='/public/images/concept/internet.jpg', alt='אינטנרט - מבצעים חבילות ')
						.text-center.menu
							h1 אינטנרט
							p
								a(href='/category/אינטרנט/?filter=notcombined')
									| כל המבצעים
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/אינטרנט/?filter=int')
									| תשתית בלבד
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/אינטרנט/?filter=isp')
									| ספק בלבד
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='/category/אינטרנט/?filter=bundle')
									| בנדל בלבד
									span.glyphicon.glyphicon-triangle-left
		// end .category-container
		//-a(href='/category/שיחות-בין-לאומיות')
			#internationalCalls.category-container(ontouchstart="this.classList.toggle('hover');", tabindex='0', rule='button')
				.flipper
					.front
						h1 שיחות לחו"ל
					.back
						img(src='/public/images/concept/internationalCalls.jpg', alt='שיחות בין לאומיות - מבצעים חבילות ')
						.text-center.menu
							h1 שיחות לחו"ל
							p
								a(href='3')
									| מבצעים
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='3')
									| מחירון
									span.glyphicon.glyphicon-triangle-left
		// end .category-container
		a(href='/category/טלפון')
			#telephone.category-container(ontouchstart="this.classList.toggle('hover');", tabindex='0', rule='button')
				.flipper
					.front
						h1 טלפון קווי
					.back
						img(src='/public/images/concept/oldPhone.jpg', alt='טלפון קווי - מבצעים חבילות ')
						.text-center.menu
							h1 טלפון קווי
							p
								a(href='3')
									| חבילת דקות
									span.glyphicon.glyphicon-triangle-left
							p
								a(href='3')
									| לא דיברת לא שילמת
									span.glyphicon.glyphicon-triangle-left
		// end .category-container
		//-#moreService.category-container(ontouchstart="this.classList.toggle('hover');", tabindex='0', rule='button')
			.flipper
				.front
					h1 בקרוב - קטגוריה חדשה
				.back
					img(src='/public/images/concept/moreCategory.jpg', alt='טלפון קווי - מבצעים חבילות ')
					.text-center.menu
						h1 קטגוריות נוספות
						p
							a(href='3')
								| חבילות
								span.glyphicon.glyphicon-triangle-left
						p
							a(href='3')
								| מכשירים
								span.glyphicon.glyphicon-triangle-left
		// end .category-container

