.company
  .logo
    img(src=`${data['page'].logo? data['page'].logo.url : '/public/images/company_logo/default.png' }`, alt=`${data['page'].name}`)
  .text
    h3
      |  כל המבצעים של חברת #{data['page'].name}
      br
      span
        | במקום אחד!
  //-.search
    .form-group.has-success.has-feedback
      label.control-label.sr-only(for='inputSuccess5') Hidden label
      span#iconSearch.glyphicon.glyphicon-search.form-control-feedback(aria-hidden='true')
      input#inputSuccess5.form-control(type='text', aria-describedby='inputSuccess5Status', placeholder='חיפוש באתר')
      span#inputSuccess5Status.sr-only (success)
.topShadow
  img(src='/public/images/shadow.png', width='100%', alt='')
