#contactFormModelDialog.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactFormModelDialog', style='display: none;')
  .modal-dialog(role='document')
    .modal-content 
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        img.companyLogo(src='', alt='')
        h4#CompanyName.modal-title לכבוד חברת:  
          span#company
        .form-group.planeName
          label.control-label(for='subject') אנא צרו עימי קשר בנוגע ל:
          input#subject.form-control(type='text')
      .modal-body
        form#contactModalform.form-horizontal
          .form-group
            label.control-label.col-sm-2.required(for='name') שם:
            .col-sm-10
              input#name.form-control(type='text', placeholder='שם (שדה חובה)')
          .form-group
            label.control-label.col-sm-2.required(for='tel') טלפון:
            .col-sm-10
              input#tel.form-control(type='tel', placeholder='טלפון (שדה חובה)', required='')
          .form-group
            label.control-label.col-sm-2(for='email') אימייל:
            .col-sm-10
              input#email.form-control(type='email', placeholder='אימייל')
          .hidden
            input.category(type='text')  
            p sdfds
          //- .form-group
          //-   label.control-label.col-sm-2(for='city') עיר:
          //-   .col-sm-10
          //-     input#city.form-control(type='text', placeholder='כתובת מגורים')
          .form-group
            label.control-label.col-sm-2(for='message') הודעה:
            .col-sm-10
              textarea#message.form-control(style='max-width: 100%;', rows='3', placeholder='הקלד/י הודעה לנציג החברה')
          .form-group
            .col-sm-12.text-center.sumbit
              button.btn.btn-default(type='submit')
                span.buttonText שליחה
                span.glyphicon.glyphicon-menu-left
              
