.contactToCompnay
  row
    h5.title
      | פנייה לנציג 
      span.companyName #{data['page'].name}
    img.logo(src=`${data['page'].logo? data['page'].logo.url : '/public/images/company_logo/default.png' }`, alt=`${data['page'].name}`)
    .clearfix
  form#contactformMultiCategories.form-horizontal
    .form-group.subject
      label.control-label.col-xs-12.col-lg-3.required(for='subject') נושא הפנייה:
      .col-xs-12.col-lg-9
        #contactCheckBox.wrapper
          .checkbox.checkbox-inline
            input#checkAll(type='checkbox' , name="checkAll")
            label(for='checkAll') הכל
          // here javascript inject checkbox from initializeTabsFilter()
    .form-group.padding
      label.control-label.hide.required(for='name') שם:
      .col-xs-12
        .input-group
          span.input-group-addon שמך:
          input#name.form-control(type='text', placeholder='אנא הקלד את שמך (שדה חובה)', aria-describedby='name', required='')
    .form-group.padding
      label.control-label.hide.required(for='tel') טלפון:
      .col-xs-12
        .input-group
          span.input-group-addon טלפון:
          input#tel.form-control(type='text', placeholder='טלפון (שדה חובה)', aria-describedby='tel', required='')
    .form-group.padding
      label.control-label.hide(for='email') אימייל:
      .col-xs-12
        .input-group
          span.input-group-addon דוא"ל:
          input#email.form-control(type='text', placeholder='דוגמא:israel@gmail.com', aria-describedby='email')
    .form-group.padding
      label.control-label.hide(for='message') הודעה:
      .col-xs-12
        textarea#message.form-control(style='max-width: 100%;', rows='3', placeholder='הקלד/י הודעה לנציג החברה')
    .form-group.padding
      .col-sm-12.sumbit
        button.btn.btn-default.buttonText(type='submit')
          | שלח 
          span.glyphicon.glyphicon-menu-left
