.col-xs-12.col-sm-3.rightSide
  .compass
  .text
    h2
      | סנן מבצעים
      br
      |  לפי מה שמתאים לך
// right
.col-xs-12.col-sm-9.leftSide
  .filterTitle
    h5 בחירת מסלולים 
    button.btn.btn-default.loadOnClick(type='button', title='החזר לפילטר לברירת מחדל', onclick='selectAllOption(this)', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>אפס ")
      | אפס
  .optionMenu
    .selectAllTitle
      p.loadOnClick(onclick='selectAllOption(this)', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>טוען ")
        | סנן את החבילה המתאימה ביותר עבורך
    // tv
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור בכל מסלולי הטלוויזיה', data-placement='left')
            input#checkbox1.filter_tv.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_tv' )", checked='')
            label(for='checkbox1')
        h5 טלוויזיה
      .col-xs-7.text-right
        select#filter_tv.selectpicker(multiple='', data-width='100%', data-header='בחר חבילות טלוויזיה', data-actions-box='true')
    // combinedWith
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור טלוויזיה + אינטרנט + טלפון', data-placement='left')
            input#checkbox2.filter_combinedWith.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_combinedWith' )", checked='')
            label(for='checkbox2')
        h5 חבילה משולבת עם
      .col-xs-7.text-right
        select#filter_combinedWith.selectpicker(multiple='', data-width='100%', data-header='בחר מוצרים נוספים לטלוויזיה', data-actions-box='true')
    // cellular
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לסנן חבילות סלולר', data-placement='left')
            input#checkbox6.filter_cellular.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_cellular' )", checked='')
            label(for='checkbox6')
        h5 חבילת סלולר
      .col-xs-7.text-right
        select#filter_cellular.selectpicker(multiple='', data-width='100%', data-header='בחר חבילות סלולר', data-actions-box='true')
    // cellularData
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור הכל', data-placement='left')
            input#checkbox8.filter_cellularData.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_cellularData' )", checked='')
            label(for='checkbox8')
        h5 נפח גלישה
      .col-xs-7.text-right
        select#filter_cellularData.selectpicker(multiple='', data-width='100%', data-header='בחר חבילות סלולר', data-actions-box='true')
    // internet
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור אינטרנט בכל המהירויות', data-placement='left')
            input#checkbox3.filter_internet.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_internet' )", checked='')
            label(for='checkbox3')
        h5 מהירות אינטרנט
      .col-xs-7.text-right
        select#filter_internet.selectpicker(multiple='', data-width='100%', data-header='בחר מסלול אינטרנט', data-actions-box='true')
    // internet Type
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור אינטרנט בכל המהירויות', data-placement='left')
            input#checkbox9.filter_internetType.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_internetType' )", checked='')
            label(for='checkbox9')
        h5 תשתית ספק או בנדל
      .col-xs-7.text-right
        select#filter_internetType.selectpicker(multiple='', data-width='100%', data-header='בחר מסלול אינטרנט', data-actions-box='true')
    // telephone
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור בכל מסלולי הטלפון', data-placement='left')
            input#checkbox4.filter_telephone.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_telephone' )", checked='')
            label(for='checkbox4')
        h5 מסלול טלפון
      .col-xs-7.text-right
        select#filter_telephone.selectpicker(multiple='', data-width='100%', data-header='בחר מסלול טלפון', data-actions-box='true')
    // filter_internationalCalls
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', data-trigger='hover', title='סמן בכדי לבחור בכל מסלולי הטלפון', data-placement='left')
            input#checkbox10.filter_internationalCalls.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_internationalCalls' )", checked='')
            label(for='checkbox10')
        h5 מסלול טלפון
      .col-xs-7.text-right
        select#filter_internationalCalls.selectpicker(multiple='', data-width='100%', data-header='בחר מסלול טלפון', data-actions-box='true')
    // companies
    .row.displayNone
      .col-xs-5.title
        .selectAll
          .checkbox.checkbox-warning(data-toggle='tooltip', ata-trigger='hover', title='סמן בכדי לבחור בכל מסלולי הטלוויזיה', data-placement='left')
            input#checkbox5.filter_companies.selectAllInput(type='checkbox', onchange="selcetAll( this , 'filter_companies' )", checked='')
            label(for='checkbox5')
        h5 בחר חברות להשוואה
      .col-xs-7.text-right
        select#filter_companies.selectpicker(multiple='', data-width='100%', data-header='בחר חבילות טלוויזיה', data-actions-box='true')
// left
