#contactFormModelDialog.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='contactFormModelDialog', style='display:none; padding-right: 17px;')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        img.companyLogo(src='/public/images/company_logo/default.png', alt='')
        h4#companyName.modal-title פנייה לחברה
        .form-group.planeName
          label.control-label(for='recipient-name') אנא צרו עימי קשר בנוגע ל:
          input#recipient-name.form-control(type='text')
      .modal-body
        form.form-horizontal
          .form-group
            label.control-label.col-sm-2.required(for='name') שם:
            .col-sm-10
              input#name.form-control(type='text', placeholder='שם (שדה חובה)')
          .form-group
            label.control-label.col-sm-2.required(for='tel') טלפון:
            .col-sm-10
              input#tel.form-control(type='tel', placeholder='טלפון (שדה חובה)', required='')
          .form-group
            label.control-label.col-sm-2(for='email') אימייל:
            .col-sm-10
              input#email.form-control(type='email', placeholder='אימייל')
          .form-group
            label.control-label.col-sm-2(for='city') עיר:
            .col-sm-10
              input#city.form-control(type='text', placeholder='כתובת מגורים')
          .form-group
            label.control-label.col-sm-2(for='message') הודעה:
            .col-sm-10
              textarea#message.form-control(style='max-width: 100%;', rows='3', placeholder='הקלד/י הודעה לנציג החברה')
              grammarly-btn
                ._e725ae-textarea_btn._e725ae-not_focused(style='z-index: 2; opacity: 1; transform: translate(374.828px, 43px);', data-grammarly-reactid='.0')
                  ._e725ae-transform_wrap(data-grammarly-reactid='.0.0')
                    ._e725ae-status(title='Protected by Grammarly', data-grammarly-reactid='.0.0.0')  
          .form-group
            .col-sm-12.text-center.sumbit
              button.btn.btn-default(type='submit')
                | שלח 
                span.glyphicon.glyphicon-menu-left
