.col-xs-12.serviceMenu
  .wrapText
    h3.title שירותים נוספים
  span(style='position: absolute;top:50px;left: 0;right: 0;height: 85%;background: rgba(255, 255, 255, 0.39);text-align: center;padding-top: 10%;font-size: 40px;color: rgba(0, 0, 0, 0.51);')
    | בקרוב... 
  .buttonsAria.text-center
    #businessService.serviceButton(onfocusin='description(this)', onmouseenter='description(this)', onfocusout="description(this , 'clear')", onmouseleave="description(this , 'clear')", tabindex='0', role='button')
      a(href='#')
        .circle
          h2.title שירות עסקי
      p.description
        | מרגיש שאתה משלם יותר מדיי על הוצאות התקשורת?
        br
        br
        strong נציג האתר ילווה אותך בחינם לחיסכון בהוצאות
    #moving.serviceButton(onfocusin='description(this)', onmouseenter='description(this)', onfocusout="description(this , 'clear')", onmouseleave="description(this , 'clear')", tabindex='0', role='button')
      a(href='#')
        .circle
          h2.title מעבר דירה בקלות
      p.description
        | עוברים דירה?
        br
        br
        strong מודיעים לכלל חברות התקשורת על הכתובת החדשה בלחיצת כפתור
    #billsCheck.serviceButton(onfocusin='description(this)', onmouseenter='description(this)', onfocusout="description(this , 'clear')", onmouseleave="description(this , 'clear')", tabindex='0', role='button')
      a(href='#')
        .circle
          h2.title בדיקת חשבונית
      p.description
        | לא בטוחים איפה עוד אפשר לחתוך בהוצאות?
        br
        br
        strong שלחו לנו את החשבונית שלכם ואנו נתאים לכם את המבצע הטוב ביותר עבורכם
    #disconnected.serviceButton(onfocusin='description(this)', onmouseenter='description(this)', onfocusout="description(this , 'clear')", onmouseleave="description(this , 'clear')", tabindex='0', role='button')
      a(href='#')
        .circle
          h2.title מתנתקים בקלות
      p.description
        | אין לכם כוח להתקשר לנציגי השירות?
        br
        br
        strong
          | שלחו הודעת ניתוק
          | בקלות ובמהירות לחברות התקשורת
  p#description
