.div
    h3.title גישה מהירה לחברות
    .wrapper
        .moreCompaniesMenu
        //-each obj in data['morCompanies'] GET DATA ONLY IN CLIENT SIDE
            include ./endToEndThem/moreCompaniesMenu-them.pug

        button.moreCompanyButton.widthfull.text-center.loadOnClick(onclick='api.buildMoreCompaniesMenu()', data-loading-text='טוען...')
            | חברות נוספות  
            span.glyphicon.glyphicon-triangle-bottom
