.morCompany.hidden-xs
  .wrapText
    p.title  לצפייה במבצעים של חברות נוספות
  .slider
    button.nextSlide.col-xs-1(type='button', data-role='none', aria-label='Previous', role='button', style='')
      span.glyphicon.glyphicon-chevron-right
    #injectmMorCompanySlider.morCompanySlider.slick-slider.col-xs-10.col-sm-9.col-md-10      
    button.priviousSlide.col-xs-1(type='button', data-role='none', aria-label='Previous', role='button', style='')
      span.glyphicon.glyphicon-chevron-left
