#serviceBox
  //-#serviceBoxSpinner
    .text-center
      br
      br
      img(src='/public/images//spin.svg', alt='')
  .col-xs-12.col-sm-8.service
    .title
      img(src=`${data['page'].logo? data['page'].logo.url : '/public/images/company_logo/default.png' }`, alt=`${data['page'].name} לוגו חברת`, height=50)
      span שירות לקוחות
    #accordion.panel-group(role='tablist', aria-multiselectable='true')
      .panel.panel-default
        #headingOne.panel-heading(role='tab')
          h4.panel-title
            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              span.icon.glyphicon.glyphicon-send
              |           פנייה אל
              |           #{data['page'].name}
        #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
          .panel-body
            ul.list-group 
              li#s_ByWebSite.list-group-item
                span.glyphicon.glyphicon-list-alt
                span.contactBy אתר אינטרנט
                ul.listInsideList.s_ByWebSite
                  li
                    a(href=`${data['page'].site}`) #{data['page'].site}
              li#s_ByMail.list-group-item
                span.glyphicon.glyphicon-envelope
                span.contactBy דואר אלקטרוני
                ul.listInsideList.s_ByMail
                  li
                    a(href=`${data['page'].email}`)
                      |  #{data['page'].email}
              li#s_ByPhone.list-group-item
                span.glyphicon.fax
                span.contactBy טלפונים
                if data['page'].telephone
                  each obj in data['page'].telephone
                    ul.listInsideList.s_ByFax
                      li
                        | #{obj.name} 
                        a(href=`http://\*${obj.number}`)
                          | #{obj.number}
                      if obj.info
                        p.info #{obj.info}          
              li#s_ByFaceBook.list-group-item
                span.glyphicon.glyphicon-thumbs-up
                span.contactBy דף הפייסבוק
                if data['page'].facebook
                  each obj in data['page'].facebook
                    ul.listInsideList.s_ByFaceBook
                      li
                        a(href=`${obj.link}`) #{obj.name}
                        if obj.info 
                          p.info  #{obj.info}
              li#s_ByTwiiter.list-group-item
                span.glyphicon.twiiter
                span.contactBy טוויטר
                ul.listInsideList.s_ByTwiiter
                  li
                    a(href='http://twwit') twwit
              li#s_ByAddress.list-group-item
                span.glyphicon.glyphicon-home
                span.contactBy כתובת החברה
                ul.listInsideList.s_ByAddress
                  li
                    a(href='http://maps.google.com/?q=יהושוע הצורף 13, באר שבע, מיקוד 84899\
                    ')
                      | יהושוע הצורף 13, באר שבע, מיקוד 84899
              li#s_ByFax.list-group-item
                span.glyphicon.fax
                span.contactBy פקס
                if data['page'].fax
                  each obj in data['page'].fax
                    ul.listInsideList.s_ByFax
                      li
                        | #{obj.name} 
                        a(href=`http://\*${obj.number}`)
                          | #{obj.number}
                      if obj.info
                        p.info #{obj.info}
              li#s_ByApp.list-group-item
                span.glyphicon.glyphicon-phone
                span.contactBy אפליקציה
                if data['page'].application
                  each obj in data['page'].application
                    ul.listInsideList.s_ByApp
                      li
                        | #{obj.name}&nbsp;&nbsp;
                        a(href=`${obj.link}`) #{obj.name}
                      if obj.info
                        p.info #{obj.info}
              //-if data['page'].application
                li#s_ByApp.list-group-item
                  span.glyphicon.glyphicon-phone
                  span.contactBy אפליקציה
                    each obj in data['page'].application
                      ul.listInsideList.s_ByApp
                        li
                          a(href=`${obj.link}`) #{obj.name}
                          if obj.info 
                            p.info  #{obj.info}
              li#s_ByComplains.list-group-item
                span.glyphicon.glyphicon-folder-open
                span.contactBy פניות הציבור
                ul.listInsideList.s_ByComplains
                  li
                    a #{data["page"].complain}
        if data['page'].selfService
          #s_BySelfService.panel.panel-default
            #headingTwo.panel-heading(role='tab')
              h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                  span.icon.glyphicon.glyphicon-user
                  |           שירות עצמי
            #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
              .panel-body
                each obj in data['page'].selfService
                  ul.listInsideList.s_BySelfService
                    li
                      a(href=`${obj.link}`) #{obj.name}
                      if obj.info 
                        p.info  #{obj.info}
        #headingThree.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              span.icon.glyphicon.glyphicon-pencil
              |           פניות הציבור - המועצה הישראלית לצרכנות
        #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
          .panel-body
            ul.listInsideList
              li.consumers
                | מרגישים שנעשה לכם עוול בחברת התקשורת, לא קיבלתם תשובה לתלונתכם, רוצים לשאול שאלה בנושא צרכנות?
              li
                a(href='http://www.consumers.org.il/category/complaint-form') http://www.consumers.org.il
    //-.comments_template
      #comments.comments-area
        h2.comments-title
          | דיון בנושא: “
          span הוט
          | ”
        ol.comment-list
          li#comment-2.comment.byuser.comment-author-doron-nahum.bypostauthor.even.thread-even.depth-1
            article#div-comment-2.comment-body
              footer.comment-meta
                .comment-author.vcard
                  img.avatar.avatar-32.photo(alt='', src='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=32&d=mm&r=g', srcset='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=64&d=mm&r=g 2x', height='32', width='32')
                  b.fn doron.nahum
                  span.says הגיב:
                // .comment-author
                .comment-metadata
                  a(href='http://localhost/hot/#comment-2')
                    time(datetime='2016-12-11T20:56:42+00:00')
                      | 11/12/2016 בשעה 20:56
                // .comment-metadata
              // .comment-meta
              .comment-content
                p df
              // .comment-content
              .reply
                a.comment-reply-link(rel='nofollow', href='http://localhost/hot/?replytocom=2#respond', onclick='return addComment.moveForm( "div-comment-2", "2", "respond", "236" )', aria-label='להגיב לdoron.nahum') הגב
            // .comment-body
          // #comment-##
          li#comment-3.comment.odd.alt.thread-odd.thread-alt.depth-1.parent
            article#div-comment-3.comment-body
              footer.comment-meta
                .comment-author.vcard
                  img.avatar.avatar-32.photo(alt='', src='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=32&d=mm&r=g', srcset='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=64&d=mm&r=g 2x', height='32', width='32')
                  b.fn לקוח מרוצה
                  span.says הגיב:
                // .comment-author
                .comment-metadata
                  a(href='http://localhost/hot/#comment-3')
                    time(datetime='2016-12-16T07:43:05+00:00')
                      | 16/12/2016 בשעה 7:43
                // .comment-metadata
              // .comment-meta
              .comment-content
                p תגובה נוספת
              // .comment-content
              .reply
                a.comment-reply-link(rel='nofollow', href='http://localhost/hot/?replytocom=3#respond', onclick='return addComment.moveForm( "div-comment-3", "3", "respond", "236" )', aria-label='להגיב ללקוח מרוצה') הגב
            // .comment-body
            ol.children
              li#comment-4.comment.even.depth-2
                article#div-comment-4.comment-body
                  footer.comment-meta
                    .comment-author.vcard
                      img.avatar.avatar-32.photo(alt='', src='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=32&d=mm&r=g', srcset='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=64&d=mm&r=g 2x', height='32', width='32')
                      b.fn לקוח מרוצה
                      span.says הגיב:
                    // .comment-author
                    .comment-metadata
                      a(href='http://localhost/hot/#comment-4')
                        time(datetime='2016-12-16T07:43:24+00:00')
                          | 16/12/2016 בשעה 7:43
                    // .comment-metadata
                  // .comment-meta
                  .comment-content
                    p תגובה לתגובה
                  // .comment-content
                  .reply
                    a.comment-reply-link(rel='nofollow', href='http://localhost/hot/?replytocom=4#respond', onclick='return addComment.moveForm( "div-comment-4", "4", "respond", "236" )', aria-label='להגיב ללקוח מרוצה') הגב
                // .comment-body
              // #comment-##
            // .children
          // #comment-##
          li#comment-5.comment.odd.alt.thread-even.depth-1
            article#div-comment-5.comment-body
              footer.comment-meta
                .comment-author.vcard
                  img.avatar.avatar-32.photo(alt='', src='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=32&d=mm&r=g', srcset='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=64&d=mm&r=g 2x', height='32', width='32')
                  b.fn לקוח מרוצה
                  span.says הגיב:
                // .comment-author
                .comment-metadata
                  a(href='http://localhost/hot/#comment-5')
                    time(datetime='2016-12-16T07:43:42+00:00')
                      | 16/12/2016 בשעה 7:43
                // .comment-metadata
              // .comment-meta
              .comment-content
                p תגובהלתגובה לתגובה
              // .comment-content
              .reply
                a.comment-reply-link(rel='nofollow', href='http://localhost/hot/?replytocom=5#respond', onclick='return addComment.moveForm( "div-comment-5", "5", "respond", "236" )', aria-label='להגיב ללקוח מרוצה') הגב
            // .comment-body
          // #comment-##
          li#comment-6.comment.even.thread-odd.thread-alt.depth-1
            article#div-comment-6.comment-body
              footer.comment-meta
                .comment-author.vcard
                  img.avatar.avatar-32.photo(alt='', src='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=32&d=mm&r=g', srcset='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=64&d=mm&r=g 2x', height='32', width='32')
                  b.fn אלדד
                  span.says הגיב:
                // .comment-author
                .comment-metadata
                  a(href='http://localhost/hot/#comment-6')
                    time(datetime='2016-12-16T09:23:55+00:00')
                      | 16/12/2016 בשעה 9:23
                // .comment-metadata
                p.comment-awaiting-moderation התגובה ממתינה לאישור.
              // .comment-meta
              .comment-content
                p זאת התגובה שלי
              // .comment-content
              .reply
                a.comment-reply-link(rel='nofollow', href='http://localhost/hot/?replytocom=6#respond', onclick='return addComment.moveForm( "div-comment-6", "6", "respond", "236" )', aria-label='להגיב לאלדד') הגב
            // .comment-body
          // #comment-##
          li#comment-7.comment.odd.alt.thread-even.depth-1
            article#div-comment-7.comment-body
              footer.comment-meta
                .comment-author.vcard
                  img.avatar.avatar-32.photo(alt='', src='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=32&d=mm&r=g', srcset='http://1.gravatar.com/avatar/4a778a2c2edc3f3b4733f0dc72ce02dc?s=64&d=mm&r=g 2x', height='32', width='32')
                  b.fn אלדד
                  span.says הגיב:
                // .comment-author
                .comment-metadata
                  a(href='http://localhost/hot/#comment-7')
                    time(datetime='2016-12-16T09:24:25+00:00')
                      | 16/12/2016 בשעה 9:24
                // .comment-metadata
                p.comment-awaiting-moderation התגובה ממתינה לאישור.
              // .comment-meta
              .comment-content
                p
                  | מחירים מופקעים מחירים מופקעיםמחירים מופקעיםמחירים מופקעיםמחירים מופקעיםמחירים מופקעים
              // .comment-content
              .reply
                a.comment-reply-link(rel='nofollow', href='http://localhost/hot/?replytocom=7#respond', onclick='return addComment.moveForm( "div-comment-7", "7", "respond", "236" )', aria-label='להגיב לאלדד') הגב
            // .comment-body
          // #comment-##
        // .comment-list
        #respond.comment-respond
          h3#reply-title.comment-reply-title
            | כתיבת תגובה 
            small
              a#cancel-comment-reply-link(rel='nofollow', href='/hot/#respond', style='display:none;') לבטל
          form#commentform.comment-form(action='http://localhost/wp-comments-post.php', method='post', novalidate='')
            p.comment-notes
              span#email-notes האימייל לא יוצג באתר.
              |  שדות החובה מסומנים 
              span.required *
            p.comment-form-comment
              label(for='comment') התגובה שלך
              textarea#comment(name='comment', cols='45', rows='8', maxlength='65525', aria-required='true', required='required', placeholder='הוסף תגובה..')
            p.comment-form-author
              label(for='author')
                | שם 
                span.required *
              input#author(name='author', type='text', value='asd', size='30', maxlength='245', aria-required='true', required='required')
            p.comment-form-email
              label(for='email')
                | אימייל 
                span.required *
              input#email(name='email', type='email', value='doron.nahum@gmail.com', size='30', maxlength='100', aria-describedby='email-notes', aria-required='true', required='required')
            p.comment-form-url
              label(for='url') אתר
              input#url(name='url', type='url', value='', size='30', maxlength='200')
            p.form-submit
              input#submit.submit(name='submit', type='submit', value='להגיב')
              input#comment_post_ID(type='hidden', name='comment_post_ID', value='236')
              input#comment_parent(type='hidden', name='comment_parent', value='0')
        // #respond
      // #comments
  //-.col-xs-12.col-sm-4.news
    h4.title
      | חדשות 
      span #{data["page"].name}
    #news
      iframe(style='height: 800px;width: 100%;border: 0;', ng-src=`https://feed.mikle.com/widget/?rssmikle_url=https://news.google.com/news/feeds?q=%D7%99%D7%A1&output=rss&ned=iw_il&hl=iw&num=10&rssmikle_frame_width=510&rssmikle_frame_height=800&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial,%20Helvetica,%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=on&text_align=right&text_align2=justify&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=5&mcspeed=20&sort=Off&rssmikle_title=off&rssmikle_title_bgcolor=#f8f8f8&rssmikle_title_color=#333333&rssmikle_item_bgcolor=#f8f8f8&rssmikle_item_title_length=55&rssmikle_item_title_color=#0066FF&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=200&rssmikle_item_description_color=#333333&rssmikle_item_date=gl1&rssmikle_timezone=Asia/Jerusalem&datetime_format=%e.%m.%Y %k:%M&item_description_style=text+tn&item_thumbnail=crop&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&rssmikle_frame_width=510&rssmikle_frame_height=800&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial, Helvetica, sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=on&text_align=right&text_align2=justify&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=5&mcspeed=20&sort=Off&rssmikle_title=off&rssmikle_title_bgcolor=#f8f8f8&rssmikle_title_color=#333333&rssmikle_item_bgcolor=#f8f8f8&rssmikle_item_title_length=55&rssmikle_item_title_color=#0066FF&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=200&rssmikle_item_description_color=#333333&rssmikle_item_date=gl1&rssmikle_timezone=Asia/Jerusalem&datetime_format=%e.%m.%Y %k:%M&item_description_style=text+tn&item_thumbnail=crop&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off`, src=`https://feed.mikle.com/widget/?rssmikle_url=https://news.google.com/news/feeds?q=%D7%99%D7%A1&output=rss&ned=iw_il&hl=iw&num=10&rssmikle_frame_width=510&rssmikle_frame_height=800&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial,%20Helvetica,%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=on&text_align=right&text_align2=justify&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=5&mcspeed=20&sort=Off&rssmikle_title=off&rssmikle_title_bgcolor=#f8f8f8&rssmikle_title_color=#333333&rssmikle_item_bgcolor=#f8f8f8&rssmikle_item_title_length=55&rssmikle_item_title_color=#0066FF&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=200&rssmikle_item_description_color=#333333&rssmikle_item_date=gl1&rssmikle_timezone=Asia/Jerusalem&datetime_format=%e.%m.%Y %k:%M&item_description_style=text+tn&item_thumbnail=crop&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&rssmikle_frame_width=510&rssmikle_frame_height=800&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial, Helvetica, sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=on&text_align=right&text_align2=justify&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=5&mcspeed=20&sort=Off&rssmikle_title=off&rssmikle_title_bgcolor=#f8f8f8&rssmikle_title_color=#333333&rssmikle_item_bgcolor=#f8f8f8&rssmikle_item_title_length=55&rssmikle_item_title_color=#0066FF&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=200&rssmikle_item_description_color=#333333&rssmikle_item_date=gl1&rssmikle_timezone=Asia/Jerusalem&datetime_format=%e.%m.%Y %k:%M&item_description_style=text+tn&item_thumbnail=crop&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off`)
