section.sectionTop.container-fluid
  //- <h5 class="welcomeTitle">
  //- <strong>כאן משווים</strong> הינו אתר השוואת מחירים בין חברות התקשורת - אנחנו כאן בשביל לחשוף בפניך את כלל המבצעים שהחברות מציעות בתחום הטלוויזיה , סלולר, אינטרנט ושיחות לחו"ל.
  //- <strong>כלל השירותים באתר בחינם עבורך!</strong>
  //-   //-<article id="post-16" class="post-16 page type-page status-publish hentry">
  //-   //-<header class="entry-header">
  //-   //-</header><!-- .entry-header
  //-   </h5>
  #siteSlider.carousel.slide.lazy-load(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#siteSlider', data-slide-to='0')
      li(data-target='#siteSlider', data-slide-to='1')
      li(data-target='#siteSlider', data-slide-to='2')
      li(data-target='#siteSlider', data-slide-to='3')
      li(data-target='#siteSlider', data-slide-to='4')
    // Wrapper for slides
    #injectSliderHtml.carousel-inner(role='listbox')
      if (data.promotions && data.promotions.length > 0)
        - var isActive = 0;
        - var path = ''
        - var logo = ''
        each product in data.promotions
          - isActive ++;
          - path = data.getPathByName[`${product.category ? product.category.name : ''}`]
          - logo = (product.company && product.company.logo ) ? product.company.logo.url : '/public/images/company_logo/default.png'
          .item.lazy-load(class=`${isActive === 1 ? 'active' : '' }`)
            img.sliderImg.imgLazyLoad(data-lazy-load-src=`/public/images/fiveSliderPic/${path}/${isActive}.jpg`, alt=``)
            .carousel-caption
              .row.offerLogo
                img(src=`${logo}`, alt='')
              .row.text-center.widthFull
                p.offerText.main 
                  span.categoreName #{product.category.name} -  
                  span #{product.name}
                .wrapper
                  p.offerText #{product.description}
                  //- p.offerText #{product.bonus}
              .row.text-center.widthFull
                .price
                  | #{product.price}
                  span  ₪ 
              .row.text-center.widthFull.sliderBtn
                button#target.clickToService(data-toggle='modal', data-target='#contactFormModelDialog', data-companyname=`${product.company? product.company.name : 'חברה'}`,data-category=`${product.categoryName}`, data-planename=`${product.name}`, data-logo=`${product.company.logo? product.company.logo.url : null}`)
                  | #{product.company ? ` לנציג חברת ${product.company.name}` : 'לנציג'} 
                  span.glyphicon.glyphicon-menu-left


      // item
      // Controls
      a.left.carousel-control(href='#siteSlider', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      .right.carousel-control
        img.compass(src='/public/images/compass.png', alt='לחץ להשוואת מחירים')
        span.textUnderCompass מבצעים מובילים!
        //*.clickToCompare
          a.clickForSaveMoney(type='button', onclick='clickForSaveMoney()')
            | לחיסכון בהוצאות 
            span.glyphicon.glyphicon-menu-left
        a(href='#siteSlider', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right.visibilityNone(aria-hidden='true')
          span.sr-only Next
  #scroll.topShadow
    img(src='/public/images/shadow.png', width='100%', alt='')
