#orderBy.row
  p סדר מבצעים
  button.title.loadOnClick(type='button', data-loading-text="מחיר<i class='fa fa-circle-o-notch fa-spin'></i> ", onclick="orderBy('price' , this)", aria-expanded='false')
    | מחיר 
    span.glyphicon.glyphicon-sort-by-attributes-alt
  button.title.loadOnClick(type='button', data-loading-text="חברה<i class='fa fa-circle-o-notch fa-spin'></i> ", onclick="orderBy('companyName' , this)", aria-expanded='false')
    | חברה 
    span.glyphicon.glyphicon-sort-by-attributes
