.tabFilter
  ul#injecTabsFiltertHtml.nav.nav-tabs
    li#serviceTab.filterTab(onclick='tabsService()')
      a(role='button') שירות לקוחות
      .arrow
    li.filterTab.main.active(onclick="tabsFilter('main')")
      a(role='button') כל המבצעים
      .arrow
    //- li.filterTab
    //-   a(role='button', onclick="tabsFilter('טלוויזיה')") טלוויזיה
    //-   .arrow
    //- li.filterTab
    //-   a(role='button', onclick="tabsFilter('טלפון קווי')") טלפון קווי
    //-   .arrow
    //- li.filterTab
    //-   a(role='button', onclick="tabsFilter('אינטרנט)") אינטרנט
    //-   .arrow
    //- li.filterTab
    //-   a(role='button', onclick="tabsFilter('סלולר')") סלולר
    //-   .arrow

