 @import 'color';
 .article {
     .articleArea {}
     .post:nth-child(even) {
         border-right: 2px solid;
         border-color: #cdcdcd;
     }
     .getMorePosts {
         margin-top: 30px;
     }
     .post {
        .postThumbnail img {
            width: 162px;
            height: 94px;
            box-shadow: 1px 2px 6px -2px #777;
                @media (max-width: 600px) {
                    width:100%;
                    height: auto;
                    max-height: 200p;
                    box-shadow: 1px 2px 6px -2px #777;}
        }
         &:hover,
         &:focus {
             //background: rgba(245, 245, 242, 0.26);
                 box-shadow: 1px 2px 6px -2px #777;
             .content {
                 opacity: 1;
             }
             .postThumbnail img {
                 border: 0px solid #e7b042;
                 width:162px ;
                 height: 94px;
                 /* box-shadow: 1px 2px 6px -2px #777; */
                @media (max-width: 600px) {
                    width:100%;
                    height: auto;
                    max-height: 200p;}
             }
         }
         .title {
             font-weight: bold;
             color: $color_text_gray_menu;
             opacity: 0.8;
         }
         .content {
             color: $color_text_gray_menu;
             opacity: 0.8;
             cursor: pointer;
             border-bottom: 1px solid;
             border-color: #cdcdcd;  
         }
         a:hover,
         a:focus {
             text-decoration: none;
         }
         .readMore {
             color: $color_backgrgound_orange;
             opacity: 1;
         }
     }
     .share {
         text-align: left;
         //hide post border left shape-outside: 
         width: 100%;
         position: absolute;
         left: -2px;
         padding-left: 40px;
         border-left: 2px solid #eeeeee;
         z-index: 10;
         bottom: -66px;
         height: 101px;
         padding-top: 35px;
         p {
             display: inline-block;
         }
         .socialNetwork {
             display: inline-block;
             .text {
                 font-size: 8px;
                 padding-left: 5px;
                 width: 40px;
                 line-height: 10px;
                 bottom: 9px;
             }
             li {
                 display: inline-block;
                 width: 23px;
                 height: 25px;
                 position: relative;
                 margin: 0 -2.5px;
                 a {
                     width: 100%;
                     height: 100%;
                     position: absolute;
                     left: 0;
                     top: 0;
                     background-size: cover;
                     background-image: url("/public/images/share.jpg");
                     background-repeat: no-repeat;
                     opacity: 0.8;
                     &:hover,
                     &:focus {
                         opacity: 1;
                     }
                 }
                 &:nth-child(5) a {
                     background-position: 0 1px;
                 }
                 &:nth-child(4) a {
                     background-position: -23px 1px;
                 }
                 &:nth-child(3) a {
                     background-position: -46px 1px;
                 }
                 &:nth-child(2) a {
                     background-position: -69px 1px;
                 }
             }
         }
     }
 }
 
 @media (min-width: 1200px) {
     .article {
         padding-top: 30px;
         .articleArea {
             padding: 60px 105px 60px 104px;
         }
         .post:nth-child(even) {
             padding-right: 45px;
         }
         .post:nth-child(odd) {
             padding-left: 45px;
         }
         .post {
             .content {
                 padding-bottom: 15px;
                 height: 265px;
             }
             margin-bottom: 45px;
         }
     }
 }
 /* Landscape tablets and medium desktops (320/1200=83%) */
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .article {
         padding-top: 30px * 0.83;
         .articleArea {
             padding: (60px * 0.83) (105px * 0.83) (60px * 0.83) (104px * 0.83);
         }
         .post:nth-child(even) {
             padding-right: 45px * 0.83;
         }
         .post:nth-child(odd) {
             padding-left: 45px * 0.83;
         }
         .post {
             margin-bottom: 60px;
             .content {
                 padding-bottom: 15px *0.83;
                 height: 325px;
             }
         }
     }
 }
 /* Portrait tablets and small desktops     //(320/1200=64%) */
 
 @media (min-width: 768px) and (max-width: 991px) {
     .article {
         padding-top: 30px * 0.64;
         .articleArea {
             padding: 45px 15px;
         }
         .post:nth-child(even) {
             padding-right: 45px * 0.64;
         }
         .post:nth-child(odd) {
             padding-left: 45px * 0.64;
         }
         .post {
             margin-bottom: 75px;
             .content {
                 padding-bottom: 15px *0.64;
                 height: 384px;
             }
         }
         .share {
             bottom: -37px;
             height: 63px;
         }
     }
 }
 /* Landscape phones and portrait tablets */
 
 @media (max-width: 767px) {
     .article {
         padding-top: 30px * 0.64;
         .articleArea {
             padding: 45px 0 0 15px;
             margin-bottom: 50px; 
         }
         .post:nth-child(even) {
             padding-left: 0;
             padding-right: 15px;
             border-right: none;
         }
         .post:nth-child(odd) {
             padding-left: 0;
         }

         .post {
             .content {
                 padding-bottom: 15px *0.64;
             }
             margin-bottom: 45px;
         }
         .share {
             bottom: -19px;
             height: 30px;
             padding-top: 8px;
         }
     }
 }
 /* Portrait phones and smaller */
 
 @media (max-width: 480px) {
          .article {
              h3{
                  font-size:16px;
              }
         .articleArea {
         }
         .post:nth-child(even) {

         }
         .post:nth-child(odd) {
         }
         .post {
             .content {
                  font-size: 13px;

             }
         }
         .share {

         }
     }
 }