@import 'color';
.planArea {
    padding-top: 35px;
}
#orderBy {
    padding: 5px 10px 0 0;
    width: 221px;
    margin: 0;
    margin-top: 20px;
    box-shadow: none;
    border-radius: 5px;
    position: Absolute;
    top: 15px;
    right: 0px;
    padding-left: 5px;
    background: white;
    text-align: center;
    box-shadow: 1px 2px 6px -2px #777;
    border: 0;
    border-radius: 0px;
    p,
    button {
    display: inline-block !important;
    font-size: 13px;
    background: transparent;
    margin-top: 2px;
    border: 1px solid #c3c7cc;
    border-radius: 0px;
    padding-top: 3px;
    margin-left: 5px;
    border: 0px;
    box-shadow: 0 0 0;
    .glyphicon{
        color: #767373;
    }
    }
    p {
        border:0px;
    }
}

.categoryAndSearch {
    width: 100%;
    overflow: hidden;
    .categorySide {
        position: relative;
        background-repeat: no-repeat;
        h1 {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: 13%;
            color: #404041;
        }
        .shadow {
            background-image: url("/public/images/shadowLeft.png");
            background-repeat: no-repeat;
            background-position-x: 0;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 17px;
        }
    }
    .searchSide {
        background-color: #f5f6f3;
        text-align: center;
        p {
            color: $color_backgrgound_gray;
            opacity: 0.8;
        }
        h1 {
            font-weight: bold;
            color: $color_category_telephone;
            opacity: 0.8;
        }
        .form-control-feedback#iconSearch {
            right: 0;
            left: auto;
            color: $color_category_telephone;
            ;
            opacity: 0.8;
        }
        .has-feedback .form-control {
            border-color: $color_gray;
            color: $color_backgrgound_gray;
        }
        .has-success .form-control:hover,
        .has-success .form-control:focus {
            border: 0;
            box-shadow: 0 0 3px 1px $color_category_telephone;
        }
    }
    .cellular {
        background-color: $color_category_cellular;
        //background-image: url("/public/images/icon/smartPhone.png");
        background-size: 22% !important;
    }
    .tv {
        background-color: $color_category_tv;
        //background-image: url("/public/images/icon/tv.png");
    }
    .internet {
        background-color: $color_category_internet;
        //background-image: url("/public/images/icon/internet.png");
        background-size: 21% !important;
    }
    .internationalCalls {
        background-color: $color_category_internationalCalls;
        //background-image: url("/public/images/icon/global.png");
    }
    .telephone {
        background-color: $color_category_telephone;
        //background-image: url("/public/images/icon/telePhone.png");
    }
    .moreService {
        background-color: $color_category_moreService;
        //background-image: url("/public/images/icon/glass.png");
    }
}

@media (min-width: 1200px) {
    .categoryAndSearch {
        .categorySide {
            background-position: 50% 30%;
            background-size: 195px;
            h1 {
                bottom: 13%;
                font-size: 40px;
            }
            .shadow {
                width: 17px;
            }
        }
        &,
        .icon,
        .searchSide {
            height: 371px;
        }
        .searchSide {
            padding: 44px 91px;
            h1 {
                font-size: 41px;
            }
            input.form-control {
                height: 56px;
            }
            .form-control-feedback#iconSearch {
                font-size: 40px;
                top: 12px;
                padding-right: 25px;
            }
            .has-feedback .form-control {
                padding-right: 75px;
                padding-left: 12px;
                font-size: 19px;
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .categoryAndSearch {
        .categorySide {
            background-position: 50% 30%;
            background-size: 195px * 0.83;
            h1 {
                bottom: 13%;
                font-size: 40px * 0.83;
            }
            .shadow {
                width: 17px;
            }
        }
        &,
        .icon,
        .searchSide {
            height: 371px * 0.83;
        }
        .searchSide {
            padding: (44px * 0.83) (91px * 0.83);
            h1 {
                font-size: 41px * 0.83;
            }
            input.form-control {
                height: 56px * 0.83;
            }
            .form-control-feedback#iconSearch {
                font-size: 40px * 0.83;
                top: 7px;
                ;
                padding-right: 25px * 0.83;
            }
            .has-feedback .form-control {
                padding-right: 75px * 0.83;
                padding-left: 12px * 0.83;
                font-size: 19px * 0.83;
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .planArea {
        padding-top: 45px;
     }
    .categoryAndSearch {
        .categorySide {
            background-position: 50% 30%;
            background-size: 195px * 0.64;
            h1 {
                bottom: 13%;
                font-size: 40px * 0.64;
            }
            .shadow {
                width: 17px;
            }
        }
        &,
        .icon,
        .searchSide {
            height: 371px * 0.64;
        }
        .searchSide {
            p {
                font-size: 16px;
            }
            padding: ( 44px * 0.64) (91px * 0.64);
            h1 {
                font-size: 41px * 0.64;
            }
            input.form-control {
                height: 56px * 0.64;
            }
            .form-control-feedback#iconSearch {
                font-size: 20px;
                top: 2px;
                padding-right: 25px * 0.64;
            }
            .has-feedback .form-control {
                padding-right: 75px * 0.64;
                padding-left: 12px * 0.64;
                font-size: 19px * 0.64;
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .categoryAndSearch {
        .categorySide {
            background-position: 50% 36%;
            background-size: 41%;
            h1 {
                bottom: 9%;
                font-size: 20px;
            }
            .shadow {
                width: 17px;
            }
        }
        &,
        .icon,
        .searchSide {
            height: 371px * 0.64;
        }
        .searchSide {
            padding: 28.16px 28.24px;
            h1 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
            input.form-control {
                height: 56px * 0.64;
            }
            .form-control-feedback#iconSearch {
                font-size: 20px;
                top: 2px;
                padding-right: 25px * 0.64;
            }
            .has-feedback .form-control {
                padding-right: 75px * 0.64;
                padding-left: 12px * 0.64;
                font-size: 19px * 0.64;
            }
        }
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    #orderBy {
        width:100%;
    }
    .categoryAndSearch {
        .categorySide {
            background-position: 50% 50%;
            background-size: 50% !important;
            h1 {
                bottom: 18%;
                font-size: 20px;
            }
            .shadow {
                width: 17px;
            }
        }
        &,
        .icon,
        .searchSide {
            height: 371px * 0.64;
        }
        .searchSide {
            padding: 28.16px 10px;
            h1 {
                font-size: 16px;
            }
            p {
                font-size: 12px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            input.form-control {
                height: 56px * 0.64;
            }
            .form-control-feedback#iconSearch {
                font-size: 20px;
                top: 2px;
                padding-right: 25px * 0.64;
            }
            .has-feedback .form-control {
                padding-right: 75px * 0.64;
                padding-left: 12px * 0.64;
                font-size: 19px * 0.64;
            }
        }
    }
}