@import 'color';
//
//var base width & height
//
//
//

/* Portrait tablets and small desktops     //(320/1200=64%) */


/* Landscape phones and portrait tablets */

.sectionMiddle {
    margin-top: 15px;
}
#saveMoneyTitle{
    color: #e7b042;
    text-decoration: underline;
    display: inline;

}

.categoryMenu {
    padding: 66px 0 0 0;
    margin-right: -8px;
    .buttonSection {
        width: 100%;
    }
    .category-container {
        cursor: pointer;
        perspective: 1000px;
        transform-style: preserve-3d;
        display: inline-block;
        margin: 15px 12.5px 5px 12.5px;
        @media (min-width: 535px) and (max-width: 722px) {
            margin: 3% !important;
        }
        .front {
            background-repeat: no-repeat;
            background-position: 50% 40%;
            h1 {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 5%;
                color: #4d5155;
            }
        }
        &#cellular {
            .front,
            .back {
                background-color: $color_category_cellular;
            }
            .front {
                background-image: url("/public/images/icon/smartPhone.png")
            }
        }
        &#tv {
            .front,
            .back {
                background-color: $color_category_tv;
                background-position: 50% 33%; //fix tv img position
            }
            .front {
                background-image: url("/public/images/icon/tv.png")
            }
        }
        &#internet {
            .front,
            .back {
                background-color: $color_category_internet;
            }
            .front {
                background-image: url("/public/images/icon/internet.png")
            }
        }
        &#internationalCalls {
            .front,
            .back {
                background-color: $color_category_internationalCalls;
            }
            .front {
                background-image: url("/public/images/icon/global.png")
            }
        }
        &#telephone {
            .front,
            .back {
                background-color: $color_category_telephone;
                a {
                    color: $color_black;
                    opacity: 1;
                    font-weight: bold;
                }
            }
            .front {
                background-image: url("/public/images/icon/telephone.png")
            }
        }
        &#moreService {
            .front,
            .back {
                background-color: $color_category_moreService;
            }
            .front {
                background-image: url("/public/images/icon/glass.png")
            }
        }
        // &:hover .back,
        // &:focus .back {
        //     transform: rotateY(0deg);
        // }
        // &:hover .front,
        // &:focus .front {
        //     transform: rotateY(180deg);
        // }
        &:hover .front,
        &:focus .front {
            box-shadow: 0px 0px 20px 0px #e9b34f;
        }
        &,
        .front,
        .back {
            width: 256px;
            height: 223px;
            border-radius: 10px;
            text-align: center;
        }
    }
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front,
    .back {
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front {
        z-index: 2;
        transform: rotateY(0deg);
    }
    .back {
        transform: rotateY(-180deg);
        img {
            width: 100%;
            position: absolute;
            left: 0;
            height: 100%;
            border-radius: 10px;
            opacity: 0.5;
        }
        .menu {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            text-align: right;
            padding-right: 15px;
            a {
                color: $color_white;
                opacity: 0.8;
            }
        }
    }
    .vertical.category-container {
        position: relative;
    }
    .vertical .back {
        transform: rotateX(180deg);
    }
    .vertical.category-container:hover .back {
        transform: rotateX(0deg);
    }
    .vertical.category-container:hover .front {
        transform: rotateX(180deg);
    }
}

@media (min-width: 1200px) {
    .categoryMenu {
        h1 {
            font-size: 29px;
        }
        #internationalCalls,
        #cellular {
            margin-right: 0;
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .categoryMenu {
        h1 {
            font-size: 29px * 0.83;
        }
        .category-container {
            &,
            .front,
            .back {
                margin: 7.5px;
                width: 256px * 0.83;
                height: 223px * 0.83
            }
            .front {
                background-size: 70px;
            }
            &#moreService .front {
                background-size: 115px;
            }
            &#internet .front {
                background-size: 50px;
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .categoryMenu {
        h1 {
            font-size: 29px * 0.64;
        }
        padding: 50px 0 0 0;
        /* text-align: right; */
        .category-container {
            &,
            .front,
            .back {
                margin: 5.5px;
                width: 256px * 0.64;
                height: 223px * 0.64;
            }
            .front {
                background-size: 70px * 0.64;
            }
            &#moreService .front {
                background-size: 115px * 0.64;
            }
            &#internet .front {
                background-size: 50px *0.64;
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    #boxWrapper{
        text-align:center !important;
        
    }
    .categoryMenu {
        h1 {
            font-size: 29px;
        }
        padding-top: 15px;
        /* margin-left: -15px; */;
        margin-right: 0px;
        /* text-align: center !important; */
        .category-container {
            &,
            .front,
            .back {
                margin: 5.5px;
                //width: 256px * 0.83;
                height: 223px * 0.83;
            }
            .front {
                background-size: 70px * 0.83;
            }
            &#moreService .front {
                background-size: 115px * 0.83;
            }
            &#internet .front {
                background-size: 50px * 0.83;
            }
        }
    }
}


/* Portrait phones and smaller */

@media (max-width: 630px) {
    .container-fluid {
        /* padding-left: 15px; */
/*     padding-right: 5px;
    padding-left: 5px; */
}
.sectionbottom {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

    .categoryMenu {
        .category-container {
            &,
            .front,
            .back {
                margin: 5.5px;
                width: 95%;
                height: 223px;
            }
            .front {
                background-size: 70px;
            }
            &#moreService .front {
                background-size: 115px;
            }
            &#internet .front {
                background-size: 50px;
            }
        }
    }
}