// _color.scss 
$color_backgrgound_orange:#e7b042;
$color_backgrgound_white: #eeeeee;
$color_backgrgound_gray: #8c8c8c;
$color_black:#3f3f3f;
$color_white:#f5f5f2;
$color_gray:#c1c4c6;
$color_text_gray_menu:#696666;
$color_text_orange:#eabe65;
$color_text_gray_bold:#878484;
$color_text_gray_light: #e0e0de;
//
$color_category_cellular: #9e9684;
$color_category_tv: #9cc6b9;
$color_category_internet: #bf7a66;
$color_category_internationalCalls: #87a5c0;
$color_category_telephone: #e7b85f;
$color_category_moreService: #799b8f;
//
$color_footer:#cbcbcb;