.comments_template{
  #comments{
      border-style: solid;
      border-width: 1px;
      border-color: #dddddd;
      background-image: linear-gradient(90deg, #ebedee 0%, white 100%);
      background-image: -moz-linear-gradient(90deg, #ebedee 0%, white 100%);
      background-image: -webkit-linear-gradient(90deg, #ebedee 0%, white 100%);
      background-image: -ms-linear-gradient(90deg, #ebedee 0%, white 100%);
      box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
      position: relative;
      padding: 0 15px 15px 15px;
      min-height: 375px;
  }
  .comments-title{
      border-bottom: 2px solid #eeeeee;
      padding-bottom: 5px;
      margin-bottom: 15px;
      opacity: 0.8;
    margin-right: 15px;
    margin-left: 15px
  }
  #respond{
    padding: 0 15px;
    position: absolute;
    top: 80px;
    height: 245px;
    right: 15px;
    left: 60px;
  }
  .comment-list{
    display: inline-block;
    max-height: 450px;
    overflow: overlay;
    direction: ltr;
    padding-right: 45px;
    border: none;
    height: 465px;
    padding-top: 5px;
    text-align: right;
    margin-top: 260px;
    margin-right: 15px;
    width: calc(100% - 30px);
    padding-left: 45px;
      li {
      direction: rtl;
      padding: 10px;
      list-style: none;
      background: whitesmoke;
      margin-bottom: 15px;
      box-shadow: 0 0 1px 0px #bfbfbf;
      .children{
        margin-top: 10px;
      }
      }
  }
  .comment-metadata{
    text-align: left;
    float: left;
    margin-top: -20px;
    a {
      color: #c5c5c5;
      font-size: 12px;

    }
      .comment-edit-link {
        font-weight: bold;
      } 
  }
#submit{
    border-radius: 5px;
    margin-left: 5px;
    border: 0;
    background: #e9b44e;
    color: #f5f5f2;
    position: absolute;
    left: 0px;
    bottom: 5px;
    z-index: 150;
}
.form-submit{
    background: rgba(238, 238, 238, 0.63);
    position: absolute;
    top: 130px;
    height: 100px;
    text-align: left;
    padding-left: 0px;
    right: 15px;
    left: 15px;
    border: solid 1px #c3c7cc !important;
    border-top: 0px !important;
}
#reply-title , .comment-form-comment label , .comment-form-url{
  display:none;
}
.comment-form-comment textarea {
    width: 100%;
    height: 100px;
    max-height: 100px;
    border: solid 1px #c3c7cc !important;
    font-size: 15px;
}
.comment-author{
    border-bottom: 1px solid #c3c7cc;
    padding-bottom: 5px;
    opacity: 0.8;
    .says {
      display: none
    }
    b{
    position: relative;
    top: 11px;
    padding-right: 5px;
    }
}
.comment-form-author , .comment-form-email {
    position: relative;
    z-index: 100;
    right: 10px;
    opacity: 0.8;
    margin-top: -10px;
    margin-bottom: 20px;
    label {
    width: 60px;
    font-size: 15px;
    }
    input{
      width: 285px;
      border-radius: 5px;
      border: 1px solid #c3c7cc
    }
}
.comment-notes , .logged-in-as {
  font-size: 15px;
    opacity: 0.8;
    a{
      color: black;
      font-size: 15px;
    }
}

.reply{
  text-align: left;
  a{
    font-size: 15px;
    opacity: 0.8;
    color: black;
  }

}
  .comment-content {
    opacity: 0.8;
    font-size: 15px;
  }
}