@import 'color';
//
//
//var base width & height
$base_companyButton_width:257px;
$base_companyButton_height:72px;
$base_companyButton_circle:72px;
;
$base_companyButton_circleInner:61px;
$base_companyButton_logo_width:136px;
$base_companyButton_logo_height:68px;
//
//
//
.companyMenu {
    padding-right: 0;
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 575px;
    direction:ltr;
    .tooltip {
    width: 122px;
    left: -125px !important;
    top: -9px !important;
}
.moreCompanyButton {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    .glyphicon {
            padding-right: 10px;

    }
}
    .title,
    .moreCompanyButton {
        color: $color_text_gray_menu;
        line-height: 1.495;
        background-color: $color_gray;
        text-align: center;
        background-color: #dadada;
        text-align: center;
        border: none;
        margin-right: 0.1px;
    }
    .moreCompanyButton:focus,
    .moreCompanyButton:hover {
            box-shadow: 0 1px 1px 0px #939393;
            background: #eeeeee;
    }
    .wrapper button {
        border-radius: 50px;
        border: none;
        background-color: #ffffff;
        box-shadow: 1px 2px 6px -2px #777;
        margin-bottom: 13px;
        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 1px 1px 0px #939393;
            background: #eeeeee;
        }
        ;
        .circle {
            border-radius: 50%;
            border: 2px dashed #8d8d8d;
            float: right;
            margin-right: -6px;
            background-color: white;
            .circleInner {
                background-color: #8c8c8c;
                border-radius: 50%;
                color: white;
            }
        }
        ;
        .logo {
            float: left;
            text-align: center;
            overflow: hidden;
            img {
                vertical-align: middle;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .companyMenu {
        .title {
            font-size: 22px;
            width: 268px;
            height: 39px;
            margin-bottom: 25px;
        }
        .wrapper button {
            width: $base_companyButton_width; //257
            height: $base_companyButton_height; //77
            margin-bottom: 10px;
            .circle {
                height: $base_companyButton_circle; //77
                width: $base_companyButton_circle; //77
                margin-right: -6px;
                .circleInner {
                    height: $base_companyButton_circleInner; //65
                    width: $base_companyButton_circleInner; //65
                    padding-top: 16px;
                    font-size: 37px;
                    margin-top: 3px;
                }
            }
            ;
            .logo {
                height: $base_companyButton_logo_height; //68
                width: $base_companyButton_logo_width; //136
                margin-left: 31px;
                margin-top: 4px;
            }
        }
        .moreCompanyButton {
            width: 230px;
            height: 39px;
            font-size: 28px !important;
            margin-right: 0.1px;
            margin-top: 8px;
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .companyMenu {
        max-height: 470px;
        .title {
            font-size: 23px * 0.83;
            width: 268px * 0.83;
            height: 39px * 0.83;
            margin-bottom: 25px * 0.83;
        }
        .wrapper button {
            width: $base_companyButton_width * 0.83; //257
            height: $base_companyButton_height * 0.83; //77
            margin-bottom: 10px;
            .circle {
                height: $base_companyButton_circle * 0.83; //77
                width: $base_companyButton_circle * 0.83; //77
                margin-right: -6px;
                .circleInner {
                    height: $base_companyButton_circleInner * 0.83; //65
                    width: $base_companyButton_circleInner * 0.83; //65
                    padding-top: 16px * 0.83;
                    font-size: 37px * 0.83;
                    margin-top: 3px * 0.83;
                }
            }
            ;
            .logo {
                height: $base_companyButton_logo_height * 0.83; //68
                width: $base_companyButton_logo_width * 0.83; //136
                margin-left: 31px * 0.83;
                margin-top: 4px * 0.83;
            }
        }
        .moreCompanyButton {
            width: 230px * 0.83;
            height: 39px * 0.83;
            font-size: 28px * 0.83 !important;
            margin-right: 0.1px;
            margin-top: 8px * 0.83;
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .companyMenu {
        max-height: 368px;
        .title {
            font-size: 16px;
            width: 268px * 0.64;
            height: 39px * 0.64;
            margin-bottom: 25px * 0.64;
        }
        .wrapper button {
            width: $base_companyButton_width * 0.64; //257
            height: $base_companyButton_height * 0.64; //77
            margin-bottom: 10px;
            .circle {
                height: $base_companyButton_circle * 0.64; //77
                width: $base_companyButton_circle * 0.64; //77
                margin-right: -6px;
                .circleInner {
                    height: $base_companyButton_circleInner * 0.64; //65
                    width: $base_companyButton_circleInner * 0.64; //65
                    padding-top: 16px * 0.64 - 1;
                    font-size: 37px * 0.64;
                    margin-top: 3px * 0.64;
                }
            }
            ;
            .logo {
                height: $base_companyButton_logo_height * 0.64; //68
                width: $base_companyButton_logo_width * 0.64; //136
                margin-left: 31px * 0.64;
                margin-top: 4px * 0.64;
            }
        }
        .moreCompanyButton {
            width: 230px * 0.64;
            height: 39px * 0.64;
            font-size: 28px * 0.64 !important;
            margin-right: 0.1px;
            margin-top: 8px * 0.64;
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .companyMenu {
        max-height: 215px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        /* display: flex; */
        /* justify-content: space-between; */
        .title {
            font-size: 22px;
            width: 100%;
            height: 39px;
            margin-bottom: 25px;
        }
        .wrapper {
            padding-right: 0;
        }
        .wrapper button {
            margin-left: 15px;
            float: right;
            width: $base_companyButton_width * 0.55; //257
            height: $base_companyButton_height * 0.55; //77
            margin-bottom: 10px;
            font-size: 15px !important;
            border-radius: 0;
            text-align: center;
            .circle {
                background-color: initial;
                border: none;
                height: 35.3px;
                width: $base_companyButton_circle * 0.55; //77
                margin-right: -6px;
                display: none;
                .circleInner {
                    height: $base_companyButton_circleInner * 0.55; //65
                    width: $base_companyButton_circleInner * 0.55; //65
                    padding-top: 16px * 0.55 - 1;
                    font-size: 37px * 0.55;
                    margin-top: 3px * 0.55;
                    background-color: rgba(140, 140, 140, 0.33)
                }
            }
            .logo {
                height: $base_companyButton_logo_height * 0.55; //68
                width: $base_companyButton_logo_width * 0.55; //136
                margin-left: 26.05px;
                margin-top: 0.2px;
                font-size:9px !important
                
            ;
                /* margin: 0 auto; */
                }
        }
        .moreCompanyButton {
            float: right;
            font-size: 28px !important;
            margin-right: 0;
            margin-top: 0;
            height: 42.35px;
        }
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .companyMenu .title, .companyMenu .moreCompanyButton {
            background-color: initial;
            border-bottom: 1px solid #e8b44c;
            margin-bottom: 15px;
    }
    .companyMenu {
        .wrapper button {
            overflow: hidden;
            width: 29%;
            margin: 2%;
            height: $base_companyButton_height * 0.45; //77
            border-radius: 0px;
            font-size: 12px !important;
            .glyphicon-triangle-bottom{
                top: -5px;
                display:none;
            }
            .circle {
                display: none;
            }
            .logo {
                height: $base_companyButton_logo_height * 0.45; //68
                width: 100%;
                margin-left: 31px * 0.45;
                margin-top: 0;
                text-align: center;
                float: none;
                img {
                    max-height: 93%;
                    max-width: 80%;
                }
            }
        }
        .moreCompanyButton {
            width: 122px;
            font-size: 15px !important;
            height: 27px;
            margin-top: 5px;
        }
    }
}

@media (max-width: 767pxx) {
    .moreCompaniesMenu{
        display: flex;
        justify-content: space-between;
    }
}

