    @import 'color';
    .sectionMiddle.compnayPage {
        padding-top: 15px;
    }
    .dispalyNone{
        display: none;  
    }

    .listInsideList {
        a {
            font-size: 15px !important;
        }
    }
    .twiiter , .fax{
        width: 22px;
        height: 22px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 2px;

    }
    .twiiter {
           background-image: url("/public/images/icon/twitter.png");
    }
    .fax {
           background-image: url("/public/images/icon/fax.png");
    }
    .consumers{
        list-style: none;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 5px
    }
    #serviceBox{
            padding-top: 15px;
            .logo{
                text-align: center;
                margin-bottom: 25px;
            }
                .info{
                    opacity: 0.8;
                    font-size: 15px;
                    padding-right: 10px;
                }

            .service {
                min-height: 500px;
                margin-top: -3px;
                    .title{
                        position: relative;
                        overflow: hidden;
                        margin-bottom: 5px;
                        img{
                            max-height: 50px;
                            width: 50px
                        }
                        span {
                            font-size: 22px;
                            position: absolute;
                            bottom: 5px;
                            border-bottom: 3px solid #8b8989;
                            width: 100%;
                            color: #8b8989;
                            padding-right: 10px;
                        }
                    }

                    #accordion{
                        .icon{
                            margin-left: 10px;
                            font-size: 24px;
                            color: #e6b043
                        }
                        a{
                            color: #8b8989;
                        }  
                        ul {
                            width: calc(100% - 75px);
                            margin-right: 35px;
                            .glyphicon{
                            margin-left: 15px;
                            font-size: 25px;
                            color: #3f3f3f
                            }
                        }
                        .contactBy{
                            color: #3f3f3f;
                            font-weight: bold;
                            position: absolute;
                            top: 12px;
                            text-decoration: underline
                        }

                        .listInsideList{
                            padding-right: 65px;
                            margin-right: -10px;
                        }
                    }
            }
            .news {
                min-height: 500px;
                overflow: hidden;
                    .title{
                        text-align: center;
                        border-bottom: 3px solid #dddddd;
                        background: whitesmoke;
                        color: #8b8989;
                        padding: 10px;
                        margin-bottom: -2px;
                    }
            }
    }
    .company {
        width: 100%;
        background-image: url("/public/images/companyBackground.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        .logo {
            img {
                width: auto;
                ;
            }
        } 
        .text {
            h3 {
                text-align: center;
                color: #eeeeee;
                opacity: 0.8;
                span {
                    color: #e7b042;
                    font-weight: bold;
                }
            }
        }
        .search {
            .form-control-feedback#iconSearch {
                left: auto;
                color: $color_category_telephone;
                opacity: 0.8;
            }
            .has-feedback .form-control {
                border-color: $color_gray;
                color: $color_backgrgound_gray;
            }
            .has-success .form-control:hover,
            .has-success .form-control:focus {
                border: 0;
                box-shadow: 0 0 3px 1px $color_category_telephone;
            }
        }
    }
    
    .contactWrapper {
        padding-right: 4px;
        padding-top: 10px;
        .contactToCompnay {
            border: 5px solid $color_backgrgound_orange;
            background: #fcfdfc;
            border-radius: 10px;
            .title {
                background: #e6b043;
                display: inline-block;
                color: rgb(245, 245, 242);
                margin-top: 21px;
                padding: 4px 10px 5px 10px;
                min-width: 200px;
            }
            .logo {
                float: left;
                margin-left: 15px;
                margin-top: 15px;
                margin-bottom: -25px;
                width: auto;
                height: 50px;
                max-width:150px;
            }
            .control-label {
                color: rgba(140, 140, 140, 0.8);
                font-size: 16px;
                padding-left: 10px;
            }
            .padding {
                padding: 0px 20px 0px 40px;
            }
            .subject {
                .wrapper {
                    margin-right: -5px;
                    width: calc(100% - 50px);
                }
                .checkbox-inline {
                        padding-left: 0px !important;
                        margin-left: 21px;
                        padding-right: 7px;
                    label::after {
                        color: #e6b043 !important;
                        left: -2px !important;
                    }
                    &:first-of-type {
                        margin-right: -10px;
                    }
                    padding-left: 0px !important;
                    input[type="checkbox"],
                    input[type="radio"] {
                        position: absolute;
                        left: -18px;
                    }
                    label {
                        padding-right: 0px !important;
                    }
                }
            }
            .input-group-addon {
                background: #f5f5f2;
                border: 1px solid #ccc;
                text-align: right;
                color: rgba(140, 140, 140, 0.8);
                min-width: 125px;
                font-size: 16px;
                padding-left: 10px;
            }
            button {
                background: #8c8c8c;
                border: none;
                border-radius: 0px;
                color: white;
                height: 30px;
                width: 90px;
                font-size: 16px;
                margin-top: 15px;
            }
        }
    }
    
    .aboutTheCompanyWrapper {
         padding-top: 10px;
        .aboutTheCompany {
            background-color: rgb(252, 253, 252);
            box-shadow: 5px 8.66px 9.7px 0.3px rgba(0, 0, 0, 0.078);
            margin-left: auto;
            margin-right: auto;
            padding: 15px;
            .box {
                border: 10px solid #e6b043;
                //height: 275px;
            }
            .title {
                text-align: center;
                font-size: 35.18px;
                font-family: "Arimo";
                color: rgb(232, 180, 76);
                font-weight: bold;
                margin-bottom: 15px;
            }
            .body {
                color: #5e5a5a;
                opacity: 0.8;
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
    
    .compnayPage .morCompany {
        max-height: 90px;
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        overflow: hidden;
        .nextSlide,
        .priviousSlide {
            background: none;
            border: none;
            outline: none;
            color: #c1c4c6;
        }
        .morCompanySlider {
            //visibility: hidden;
            text-align: center;
            .item {
                padding: 0 10px;
                img {
                    max-height: 50px;
                    max-width: 89%;
                    margin: 0 auto;
                    min-height:20px;
                }
            }
        }
        .wrapText {
            height: 10px;
            margin-bottom: 40px;
            .title {
                font-size: 18px;
                position: relative;
                top: -4px;
            }
        }
    }
    
    .tabFilter {
        padding-top: 55px;
        .nav-tabs {
            border-bottom: 5px solid #e6b043 !important;
            li {
                z-index: 50;
                background: #eeeeee;
                margin-bottom: 0px;
                &.active {
                    z-index: inherit;
                    background: none;
                }
            }
            li .arrow {
                visibility: hidden;
                right: calc(50% - 12px);
                top: 100%;
                border: solid transparent;
                position: absolute;
                pointer-events: none;
                border-top-color: #e6b043;
                border-width: 15px;
                z-index: 100;
            }
            li.active .arrow {
                visibility: visible;
            }
            li:before {
                content: " | ";
                position: absolute;
                top: 1px;
                font-size: 1.5em;
                color: rgba(112, 109, 109, 0.8);
                font-weight: 600;
                z-index: 50;
                right: -7px;
            }
            li:first-child:before,
            li.active:before , .main:before{
                opacity: 0 ;
            }
            &>li>a {
                color: rgba(112, 109, 109, 0.8);
                padding-bottom: 0px;
                height: 40px;
                border-radius: 0px;
                line-height: 15px;
                margin-right: 5px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            background-color: #e6b043 !important;
            border: 1px solid #e8b043 !important;
            border-bottom-color: #e8b043 !important;
            border-radius: 0px !important;
            color: rgba(255, 255, 255, 0.81) !important;
            z-index: 51;
            &:after {
                cc: cc
            }
            ;
        }
        .nav-tabs>li>a:hover {
            border-color: #eee #eee #e6b043;
            cursor: pointer;
            color: rgba(112, 109, 109, 1);
        }
    }
    
    @media (min-width: 1200px) {
        .tabFilter {
            .nav-tabs {
                padding-right: 175px;
            }
        }
        .company {
                height: 377px;
            .logo {
                padding-top: 65px;
                padding-right: 230px;
                img {
                    height: 97px;
                }
            }
            .text {
                width: 535px;
                h3 {
                    span {
                        font-size: 35px;
                    }
                }
            }
            .search {
                width: 445px;
                margin-right: 50px;
                padding-top: 20px;
                .form-control {
                    height: 60px;
                    font-size: 20px;
                    padding-right: 65px;
                }
                .form-control-feedback#iconSearch {
                    right: 20px;
                    top: 16px;
                    font-size: 26px;
                }
            }
        }
        .contactWrapper {
            .contactToCompnay {
                width: 540px;
                height: 475px;
            }
        }
        .aboutTheCompanyWrapper {
            .aboutTheCompany {
                width: 521px;
                .box {
                    padding: 0px 30px;
                }
            }
        }
        .compnayPage .morCompany {
            max-width: 522px;
        }
    }
    /* Landscape tablets and medium desktops (320/1200=83%) */
    
    @media (min-width: 992px) and (max-width: 1199px) {
        .company {
            height: 371px * 0.83;
            .logo {
                padding-top: 40px;
                padding-right: 230px * 0.83;
                img {
                    height: 97px * 0.83;
                }
            }
            .text {
                width: 535px * 0.83;
                h3 {
                    span {
                        font-size: 35px * 0.83;
                    }
                }
            }
            .search {
                width: 445px * 0.83;
                margin-right: 50px * 0.83;
                padding-top: 20px * 0.83;
                .form-control {
                    height: 60px * 0.83;
                    font-size: 20px * 0.83;
                    padding-right: 65px * 0.83;
                }
                .form-control-feedback#iconSearch {
                    right: 20px * 0.83;
                    top: 16px * 0.83;
                    font-size: 26px * 0.83;
                }
            }
        }
        .contactWrapper {
            padding: 0px;
            .contactToCompnay {
                .subject {
                    label[for=subject] {
                        text-align: right;
                        margin-right: 20px;
                        text-decoration: underline;
                    }
                    .wrapper {
                        margin-right: 30px;
                    }
                }
            }
        }
        .aboutTheCompanyWrapper {
            padding-left: 0px;
            .aboutTheCompany {
                .box {
                    border: 1px solid #e6b043;
                    padding: 0 15px;
                }
            }
        }
    }
    /* Portrait tablets and small desktops     //(320/1200=64%) */
    
    @media (max-width: 991px) {
        .company {
            height: 371px * 0.64;
            .logo {
                padding-top: 25px;
                padding-right: 230px * 0.64;
                img {
                    height: 97px * 0.64;
                }
            }
            .text {
                width: 535px * 0.64;
                h3 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    span {
                        font-size: 35px * 0.64;
                    }
                }
            }
            .search {
                width: 445px * 0.64;
                margin-right: 50px * 0.64;
                padding-top: 20px * 0.64;
                .form-control {
                    height: 60px * 0.64;
                    font-size: 20px * 0.64;
                    padding-right: 65px * 0.64;
                }
                .form-control-feedback#iconSearch {
                    right: 20px * 0.64;
                    top: 16px * 0.64;
                    font-size: 26px * 0.64;
                }
            }
        }
        .contactWrapper {
            padding: 0px;
            .contactToCompnay {
                .padding {
                    padding: 0px 20px 0px 20px
                }
                .logo {
                    margin-left: 20px;
                }
                .subject {
                    label[for=subject] {
                        text-align: right;
                        margin-right: 20px;
                        text-decoration: underline;
                    }
                    .wrapper {
                        margin-right: 55px;
                    }
                }
            }
        }
        .aboutTheCompanyWrapper {
            padding-left: 0px;
            .aboutTheCompany {
                .box {
                    border: 1px solid #e6b043;
                    padding: 0 15px;
                }
            }
        }
        .tabFilter {
            .nav-tabs {
                padding-right: 0px;
            }
        }
    }
    
    @media (max-width: 768px) {
        .aboutTheCompanyWrapper {
            padding-bottom: 30px;
            padding-right: 0px;
        }
        .tabFilter {
            .nav-tabs>li {
                margin: 5px;
                background: #fcfdfc;
                background-color: #fcfdfc;
                box-shadow: 5px 8.66px 9.7px 0.3px rgba(0, 0, 0, 0.078);
                padding: 5px;
                &.active .arrow {
                    visibility: hidden;
                }
            }
            .nav-tabs>li>a {
                margin: 0px;
                border: 1px solid #e6b043;
            }
            .nav-tabs>li::before,
            .nav-tabs>li::after {
                display: none;
            }
        }
        .contactWrapper {
            .form-horizontal .form-group {
                margin-right: -15px;
                margin-left: 0px;
            }
            .padding {
                padding: 0px 20px 0px 10px !important;
            }
            .subject .wrapper {
                margin-right: 30px;
                width: 100%;
            }
        }
    }
    
    @media (max-width: 350px) {
        .company {
            .logo {
                padding-top: 25px;
                text-align: center;
                padding-right: 0px;
                width: 100%;
                text-align: center;
            }
            .text {
                width: 100%;
                h3 {
                    font-size: 20px;
                    opacity: 1;
                }
            }
            .search {
                width: 80%;
                margin: 0 auto;
                .form-control-feedback#iconSearch {
                    top: 3px;
                    ;
                }
            }
        }
    }