    #contactFormModelDialog {
        .modal-header .close {
            margin-top: -14px;
        }
        @media (max-width: 540px) {
            .modal-content {
                width: auto !important;
                padding-bottom: 15px;
            }
            .modal-content:after,
            .modal-content:before {
                display: none !important;
            }
        }
        .modal-content {
            border-radius: 40px;
            border: 5px solid #e7b042;
            box-shadow: none;
            width: 515px;
            margin: 0 auto;
            .modal-header {
                border-bottom: none;
            }
            .modal-body {
                padding-top: 0;
                margin-top: -20px;
                .form-control {
                    border-radius: 0;
                }
                label {
                    color: #b9b8b8;
                    font-size: 18.75px;
                    &.required {
                        color: #9a9696;
                    }
                }
                .sumbit {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    button {
                        background-color: rgb(140, 140, 140);
                        width: 92px;
                        height: 31px;
                        border: 0;
                        border-radius: 0;
                        color: rgba(255, 255, 255, 0.8);
                        font-size: 20px;
                        padding-top: 2px;
                        span {
                            top: 3px;
                        }
                    }
                }
            }
            .companyLogo {
                float: left;
                max-height: 50px;
            }
            #companyName {
                width: 170px;
                background-color: #e7b042;
                margin-right: -15px;
                margin-top: 12px;
                padding-right: 10px;
                color: rgba(255, 255, 255, 0.8);
                font-size: 18.5px;
                height: 23px;
                line-height: 23px;
            }
            .planeName {
                margin-bottom: 15px;
                margin-top: 25px;
                input {
                    width: 246px;
                    display: inline-block;
                    border: none;
                }
                label,
                input {
                    color: #b9b8b8;
                    font-size: 18.75px;
                }
            }
        }
        /*  triangle */
        .modal-content:after,
        .modal-content:before {
            content: '';
            display: block;
            position: absolute;
            left: 100.5%;
            width: 0;
            height: 0;
            border-style: solid;
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        .modal-content:after {
            border-color: transparent transparent transparent #ffffff;
            border-width: 80px;
            left: 169px;
        }
        .modal-content:before {
            top: 100.5%;
            border-color: transparent transparent transparent #e7b042;
            border-width: 85px;
            left: 165px;
        }
    }