@import 'color';
.opacityZero{
    opacity: 0
};
.filterMenu {
    .tooltip {
    width: 122px;
    left: -125px !important;
    top: -9px !important;
}
    .rightSide {
        background-color: $color_backgrgound_orange;
        height: 100%;
        padding: 0;
        position: relative;
        z-index: 50;
        .compass {
            position: relative;
            height: 100%;
            background-image: url("/public/images/compass.png");
            background-repeat: no-repeat;
        }
        .text {
            position: absolute;
            right: 0;
            left: -1px;
            background-color: #e7b042;
            bottom: 0;
            color: $color_white;
            h2 {
                opacity: 0.8;
                padding: 0 5px;
            }
        }
    }
    .leftSide {
        background-color: #dadada;
        height: 100%;
        .filterTitle {
            text-align: right;
            position: relative;
            border-bottom: 1px solid #eeeeee;
            button {
                position: absolute;
                left: 5px;
                top: 5px;
                color: #696666;
                line-height: 1.495;
                background-color: #cdcdcd;
                text-align: center;
                border: none;
                border-radius: 0;
            }
        }
        .optionMenu {
            .row {
                margin-right: 0;
                margin-left: 0;
            }
            .title {
                text-align: right;
                opacity: 0.6;
            }
            .bootstrap-select {
                button {
                    background-color: #ffffff;
                    padding-left: 30px;
                    padding-right: 10px;
                }
                .filter-option {
                    text-align: right;
                }
                &.btn-group .dropdown-toggle .caret {
                    left: 12px;
                    right: auto;
                }
            }
            .selectAll {
                position: absolute;
            }
            .selectAllTitle {
                position: absolute;
                p {
                    text-decoration: underline;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        font-weight: bold;
                    }
                }
            }
            .checkbox label::before {
                background-color: $color_backgrgound_white;
            }
            .checkbox label::after {
                color: #eee !important;
                background-color: $color_backgrgound_orange;
                padding-right: 3px;
                border-radius: 3px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .filterMenu {
        padding-top: 20px;
        padding: 82px 22px 0 0;
        height: calc(430px + 82px);
        .rightSide {
            .compass {
                width: 120%;
                background-position: 37% 0;
                right: 0;
            }
            .text {
                top: 58%;
            }
        }
        .leftSide {
            padding-right: 45px;
            .filterTitle {
                h5 {
                    padding-top: 15px
                }
            }
            .optionMenu {
                padding: 30px 0;
                .row {
                    padding: 10px 15px;
                }
                .title {
                    h5 {
                        margin-top: 10px;
                    }
                }
                .bootstrap-select {
                    margin-top: 5px;
                    .filter-option {
                        padding-right: 5px;
                    }
                }
                .selectAll {
                    top: 2px;
                    right: -38px;
                }
                .selectAllTitle {
                    top: 69px;
                    right: 257px;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .filterMenu {
        padding-top: 20px;
        padding: 82px 22px 0 15px;
        height: calc(430px * 0.83 + 105px);
        .rightSide {
            .compass {
                width: 131%;
                background-position: -7% 0;
                right: 0;
                margin-right: 17px;
            }
            .text {
                top: 66%;
                left: -30px;
            }
        }
        .leftSide {
            padding-right: 45px * 0.83;
            .filterTitle {
                h5 {
                    padding-top: 15px;
                    padding-right: 15px;
                }
            }
            .optionMenu {
                padding: 20px 5px 0px 0px;
                .row {
                    padding: 10px 45px 0 0;
                }
                .title {
                    h5 {
                        margin-top: 10px * 0.83;
                        font-size: 16px;
                    }
                }
                .bootstrap-select {
                    margin-top: 5px * 0.83;
                    .filter-option {
                        padding-right: 5px * 0.83;
                    }
                }
                .selectAll {
                    top: 2px * 0.83;
                    right: -38.54px;
                }
                .selectAllTitle {
                    top: 73.57px;
                    right: 208.31px;
                    p {
                        font-size: 12px * 0.83;
                    }
                }
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .filterMenu {
        padding-top: 20px;
        padding: 60px 22px 0 0;
        height: 445px;
        .rightSide {
            .compass {
                width: 123%;
                background-position: 11% 1px;
                right: -17px;
                margin-right: 17px;
                background-size: contain;
            }
            .text {
                top: 43%;
                left: -6px;
                padding-top: 15px;
            }
        }
        .leftSide {
            padding-right: 0;
            padding-left: 0;
            .filterTitle {
                width: calc(100% - 30px);
                margin-right: 15px;
                padding-bottom: 5px;
                h5 {
                    font-size: 1.5em;
                }
                button {
                    left: 0;
                    top: -2px;
                }
            }
            .optionMenu {
                padding-top: 30px;
                padding-right: 15px;
                padding-left: 0;
                .row {
                    padding: 5px 35px 5px 0;
                }
                .title {
                    h5 {
                        margin-top: 14.3px;
                        font-size: 13px;
                    }
                }
                .bootstrap-select {
                    margin-top: 5px * 0.83;
                    .filter-option {
                        padding-right: 5px * 0.83;
                    }
                }
                .selectAll {
                    top: 2px * 0.83;
                    right: -38.54px;
                }
                .selectAllTitle {
                    top: 63.57px;
                    right: 144px;
                    p {
                        font-size: 12px * 0.83;
                    }
                }
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .filterMenu {
        padding-top: 20px;
        padding: 0;
        .rightSide {
            height: 70px;
            overflow: hidden;
            .compass {
                background-position: 37% -15px;
                background-size: 82px;
                width: 88px;
            }
            .text {
                top: -15px;
                background-color: transparent;
            }
        }
        .leftSide {
            padding: 15px 0;
            .filterTitle {
                width: calc(100% - 30px);
                margin-right: 15px;
                h5 {
                    padding-top: 0;
                    margin-top: 0;
                }
                button {
                    top: -5px;
                }
            }
            .optionMenu {
                padding: 25px 0;
                .row {
                    padding: 10px 35px 0 0;
                }
                .title {
                    h5 {
                        margin-top: 10px;
                        font-size: 15px;
                        padding-top: 4px;
                    }
                }
                .bootstrap-select {
                    margin-top: 5px;
                    .filter-option {
                        padding-right: 5px;
                    }
                }
                .selectAll {
                    top: 2px;
                    right: -38px;
                }
                .selectAllTitle {
                    top: 62px;
                    right: 37%;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .filterMenu {
        .rightSide {
            .text {
                top: -5px;
                background-color: transparent;
                h2 {
                    font-size: 13px;
                    padding-right:20%;
                    
                }
            }
        }
        .leftSide {
            padding: 15px 0;
            .filterTitle {
                width: calc(100% - 30px);
                margin-right: 15px;
                h5 {
                    padding-top: 0;
                    margin-top: 0;
                }
                button {
                    top: -5px;
                }
            }
            .optionMenu {
                padding: 25px 0;
                .row {
                    padding: 10px 35px 0 0;
                }
                .title {
                    h5 {
                        margin-top: 10px;
                        font-size: 12px;
                        padding-top: 4px;
                    }
                }
                .bootstrap-select {
                    margin-top: 5px;
                    .filter-option {
                        padding-right: 5px;
                    }
                }
                .selectAll {
                    top: 2px;
                    right: -38px;
                }
                .selectAllTitle {
                    top: 62px;
                    right: 37%;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}