@import 'color';
footer {
    position: relative;
}

.footer {
    background-color: #cacaca;
    position: relative;
    display: flex;
    .jumpTop {
        background-color: transparent;
        border: none;
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-image: url("/public/images/arrowTop.png");
        height: 31px;
        width: 36px;
        background-size: contain;
        background-repeat: no-repeat;
        outline: none;
    }
    .socialNetwork {
        position: absolute;
        left: 35%;
        bottom: 15px;
        li {
            &:first-child {
                margin-top: 12px;
            }
            &:nth-child(5) a {
                background-position-x: 1px;
            }
            &:nth-child(4) a {
                background-position-x: -43px;
            }
            &:nth-child(3) a {
                background-position-x: -96px;
            }
            &:nth-child(2) a {
                background-position-x: -142px
            }
        }
        a {
            background-image: url("/public/images/soical_network.png");
            background-repeat: no-repeat;
            opacity: 0.6;
            width: 44px;
            height: 43px;
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
    .arrow {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
    }
    .list-group-item {
        text-align: right;
        border: 0;
        background: none;
        padding: 7px;
        font-size: 19px;
        color: $color_text_gray_menu;
        font-weight: bold;
        text-align: center;
        a {
            text-decoration: none;
            color: $color_text_gray_menu;
            font-size: 19px;
            font-weight: normal;
        }
    }
    .list-group {
        border-left: 2px solid #b3b3b3;
        padding-right: 15px;
        flex: 1;
        &.noBorderLeft{border-left: 0px}
        /* text-align: center; */;
        /* margin-left: 5%; */;
    }
    .list-group:last-child {
        border-left: 0;
        padding-right: 15px;
    }
}

.bottomShadow {
    display: none;
}

@media (min-width: 1230px) {
    //width screen = 1200
    #wrapper {
        .footer {
            margin-top: 130px;
            height: 215px;
            margin-left: -15px;
            margin-right: -15px;
            padding: 0 50px;
            .arrow {
                border-left: 600px solid transparent;
                border-right: 600px solid transparent;
                border-bottom: 106px solid #cbcbcb;
                bottom: 215px;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1229px) {
    //width screen = 1170
    #wrapper {
        .footer {
            margin-top: 130px * 0.975;
            height: 215px * 0.975;
            padding: 0 40px;
            .arrow {
                border-left: (600px * 0.975) solid transparent;
                border-right: (600px * 0.975) solid transparent;
                border-bottom: (106px * 0.975) solid #cbcbcb;
                bottom: 215px * 0.975;
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    //width screen = 970
    #wrapper {
        .footer {
            margin-top: 130px * 0.8;
            height: 187px;
            .arrow {
                border-left: (600px * 0.8) solid transparent;
                border-right: (600px * 0.8) solid transparent;
                border-bottom: (106px * 0.8) solid #cbcbcb;
                bottom: 187px;
                ;
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    //width screen = 750
    #wrapper {
        .footer {
            margin-top: 130px * 0.625;
            height: 187px;
            .arrow {
                border-left: (600px * 0.625) solid transparent;
                border-right: (600px * 0.625) solid transparent;
                border-bottom: (106px * 0.625) solid #cbcbcb;
                bottom: 187px;
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    #wrapper {
        .footer {
            margin-top: -70px;
            height: 280px;
            z-index: 100;
            background-color: #cbcbcb;
            padding-top: 50px;
            display: flex;
            .arrow {
                display: none;
            }
            .socialNetwork {
                bottom: 5px;
                li {
                    display: inline-block !important;
                    float: right;
                }
            }
            .jumpTop {
                bottom: 10px;
            }
        }
        .bottomShadow {
            display: block;
            transform: rotate(180deg);
            z-index: 50;
            display: none;

        }
    }
}

@media (min-width: 600px) and (max-width: 766px) {
    #wrapper {
        .footer {
            margin-top: -73px;
        }
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    #wrapper {
        .footer {
            margin-top: -64px;
            height: 315px;
            overflow: hidden;
            display: flex;
            .list-group-item {
                padding: 6px 0px;
                font-size: 15px;
                text-align: center;
                a {
                    font-size: 15px;
                }
            }
            .socialNetwork {
                position: absolute;
                left: 48px;
                bottom: 50px;
            }
            .jumpTop {
                bottom: 5px;
                left: 6px;
                height: 40px;
                width: 29px;
            }
        }
    }
}