@import 'color';
//
//
//
//var base width & height
$base_siteLogo_width:263px;
$base_siteLogo_height:169px;
$base_menu_socialNetwork_size:43px;
//
//
//
nav {

    #menuButtons {
                @media (max-width: 600px) {
                    background:#e0dede;
                }
        .memuButton {
            a {
                color: $color_text_gray_menu;
                opacity: 0.8;
                z-index: 49;
                position: relative;
                /* font-weight: bolder; */
                color: rgba(105, 102, 102, 0.8);
                 .borderLeft{
                     color:red
                 ;
                     width: 2px;
                     height: 20px;
                     background: #989797;
                     float: left;
                     margin-right: 20px;
                     position: relative;
                     top: 2px;}
                .glyphicon{
                top: 16px;
                left: -13px;
                position: absolute;
                font-size: 0.8em;}

                /* border-left: 1px solid red; */
                &:hover,
                &:focus,
                &:active {
                    color: $color_text_orange;
                    opacity: 1;
                    text-decoration: underline;
                }
                &.active {
                    color: $color_text_orange;
                }
            }
        }
        .separator {
            padding-top: 10px;
            color: $color_text_gray_menu;
            opacity: 0.8;
            margin: 0 !important;
        }
        .dropdown-menu {
            background: $color_backgrgound_orange;
            border: 4px solid $color_backgrgound_white;
            li {
                padding: 0 11px;
                &:last-child a {
                    border-bottom: 0;
                }
                a {
                    color: $color_backgrgound_white;
                    border-bottom: 3px solid $color_backgrgound_white;
                    background-position-y: -1px;
                    &:hover,
                    &:focus {
                        background-color: #3f3f3f;
                        text-decoration: none;
                    }
                }
            }
        }
        .socialNetwork {
            a {
                background-image: url("/public/images/soical_network.png");
                background-repeat: no-repeat;
                opacity: 0.6;
                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }
    }
    .navbar-toggle {
        background: $color_black;
        margin-top: 70px;
        .icon-bar {
            background: $color_text_orange;
        }
    }
    #siteLogo {
        z-index: 50; //important that the first button on the menu not hide the logo
        position: relative;
    }
}


/* Large desktops and laptops */

@media (min-width: 1200px) {
    nav {
        h5,
        p,
        a,
        button {
            font-size: 22px;
        }
        #menuButtons {
            padding-top: 142px;
            padding-right: $base_siteLogo_width; //move button to the end of the logo
            .memuButton {
                margin-left: 5px;
            }
        }
        #siteLogo {
            width: $base_siteLogo_width; //263
            height: $base_siteLogo_height; //169
        }
        .socialNetwork {
            li {
                &:nth-child(4) a {
                    background-position-x: 1px;
                }
                &:nth-child(3) a {
                    background-position-x: -43px;
                }
                &:nth-child(2) a {
                    background-position-x: -96px;
                }
                &:nth-child(1) a {
                    background-position-x: -142px
                }
            }
            a {
                width: $base_menu_socialNetwork_size + 1;
                height: $base_menu_socialNetwork_size;
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    nav {
        h5,
        p,
        a,
        button {
            font-size: 23px * 0.83;
        }
        #menuButtons {
            padding-top: 142px * 0.83;
            padding-right: $base_siteLogo_width * 0.83; //move button to the end of the logo
            .memuButton {
                margin-left: -3px;
            }
        }
        #siteLogo {
            width: $base_siteLogo_width * 0.83; //263
            height: $base_siteLogo_height * 0.83; //169
        }
        .socialNetwork {
            padding-top: 5px;
            li {
                &:nth-child(4) a {
                    background-position-x: 0;
                }
                &:nth-child(3) a {
                    background-position-x: -35px;
                }
                &:nth-child(2) a {
                    background-position-x: -78px;
                }
                &:nth-child(1) a {
                    background-position-x: -115px;
                }
            }
            a {
                background-size: cover;
                width: $base_menu_socialNetwork_size * 0.82;
                height: $base_menu_socialNetwork_size * 0.82;
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    nav {
        h5,
        p,
        a,
        button {
            font-size: 23px * 0.64;
        }
        #menuButtons {
            padding-top: 142px * 0.64;
            padding-right: $base_siteLogo_width * 0.64 - 4; //move button to the end of the logo
            .memuButton {
                margin-left: -20px;
            }
            .separator {
                padding-top: 13px;
                padding-right: 10px;
            }
        }
        #siteLogo {
            width: $base_siteLogo_width * 0.64; //263
            height: $base_siteLogo_height * 0.64; //169
        }
        .socialNetwork {
            padding-top: 9px;
            margin-left: -15px;
            li {
                &:nth-child(4) a {
                    background-position-x: 1px;
                }
                &:nth-child(3) a {
                    background-position-x: -29px;
                }
                &:nth-child(2) a {
                    background-position-x: -66px;
                }
                &:nth-child(1) a {
                    background-position-x: -98px;
                }
            }
            a {
                background-size: cover;
                width: ($base_menu_socialNetwork_size * 0.64);
                height: $base_menu_socialNetwork_size * 0.64;
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    nav {
        h5,
        p,
        a,
        button {
            font-size: 22px;
        }
        #siteLogo {
            height: 90px;
        }
        #menuButtons {
            .separator {
                display: none;
            }
            .dropdown-menu {
                width: calc(100% - 100px);
                margin-right: 90px;
                margin-top: -34px;
                /* position: fixed; */
            }
            .memuButton:hover a:not(.dropdown-menu a) {
                color: #e7b042;
                text-decoration: underline;
            }
        }
        .socialNetwork {
            text-align: left;
            margin-left: 0;
            li {
                display: inline-block;
                &:nth-child(4) a {
                    background-position-x: 0;
                }
                &:nth-child(3) a {
                    background-position-x: -43px;
                }
                &:nth-child(2) a {
                    background-position-x: -95px;
                }
                &:nth-child(1) a {
                    background-position-x: -141px
                }
            }
            a {
                width: $base_menu_socialNetwork_size;
                height: $base_menu_socialNetwork_size;
            }
        }
    }
}


/* Portrait phones and smaller */

@medi