@import 'color';
//cleat the list style 
#injectHtml {
    padding: 0;
    li {
        list-style: none;
    }
}
.readMore{
    ul{
        padding-right: 0px;
        margin-top:25px;
        .desTitle{
            color: rgba(0, 0, 0, 0.8) !important;
        }
    }
}

.promotions {
    position: relative;

    .planARea {}
    .planbox {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(195, 199, 204);
        border-radius: 9px;
        background-image: linear-gradient( 90deg, rgb(235, 237, 238) 0%, rgb(255, 255, 255) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(235, 237, 238) 0%, rgb(255, 255, 255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(235, 237, 238) 0%, rgb(255, 255, 255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(235, 237, 238) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
        position: relative;
        .companyBox {
            height: 100%;
            position: static;  
            text-align: center;
            .logo {
                position: absolute;
                top: 35px;
                bottom: 35px; 
                right: 0;
                left: 84%;
                border-left: 6px solid #cdcdcd;
            }
        }
        .textBox {
            padding-right: 0;
            padding-top: 0;
            opacity: 0.85;
            .planTitle {
                ul {
                    margin-bottom: 0;
                }
                ul li {
                    display: inline-block;
                    list-style: none;
                    h2 {
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                        font-weight: bold;
                        color: #5e5a5a;
                    }
                }
                li:after {
                    content: " - ";
                    font-size: 35px;
                    font-weight: bold;
                    color: #5e5a5a;
                }
                li:last-child:after {
                    content: "";
                }
            }
            .planDescription {
                ul li {
                    font-size: 23px;
                    list-style: none;
                    margin-bottom: 5px;
                    .desText {
                        color: #5e5a5a;
                    }
                    .desTitle {
                        color: $color_backgrgound_orange;
                        font-weight: bold;
                        float: right;
                        padding-left: 5px;
                    }
                }
                li .desTitle:after {
                    content: ":";
                }
            }
        }
        .priceBox {
            .price {
                color: #8c8c8c;
                font-weight: bold;
            }
            .contact {
                button {
                    border: none;
                    border-radius: 10px;
                    background-color: #e8b44c;
                    color: white;
                    &,
                    &:hover,
                    &:focus {
                        outline: none;
                    }
                }
                &:hover,
                &:focus {
                    button {
                        box-shadow: inset 0 4px 10px 0 #dc984d;
                        -webkit-box-shadow: inset 0 4px 10px 0 #dc984d;
                        -moz-box-shadow: inset 0 4px 10px 0 #dc984d;
                        -o-box-shadow: inset 0 4px 10px 0 #dc984d;
                    }
                }
            }
        }
        .more {
            ul {
                list-style: none;
                text-align: center;
                width: 100%;
                padding: 0;
                li {
                    display: inline-block;
                    a,
                    span {
                        color: #e6b043;
                    }
                }
            }
        }
    }
    .ClickToReadMore {
        color: #e9b44c;
        font-size: 15px
    }
}

@media (min-width: 1200px) {
    .promotions {
        .planARea {}
        .planbox {
            width: 100%;
            margin: 35px auto 0 auto;
            padding-top: 35px;
            padding-bottom: 35px;
            .companyBox {
                .logo {
                    img {
                        max-width: 148px;
                    }
                }
            }
            .textBox {
                .planTitle {
                    ul li {
                        h2 {
                            font-size: 35px;
                        }
                    }
                    li:after {
                        font-size: 35px;
                    }
                    li:last-child:after {
                        content: "";
                    }
                }
                .planDescription {
                    ul li {
                        font-size: 23px;
                        .desText {}
                    }
                }
            }
            .priceBox {
                .price {
                    font-size: 46.235px;
                    margin-top: -8px;
                }
                .contact {
                    padding-top: 40px;
                    button {
                        width: 138px;
                        height: 115px;
                        font-size: 25px;
                    }
                    .triangle {
                        height: 10px;
                        width: 23px;
                        margin: 0 auto;
                        border-left: 23px solid transparent;
                        border-right: 23px solid transparent;
                        border-top: 23px solid #e8b44c;
                    }
                }
            }
            .more {
                ul {
                    margin-top: 40px;
                    li {
                        display: inline-block;
                        &:first-child a {
                            font-size: 21px;
                            margin-left: 15px;
                        }
                        ;
                        &:last-child a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .promotions {
        .planARea {}
        .planbox {
            width: 100%;
            margin: 35px * 0.83 auto 0 auto;
            padding-top: 35px * 0.83;
            padding-bottom: 35px * 0.83;
            .companyBox {
                .logo {
                    img {
                        max-width: 148px * 0.83;
                    }
                }
            }
            .textBox {
                .planTitle {
                    ul li {
                        h2 {
                            font-size: 35px * 0.83;
                        }
                    }
                    li:after {
                        font-size: 35px * 0.83;
                    }
                }
                .planDescription {
                    ul li {
                        font-size: 23px * 0.83;
                        .desText {}
                    }
                }
            }
            .priceBox {
                .price {
                    font-size: 46.235px * 0.83;
                    margin-top: -8px * 0.83;
                }
                .contact {
                    padding-top: 40px * 0.83;
                    button {
                        width: 138px * 0.83;
                        height: 115px * 0.83;
                        font-size: 31px * 0.83;
                    }
                    .triangle {
                        height: 10px * 0.83;
                        width: 23px * 0.83;
                        margin: 0 auto;
                        border-left: 23px * 0.83 solid transparent;
                        border-right: 23px * 0.83 solid transparent;
                        border-top: 23px * 0.83 solid #e8b44c;
                    }
                }
            }
            .more {
                ul {
                    margin-top: 40px;
                    li {
                        display: inline-block;
                        &:first-child a {
                            font-size: 21px * 0.83;
                            margin-left: 15px * 0.83;
                        }
                        &:last-child a {
                            font-size: 15px * 0.83;
                        }
                    }
                }
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .promotions {
        .planARea {}
        .planbox {
            width: 100%;
            margin: 35px * 0.64 auto 0 auto;
            padding-top: 35px * 0.64;
            padding-bottom: 35px * 0.64;
            .priceNotes {
             font-size: 10px;  
             }
            .companyBox {
                .logo {
                        top: 30px;
                        bottom: 30px;
                    img {
                        max-width: 148px * 0.64;

                    }
                }
            }
            .textBox {
                .planTitle {
                    ul li {
                        h2 {
                            font-size: 35px * 0.64;
                        }
                    }
                    li:after {
                        font-size: 35px * 0.64;
                    }
                }
                .planDescription {
                    padding: 10px 0;
                    ul li {
                        font-size: 16px;
                        .desText {}
                    }
                }
            }
            .priceBox {
                .price {
                    font-size: 46.235px * 0.64;
                    margin-top: -8px * 0.64;
                }
                .contact {
                    padding-top: 40px * 0.64;
                    button {
                        width: 138px * 0.64;
                        height: 115px * 0.64;
                        font-size: 14.84px;
                    }
                    .triangle {
                        height: 10px * 0.64;
                        width: 23px * 0.64;
                        margin: -1px auto;
                        border-left: 23px * 0.64 solid transparent;
                        border-right: 23px * 0.64 solid transparent;
                        border-top: 23px * 0.64 solid #e8b44c;
                    }
                }
            }
            .more {
                ul {
                    margin-top: 40px;
                    li {
                        display: inline-block;
                        &:first-child a {
                            font-size: 21px * 0.64;
                            margin-left: 15px * 0.64;
                        }
                        &:last-child a {
                            font-size: 15px * 0.64;
                        }
                    }
                }
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .promotions {
        
        .planARea {}
        .planbox {
            width: 100%;
            margin: 35px auto 0 auto;
            padding-top: 15px;
            padding-bottom: 25px;
            .companyBox {
                position: relative;
                border-bottom: 5px solid #9c9a9a;
                padding-bottom: 15px;
                text-align: right;
                /* display: flex; */
                .logo {
                    width: calc(100% - 176px);
                    position: static;
                    padding-right: 25px;
                    border:0px;
                    .helper {
                        display: none;
                    }
                    img {
                            height: 48px;
                            width: auto;
                    }
                }
            }
            .textBox {
                border: 0;
                .planTitle {
                    //padding-top: 15px;
                    ul li {}
                    li:after {
                        font-size: 35px;
                    }
                    li:last-child:after {
                        content: "";
                    }
                }
                .planDescription {
                    // padding: 10px 0;
                    ul li {
                        font-size: 16px;
                        .desText {}
                    }
                }
            }
            .priceBox {
                position: static;
                .price {
                    position: absolute;
                    top: 15px;
                    left: 30px;
                    width: 171px;
                    font-size: 46.235px;
                    margin-top: -8px;
                }
                .contact {
                    padding-top: 15px;
                    button {
                        width: calc(100% - 60px);
                        height: 60px;
                        border-radius: 0;
                        font-size: 31px;
                    }
                    .triangle {
                        display: none;
                    }
                }
            }
            .more {
                ul {
                    margin-top: 10px;
                    li {
                        display: inline-block;
                        &:first-child a {
                            font-size: 21px;
                            margin-left: 15px;
                        }
                        ;
                        &:last-child a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .promotions {
        .planARea {}
        .planbox {
                box-shadow: 1px 2px 6px -2px #777;
                border:0;
                border-radius:0px;
            .companyBox .logo {
                padding-right: 0px;
                img {
                    
                }
            }
            .textBox {
                .planTitle {
                    padding-top: 15px;
                    //h2 {font-size:16px;}
                    ul {
                        padding-right: 15px;
                        padding-bottom: 5px;
                    }
                    li:after {
                        //font-size: 27px;
                        font-size:16px;
                    }
                }
                .planDescription {
                    ul {
                        padding-right: 16px;
                    }
                    ul li {
                        font-size: 13px;
                    }
                }
            }
            .priceBox {
                .price {
                    font-size: 30px;
                    width: calc(100% - 108px);
                    text-align: left;
                    height: 65px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    small{
                        font-size:10px;
                        margin-top:-5px;
                    }
                }
                .contact {
                    button {
                        font-size: 31px;
                        height: auto;
                    }
                }
            }
            .more {
                ul {
                    li {
                        &:first-child a {
                            font-size: 21px;
                        }
                        ;
                        &:last-child a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}