@import 'color';
//
.serviceMenu {
    padding-left: 0;
    padding-right: 0;
    a:focus,
    a:hover {
        text-decoration: none;
    }
    #description {
        color: $color_gray;
        opacity: 0;
        transition: opacity 1s linear;
    }
    .popover {
        border: 2px solid $color_backgrgound_orange;
        font-size: 1.3em;
        font-family: 'Arimo', sans-serif;
    }
    .popover-title {
        background-color: $color_text_orange;
    }
    .buttonsAria {
        .description {
            display: none;
            @media (max-width: 992px) {
                margin-top: 5px;  
            }
        }
        .serviceButton {
            display: inline-table;
            .circle {
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                background-position: 50% 77%;
                background-repeat: no-repeat;
                &:hover,
                &:focus {
                    box-shadow: 0 1px 1px 2px #939393;
                }
                h2 {
                    color: #eeeeee;
                    font-weight: bold;
                    white-space: pre-line;
                    width: 74%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &#businessService .circle {
                background-color: #e7b85f;
                background-image: url("/public/images/icon/lamp.png");
            }
            &#moving .circle {
                background-color: #bf7a66;
                background-image: url("/public/images/icon/home.png");
            }
            &#billsCheck .circle {
                background-color: #87a5c0;
                background-image: url("/public/images/icon/bill.png");
            }
            &#disconnected .circle {
                background-color: #799b8f;
                background-image: url("/public/images/icon/disconnect.png");
            }
        }
    }
}

@media (min-width: 1200px) {
    .serviceMenu {
        h2 {
            font-size: 27px;
        }
        margin-top: 65px;
        .buttonsAria {
            padding-top: 45px;
            .serviceButton {
                width: 222px;
                height: 206px;
                margin: 15px;
                .circle {
                    width: 221px;
                    height: 205px;
                    padding-top: 15px;
                }
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .serviceMenu {
        h2 {
            font-size: 27px * 0.83;
        }
        margin-top: 65px * 0.83;
        .buttonsAria {
            padding-top: 45px * 0.83;
            .serviceButton {
                width: 222px * 0.83;
                height: 206px * 0.83;
                margin: 15px * 0.83;
                .circle {
                    background-size: 25%;
                    background-position: 50% 82%;
                    width: 221px * 0.83;
                    height: 205px * 0.83;
                    padding-top: 15px * 0.83;
                }
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .serviceMenu {
        h2 {
            font-size: 27px * 0.64;
        }
        margin-top: 65px * 0.64;
        .buttonsAria {
            padding-top: 45px * 0.64;
            .serviceButton {
                width: 222px * 0.64;
                height: 206px * 0.64;
                margin: 15px * 0.64;
                .circle {
                    background-size: 26%;
                    background-position: 50% 82%;
                    width: 221px * 0.64;
                    height: 205px * 0.64;
                    padding-top: 1px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .serviceMenu {
        h2 {
            font-size: 27px;
        }
        margin-top: 65px * 0.64;
        .buttonsAria {
            padding-top: 45px * 0.64;
            .serviceButton {
                width: auto;
                height: auto;
                margin: 5px;
                .circle {
                    background-size: 26%;
                    background-position: 50% 82%;
                    width: 141.44px;
                    height: 131.2px;
                    padding-top: 1px;
                    h2 {
                        font-size: 27px * 0.64;
                    }
                }
            }
        }
    }
}

@media (min-width: 466px) and (max-width: 670px) {
    .serviceMenu {
        .buttonsAria {
            .serviceButton {
                .circle {
                    background-size: 26%;
                    background-position: 50% 82%;
                    width: 183.8px;
                    height: 170.8px;
                    padding-top: 1px;
                    margin: 10px;
                    h2 {
                        font-size: 22.28px;
                        width: 59%;
                    }
                }
            }
        }
    }
}

@media (max-width: 340px) {
    .serviceMenu {
        .buttonsAria {
            .serviceButton {
                width: 45%;
                .circle {
                    background-size: 26%;
                    background-position: 50% 82%;
                    width: 100%;
                    height: 140.8px;
                    padding-top: 1px;
                    margin: 0px;
                    h2 {
                        font-size: 18px;
                        width: 59%;
                    }
                }
            }
        }
    }
}