@import 'color';
//
//
//
//
//var base width & height
$base_slider_img_width:556px;
$base_slider_img_height:371px;
$base_slider_compass_img_width:295px;
$base_slider_logo_height:86px;
;
//
//
//
//

.imgLazyLoad{
    background-image: url("/public/images/fiveSliderPic/default.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionTop {
    #siteSlider {
        background-color: $color_white;
        .sliderBtn{
            position: absolute;
            bottom: 8px;
        }
        .defaultSlider {
            .glyphicon-time {
                font-size: 60px;
                background: rgb(233, 180, 78);
                border-radius: 5px;
                padding: 7px 5px 5px 5px;
                color: #3e3e3e;
                box-shadow: 0px 0px 6px -1px;
            }
        }
        .sliderImg {
            float: left;
        }
        .compass {
            height: 100%
        }
        .carousel-control.right {
            background-color: $color_white;
            background-image: initial;
            opacity: 1;
            .textUnderCompass{
                position: absolute;
                margin-top: -85px;
                width: 131px;
                opacity: 0.8;
                line-height: 1.1;
                //background: red;
                right: 52px;
                @media (min-width: 768px) {right: 40px;margin-top: -60px;}
                @media (min-width: 962px) {right:72px;margin-top: -85px;}
                
                @media (min-width: 1230px) {right:100px;margin-top: -85px;}
                }
                    }
        .glyphicon-chevron-right,
        .carousel-control.left {
            position: absolute;
            color: $color_gray;
        }
        .glyphicon-chevron-right {
            opacity: .5;
            right: 30px;
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
        .carousel-control.left {
            background-color: transparent;
        }
        .glyphicon-chevron-left {
            left: 15px;
        }
        .carousel-indicators {
            position: absolute;
            bottom: 0;
            width: 227px;
            text-align: center;
            right: 94%;
        }
        .carousel-caption {
            text-shadow: none;
            color: $color_backgrgound_gray;
        }
        .clickToService {
            background-color: #8c8c8c;
                border: none;
                height: 38px;
                color: rgba(245, 245, 242, 0.8);
                line-height: 11px;
                display: flex;
                flex-wrap: nowrap;
                line-height: 0.9;
                justify-content: space-between;
                align-items: center;
                text-align: right;
            span {
                font-size: 0.7em;
                color: $color_white;
                font-weight: bold;
            }
            &:hover,
            &:focus {
                background-color: $color_black;
            }
        }
         @media (max-width: 1200px) {
            .price {
                font-size: 36px;
            }
         }


        .price {
            font-size: 33px;
            color: $color_text_orange;
            font-weight: bold;
            margin-top: 5px;
            text-shadow: none;
            background: #f5f5f2;
        }
        .offerLogo {
            margin-bottom: 10px;
            @media (min-width: 634px) and (max-width: 767px) {
                margin-left: -30px;
                background-color: #f5f5f2;
            }
        }
        .offerText {
            margin-bottom: 0;
            opacity: 0.8;
            /* font-size: 1em; */;
            font-size: 22px;
            @media (max-width: 1190px) {
               font-size: 13px; 
            }
            .categoreName{
                color:#e7b042
            }
            .main{
                max-height: 30px;
                overflow: hidden;
                line-height: 0.70;
            }

        }
             .wrapper{
                overflow: hidden;
            }
        .clickToCompare {
            background-color: #e6e1e1;
            position: absolute;
            bottom: 4%;
            padding-top: 2px;
            &:hover,
            &:focus {
                background-color: $color_text_gray_menu;
                a {
                    color: $color_backgrgound_white;
                    text-decoration: none;
                }
            }
            a {
                color: $color_backgrgound_gray;
                text-shadow: none;
                span {
                    font-size: 15px;
                }
            }
            ;
        }
    }
}

//
//
//

/* Large desktops and laptops */

@media (min-width: 1200px) {
    .sectionTop {
        #siteSlider {
            h5,
            p,
            a,
            button {
                font-size: 22px;
            }
            &,
            .carousel-inner,
            .sliderImg,
            .carousel-caption {
                height: $base_slider_img_height; //371              
            }
            .sliderImg {
                width: $base_slider_img_width; //556
            }
            .sliderBtn {
                bottom: 15px;
            }
            .carousel-caption {
                right: $base_slider_compass_img_width; //305
                left: $base_slider_img_width; //556;
                top: 0;
                /* display: flex; */
                /* align-items: center; */
                /* flex-direction: column; */
            }
            .clickForSaveMoney{
                cursor: pointer
            }
            .compass {
                margin-right: 65px;
            }
            .offerLogo {
                img {
                    height: $base_slider_logo_height;
                    width: auto;
                }
            }
             .wrapper{
                height: 98px;
                padding-right: 10px;
                line-height: 1.1;
            }
            .carousel-indicators {
                right: 96%;
            }
            .clickToCompare {
                height: 34px;
                width: 177px;
                right: 80px;
            }
        }
    }
}


/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .sectionTop {
        #siteSlider {
            h5,
            p,
            a,
            button {
                font-size: 23px * 0.83;
            }
            &,
            .carousel-inner,
            .sliderImg,
            .carousel-caption {
                height: $base_slider_img_height * 0.83; //371              
            }
            .sliderImg {
                width: 428.48px; //556
            }
            .carousel-caption {
                right: $base_slider_compass_img_width * 0.83; //305
                left: $base_slider_img_width * 0.83; //556;
                top: 0;
            }
            .compass {
                margin-right: 65px * 0.83;
            }
            .offerLogo img {
                height: $base_slider_logo_height * 0.83;
                width: auto;
                margin-top: -10px;
            }
             .wrapper{
                height: 91px;
                padding-right: 10px;
            }
            .carousel-indicators {
                right: 93%;
            }
            .clickToCompare {
                height: 34px * 0.83;
                width: 177px * 0.83;
                right: 80px * 0.83;
                padding-top: 0;
                a {
                    font-size: 17px !important;
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .sectionTop {
        #siteSlider {
            h5,
            p,
            a,
            button {
                font-size: 23px * 0.64;
            }
            &,
            .carousel-inner,
            .sliderImg,
            .carousel-caption {
                height: $base_slider_img_height * 0.64; //371              
            }
            .sliderImg {
                width: $base_slider_img_width * 0.64; //556
            }
            .carousel-caption {
                right: $base_slider_compass_img_width * 0.64; //305
                left: $base_slider_img_width * 0.64; //556;
                top: 0;
            }
            .compass {
                margin-right: 65px * 0.64;
            }
            .offerLogo img {
                height: $base_slider_logo_height * 0.64;
                width: auto;
                margin-top: -10px;
            }
             .wrapper{
                height: 58px;
                padding-right: 15px;
            }
            .price {
                font-size: 19.23px;
            }
            .carousel-indicators {
                right: 90%;
            }
            .clickToCompare {
                height: 34px * 0.64;
                width: 177px * 0.64;
                right: 80px * 0.64;
                padding-top: 4px;
                line-height: 2px;
                a {
                    font-size: 13px !important;
                    span {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .sectionTop {
        #siteSlider {
            h5,
            p,
            a,
            button {
                font-size: 22px;
            }
            &,
            .carousel-inner,
            .sliderImg,
            .carousel-caption {
                height: $base_slider_img_height * 0.64;
                display: none;
                 //371              
            }
            .sliderImg {
                height: $base_slider_img_height * 0.64;
                width: auto;
            }
            .carousel-caption {
                right: 0;
                left: 48%;
                top: 0;
            }
            .carousel-control.right {
                background-color: transparent;
            }
            .compass {
                display: none;
            }
            .glyphicon-chevron-left {
                left: 30px;
            }
            .offerLogo {
                float: left;
                img {
                    height: $base_slider_logo_height * 0.64;
                    width: auto;
                    margin-top: 5px;
                    box-shadow: 0px 0px 4px 0px #eeeeee;
                    background: #eeeeee;
                }
            }
            .wrapper {
                overflow: hidden;
                max-height: 98px;
                padding: 0 15px;
                height: auto;
            }
            .carousel-indicators {
                display:none;
            }
            .price {
                font-size: 20.23px;
            }
            .clickToCompare {
                display: none;
            }
            .clickToService {
                &:hover,
                &:focus {
                    background-color: #eeeeee;
                    color: rgb(73, 69, 67);
                    span {
                        color: rgb(73, 69, 67);
                    }
                }
            } 
        }
    }
}

@media (max-width: 633px) {
    .carousel-caption {
        background-color: rgba(61, 61, 61, 0.91);
        opacity: 1;
        left: 0 !important;
        padding-left: 30px;
    }
    #siteSlider .sliderImg {
        float: none !important;
        margin: 0 auto;
    }
}


/* Portrait phones and smaller */

