doctype html
html
	head
		include ./partials/header.pug
		include ./partials/seo/category.pug
	body
		#wrapper.container
			include ./partials/nav.pug  
			section.sectionTop.container-fluid
				include ./components/categoryTopSection.pug
			section.sectionMiddle.container-fluid 
				div.col-xs-12.col-sm-9.filterMenu.text-center.col-sm-push-3.opacityZero
					include ./components/filterBox.pug	 
				div.col-xs-12.col-sm-3.companyMenu.col-sm-pull-9
					include ./components/moreCompaniesMenu.pug	  
			section.sectionbottom.container-fluid 
				div.promotions
					.wrapText
						h2=  ` מבצעי ${data.categoryName}`
					include ./components/spinner.pug		
					.planArea(stlye='min-height: 800px;')
						include ./components/sortPlansBox.pug
						ul#injectHtml(style='display: block')
							each obj in data['planes']
								include ./components/endToEndThem/planBox.pug
						include ./components/contactFormModelDialog.pug
			//-FOOTER
			include ./components/articles.pug	
			footer
				include ./components/modelDialog.pug 
				include ./partials/footer.pug 