doctype html
html
	head
		include ./partials/header.pug
		include ./partials/seo/company.pug
	body
		#wrapper.container
			include ./partials/nav.pug  
			section.sectionTop.container-fluid
				include ./components/companyTopSection.pug
			section.sectionMiddle.compnayPage.container-fluid 
				div.col-xs-12.col-sm-6.col-sm-6.col-sm-push-6.aboutTheCompanyWrapper
					include ./components/aboutTheCompany.pug	 
					include ./components/moreCompanySlider.pug	 
				div.col-xs-12.col-sm-6.col-sm-6.col-sm-pull-6.contactWrapper 
					include ./components/contactWithCompanyForm.pug
			section.sectionbottom.container-fluid 
				div.promotions
					include ./components/tabFilter.pug	
					include ./components/spinner.pug	
					.planArea(stlye='min-height: 800px;')
						#serviceBox(style='display: none;')
							include ./components/serviceBox.pug
						ul#injectHtml(style='display: block')
							each obj in data['planes']
								include ./components/endToEndThem/planBox.pug
						include ./components/contactFormModelDialog.pug
			//-FOOTER
			include ./components/articles.pug	
			footer
				include ./components/modelDialog.pug 
				include ./partials/footer.pug  