//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     // Google Tag Manager (noscript)
//-     noscript
//-       iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-K5L5N7F', height='0', width='0', style='display:none;visibility:hidden')
//-     // End Google Tag Manager (noscript)
//-     block content
//-       h1 העמוד לא נמצא
//-       h2= error.status
//-       pre #{error.stack}
doctype html
html
  head
    include ./partials/header.pug
    include ./partials/seo/home.pug
  body
    #wrapper.container
      include ./partials/nav.pug  
      section.sectionMiddle.container-fluid
        h1 אופס, הדף שחיפשת לא נמצא
        a(href='/', style='float: right;') חזרה לדף הבית
        div.col-xs-12.col-sm-3.companyMenu.col-sm-pull-9
          include ./components/moreCompaniesMenu.pug
      //-FOOTER
      footer
        include ./components/modelDialog.pug 
        include ./partials/footer.pug 