doctype html
html
	head
		include ./partials/header.pug
		include ./partials/seo/home.pug
	body
		#wrapper.container
			include ./partials/nav.pug  
			include ./components/slider.pug
			section.sectionMiddle.container-fluid
				include ./components/categoryMenu.pug
				div.col-xs-12.col-sm-3.companyMenu.col-sm-pull-9
					include ./components/moreCompaniesMenu.pug
			//-section.sectionbottom.container-fluid
				include ./components/moreService.pug	
			//-FOOTER
			include ./components/articles.pug	
			footer
				include ./components/contactFormModelDialog.pug
				include ./partials/footer.pug 