doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-K5L5N7F', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    block content
