doctype html
html
	head
		include ./partials/header.pug
		include ./partials/seo/post.pug
	body
		#wrapper.container
			include ./partials/nav.pug  
			include ./components/slider.pug
			section.sectionMiddle.container-fluid.postPage
				div.col-xs-12.col-sm-9
					.media.postArea
						.media-left
							a(href='#')
							img.media-object.postImage(src=`${data.currentPost ? data.currentPost.url ? data.currentPost.picture.url : data.currentPost.picture.url : null }`, alt='...')
						.media-body
							h1.media-heading #{data.currentPost ? data.currentPost.title : 'תוכן ומאמרים: '}
							h5.postBody #{data.currentPost ? data.currentPost.body : ''}

				div.col-xs-12.col-sm-3(style='padding-left: 0px;')
					div.companyMenu
						include ./components/moreCompaniesMenu.pug
			section.sectionbottom.container-fluid
				include ./components/moreService.pug	
			//-FOOTER
			include ./components/articles.pug	
			footer
				include ./components/modelDialog.pug 
				include ./partials/footer.pug 