
doctype html
head
  title Parse Server Example
  link(href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-min.css', rel='stylesheet')
  link(href='/public/css/style.css', rel='stylesheet')
.container
  .align-center
    img#parse-logo(src='/public/images/parse-logo.png')
  .advice
    p
      strong Hi
    p
      a(href='https://github.com/ParsePlatform/parse-server/wiki/Migrating-an-Existing-Parse-App') migration guide
      a(href='https://github.com/ParsePlatform/') Parse Platform
  p.up-and-running
    span#parse-url ...
  p
  p
  #step-1.pure-g.step--container
    .pure-u-1-5.align-center
      span.step--number
    .pure-u-4-5
      p.step--info Post data to local parse server:
      .pure-g
        .pure-u-1-5
          a#step-1-btn.step--action-btn(href='#') Post
        .pure-u-4-5
          // <div class="code-label " title="Output">Output</div>
          pre#step-1-output.step--pre.hidden.
            \n...            
  #step-2.pure-g.step--container.step--disabled
    .pure-u-1-5.align-center
      span.step--number
    .pure-u-4-5
      p.step--info Fetch data from local parse server:
      .pure-g
        .pure-u-1-5
          a#step-2-btn.step--action-btn(href='#') Fetch
        .pure-u-4-5
          pre#step-2-output.step--pre.hidden.
            \n...            
  #step-3.pure-g.step--container.step--disabled
    .pure-u-1-5.align-center
      span.step--number
    .pure-u-4-5
      p.step--info Test Cloud Code function from ./cloud/main.js:
      .pure-g
        .pure-u-1-5
          a#step-3-btn.step--action-btn(href='#') TEST
        .pure-u-4-5
          pre#step-3-output.step--pre.hidden.
            \n...            
  #step-4.pure-g.step--container.hidden
    .pure-u-1-5.align-center
      span.step--number
    .pure-u-4-5
      p#local-parse-working
  footer#footer.align-center
    ul
      li
        a(href='https://parse.com', target='_blank') Parse.com
      li
        a(href='https://parse.com/docs', target='_blank') Docs
      li
        a(href='https://github.com/ParsePlatform/parse-server-example', target='_blank') Github
script(src='https://code.jquery.com/jquery-2.2.0.min.js')
script(src='/public/js/script.js')