meta(property='og:image', content='/public/images/logo.jpg')
meta(property='og:url', content='https://www.kanmashvim.co.il/')
meta(property="og:site_name" content="כאן משווים")
meta(name="keywords" content="סלולר , טלוויזיה, שירות לקוחות, אינטרנט, יס, פרטנר, סלקום, הוט, גולן טלקום,פלאפון, הוט מובייל")