title #{data.categoryName} - כאן משווים
meta(name='description', content=`${data.categoryName} - השוואה מהירה ופשוטה בין החברות ${data.companiesName.join(',')}`)
meta(property='og:title', content=`כאן משווים - חבילות ${data.categoryName}`)
meta(property='og:description', content=`${data.categoryName} - השוואה מהירה ופשוטה בין החברות ${data.companiesName.join(',')}`)
link(rel='canonical', href=`https://www.kanmashvim.co.il/category/${data.categoryName}`)