title #{data.page.name} - כאן משווים
meta(name='description', content=`${data.page.name} - הצטרפות מהירות למסלולי ה${data.categories.join(',')} , שירות לקווחות סלקום בגישה מהירה ונגישה. כאן משווים - השוואת מחירים נגישה ופשוטה`)
meta(property='og:title', content=`יס - כאן משווים`)
meta(property='og:description', content=`${data.page.name} - הצטרפות מהירות למסלולי ה${data.categories.join(',')} , שירות לקווחות סלקום בגישה מהירה ונגישה. כאן משווים - השוואת מחירים נגישה ופשוטה`)
link(rel='canonical', href=`https://www.kanmashvim.co.il/company/${data.page.name}`)