title  כאן משווים - השוואת מחירי סלולר, אינטנרט,טלפון ועוד...
meta(name='description', content='כאן משווים הינו אתר השוואת מחירים בין חברות התקשורת - אנחנו כאן בשביל לחשוף בפניך את כלל המבצעים שהחברות מציעות בתחום הטלוויזיה , סלולר, אינטרנט ושיחות לחו"ל. כלל השירותים באתר בחינם עבורך!')
meta(property='og:title', content='כאן משווים - השוואת מחירי סלולר, אינטנרט,טלפון ועוד...')
meta(property='og:description', content='כאן משווים הינו אתר השוואת מחירים בין חברות התקשורת - אנחנו כאן בשביל לחשוף בפניך את כלל המבצעים שהחברות מציעות בתחום הטלוויזיה , סלולר, אינטרנט ושיחות לחו"ל. כלל השירותים באתר בחינם עבורך!')
link(rel='canonical', href='https://www.kanmashvim.co.il/')

