@import 'components/color.scss';
@import 'components/nav.scss';
@import 'components/fontSize.scss';
@import 'components/footer.scss';
@import 'components/article.scss';
@import 'components/commentsTemplate.scss';
@import 'components/categoryMenu.scss';
@import 'components/serviceMenu.scss';
@import 'components/companyMenu.scss';
//var base width & height
$base_siteLogo_width:263px;
$base_siteLogo_height:169px;
body {
    background-color: $color_backgrgound_orange;
    background-image: url("/public/images/icon-background.jpg");
    font-family: 'Arimo', sans-serif;
}



#wrapper {
    background-color: $color_backgrgound_white;
    padding: 0;
}

.displayNone {
    display: none;
}

.visibilityNone{
    visibility: hidden;
}

.spinner {
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    padding-top: 50px;
    display: none;
}
.sectionTop {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #f5f5f2;
    margin-top: -6px;
    @media (min-width: 1230px) {
        margin-left: -15px;
        margin-right: -15px;
         height: 462px;
        margin-bottom: 90px;
    }
}

.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
    //open menu without click
    display: block;
    margin-top: 0;
}

.form-control:focus {
    border-color: #e7b042;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(231, 176, 66);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(231, 176, 66, 0.38);
}

.widthFull {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 14%;
}

.helper {
    display: inline-block;
    /* help put the img in the middle */
    height: 100%;
    vertical-align: middle;
}

.wrapText {
    //title with gray line on both side off text
    width: 100%;
    text-align: center;
    background-color: rgb(205, 205, 205);
    height: 22px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        background-color: #eeeeee;
        line-height: 21px;
        height: 25px;
        color: rgba(102, 102, 102, 0.8);
    }
}

.welcomeTitle {
    color: #696666;
    opacity: 0.8;
    padding: 5px 30px;
    margin-bottom: 15px;
    @media (max-width: 480px) {
        padding:5px 5px;
        //margin-bottom: -60px;
    }
}

.sectionbottom {
    //padding-right: 30px !important;
    //padding-left: 30px !important;
    // padding-left: 40px;
    //padding-top: 40px;
}

//
//
//
//



#articleSinglePage{
    .comments_template .comment-list {
        max-height: 330px;
    }
    article{
        background: transparent !important;
    }
        .wrapText{
            margin-bottom: 15px;
        }
    .content{
            //p {opacity: 0.8}
            padding-top: 15px;
        .logo{
           display: inline-block;
           img{
               height: 50px;
           }
        }
           .title{
                position: relative;
                opacity: 0.8;
                top: 15px;
                margin-right: 5px;
                display: inline-block;
                h1{
                   text-decoration: underline;
                }
           }
           .body{
               padding-top: 15px;
           }
    }

    
    .companyMenu {
        margin-top: 30px;
        height: 365px;
        .title {
            display: none !important;
        }
    } 

}
/* Large desktops and laptops */

@media (min-width: 1230px) {
    #wrapper {
        width: 1200px; // This change width from 1170px to 1200px;
        padding: 0 15px;
    }
}

@media (min-width: 1200px) {
    .topShadow {
         margin-top: -102px;
    }
}





/* Landscape tablets and medium desktops (320/1200=83%) */

@media (min-width: 992px) and (max-width: 1199px) {
    .topShadow {
        margin-top: -86px;
    }
}


/* Portrait tablets and small desktops     //(320/1200=64%) */

@media (min-width: 768px) and (max-width: 991px) {
    .topShadow {
        margin-top: -60px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .sectionTop {
    padding-left: 15px;
    padding-right: 15px;
    }
    .sectionbottom {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .topShadow {
        margin-top: -60px;
        display: none;
        /* margin-bottom: -31px; */
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .topShadow {
        margin-top: -29px;
    }
    .wrapText {
        //title with gray line on both side off text
        width: 100%;
        text-align: center;
        background-color: initial;
        height: 39px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            display: inline-block;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0 auto;
            background-color: #eeeeee;
            line-height: 21px;
            height: 25px;
            color: rgba(102, 102, 102, 0.8);
            border-bottom:1px solid #e8b44c;
            margin-bottom:15px;
        }
    }
}

.noty_message{
    text-align: right !important;
}

//For show only ony product
.hideAll{
    .wrapText , #orderBy , .footer{
        display: none
    }
    .planArea {
    padding-top: 0px !important;
    }
}

.sliderText{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    @media (max-width: 1200px) {
        .title{
            margin-top:-5px;
        }
    width:90%;
    padding-right: 10%;
    height: auto;
    max-height: 200p;
    }
    @media (max-width: 980px) {
        .hideSmall{
            display:none
        }
    }

}