a(href=`/company/${obj.name}`)
    button
        .logo
            span.helper
            //-img(src=`/public/images/company_logo/${obj.name}.png`, alt=`${obj.name} - לוגו`)
            if obj.logo
                img(src=`${obj.logo ? obj.logo.url : '/public/images/company_logo/default.png'}`, alt=`לוגו חברת ${obj.name} `) 
            else
                span חברת #{obj.name}
        .circle
            span.glyphicon.glyphicon-menu-right.circleInner