li
  .planbox.row
    .filtersId(style='display:none') #{obj.filters}
      .hideWhenTrue
    .companyBox.col-xs-12.col-sm-2
      if(obj.company.logo)
        .logo
          span.helper
          img(src=`${obj.company.logo? obj.company.logo.url: '/public/images/company_logo/default.png'}`, alt=`${obj.company.name}`)
       
    // companyBox
    .textBox.col-xs-12.col-sm-7
      .planTitle
        ul
          li.companyName(data-companyname=`${obj.company? obj.company.name : 'חברה'}`)
            h2 #{obj.company? obj.company.name : 'חברת'}
          li.planeName
            h2.planeName #{obj.name}
      .planDescription
        ul
          li
            .desText #{obj.description}
          li
            .desTitle מסלול #{obj.categoryName} הכולל
            .desText  #{obj.categoriesDetails}
          if (obj.subCategories && obj.subCategories.length > 0)
            each sub in obj.subCategories
              li
                .desTitle #{sub.category}
                .desText #{sub.description}
          if (obj.morDetails && obj.morDetails.length > 0)      
            each sub in obj.morDetails
              li
                .desTitle #{sub.title}  
                .desText #{sub.description}
          if obj.Installation
            li
              .desTitle התקנה
              .desText #{obj.Installation}
          if obj.priceNotes
            li
              .desTitle עוד על המחיר
              .desText #{obj.priceNotes}

          li
            .desText(style='font-weight: bold;') #{obj.bonus}
          li(class="displayNone")
            a.ClickToReadMore(onclick='ClickToReadMore(this)', role='button', data-toggle='collapse', href=`#readMore${obj.objectId}`, aria-expanded='false', aria-controls='collapseExample') קרא עוד...
            div(id=`readMore${obj.objectId}`).collapse.readMore
              div
              if (obj.readMore && obj.readMore.length > 0)
                ul
                  each sub in obj.readMore
                    li
                      .desTitle #{sub.title}
                      .desText #{sub.description}
                  br
              div תגיות:
                .mainCategory קטגוריה ראשית: 
                  span #{obj.categoryName}
                .tags
                .combinedWith 
                if obj.subCategories
                  p משולב עם:
                  each subCategory in obj['subCategories'] 
                    span.subCategory #{subCategory.category}
    // textBox
    .priceBox.col-xs-12.col-sm-3.text-center
      .price(data-price=`${obj.price}`)
        | #{obj.price} 
        span ₪
      .contact
        button#target(data-toggle='modal', data-target='#contactFormModelDialog', data-companyname=`${obj.company? obj.company.name : 'חברה'}`,data-category=`${obj.categoryName}`, data-planename=`${obj.name}`, data-logo=`${obj.company.logo? obj.company.logo.url : null}`)
          | לנציג 
          span #{obj.company? obj.company.name : 'החברה'}
        .triangle
      //- .more
      //-   ul
      //-     li
      //-       span.glyphicon.glyphicon-star
      //-       a(href='') ציון כללי
      //-     li
      //-       a(href='')  לחוות דעת מלאה
      //-       span.glyphicon.glyphicon-chevron-left
    // priceBox
