.sectionMiddle.compnayPage {
  padding-top: 15px; }

.dispalyNone {
  display: none; }

.listInsideList a {
  font-size: 15px !important; }

.twiiter, .fax {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2px; }

.twiiter {
  background-image: url("/public/images/icon/twitter.png"); }

.fax {
  background-image: url("/public/images/icon/fax.png"); }

.consumers {
  list-style: none;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px; }

#serviceBox {
  padding-top: 15px; }
  #serviceBox .logo {
    text-align: center;
    margin-bottom: 25px; }
  #serviceBox .info {
    opacity: 0.8;
    font-size: 15px;
    padding-right: 10px; }
  #serviceBox .service {
    min-height: 500px;
    margin-top: -3px; }
    #serviceBox .service .title {
      position: relative;
      overflow: hidden;
      margin-bottom: 5px; }
      #serviceBox .service .title img {
        max-height: 50px;
        width: 50px; }
      #serviceBox .service .title span {
        font-size: 22px;
        position: absolute;
        bottom: 5px;
        border-bottom: 3px solid #8b8989;
        width: 100%;
        color: #8b8989;
        padding-right: 10px; }
    #serviceBox .service #accordion .icon {
      margin-left: 10px;
      font-size: 24px;
      color: #e6b043; }
    #serviceBox .service #accordion a {
      color: #8b8989; }
    #serviceBox .service #accordion ul {
      width: calc(100% - 75px);
      margin-right: 35px; }
      #serviceBox .service #accordion ul .glyphicon {
        margin-left: 15px;
        font-size: 25px;
        color: #3f3f3f; }
    #serviceBox .service #accordion .contactBy {
      color: #3f3f3f;
      font-weight: bold;
      position: absolute;
      top: 12px;
      text-decoration: underline; }
    #serviceBox .service #accordion .listInsideList {
      padding-right: 65px;
      margin-right: -10px; }
  #serviceBox .news {
    min-height: 500px;
    overflow: hidden; }
    #serviceBox .news .title {
      text-align: center;
      border-bottom: 3px solid #dddddd;
      background: whitesmoke;
      color: #8b8989;
      padding: 10px;
      margin-bottom: -2px; }

.company {
  width: 100%;
  background-image: url("/public/images/companyBackground.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .company .logo img {
    width: auto; }
  .company .text h3 {
    text-align: center;
    color: #eeeeee;
    opacity: 0.8; }
    .company .text h3 span {
      color: #e7b042;
      font-weight: bold; }
  .company .search .form-control-feedback#iconSearch {
    left: auto;
    color: #e7b85f;
    opacity: 0.8; }
  .company .search .has-feedback .form-control {
    border-color: #c1c4c6;
    color: #8c8c8c; }
  .company .search .has-success .form-control:hover,
  .company .search .has-success .form-control:focus {
    border: 0;
    box-shadow: 0 0 3px 1px #e7b85f; }

.contactWrapper {
  padding-right: 4px;
  padding-top: 10px; }
  .contactWrapper .contactToCompnay {
    border: 5px solid #e7b042;
    background: #fcfdfc;
    border-radius: 10px; }
    .contactWrapper .contactToCompnay .title {
      background: #e6b043;
      display: inline-block;
      color: #f5f5f2;
      margin-top: 21px;
      padding: 4px 10px 5px 10px;
      min-width: 200px; }
    .contactWrapper .contactToCompnay .logo {
      float: left;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: -25px;
      width: auto;
      height: 50px;
      max-width: 150px; }
    .contactWrapper .contactToCompnay .control-label {
      color: rgba(140, 140, 140, 0.8);
      font-size: 16px;
      padding-left: 10px; }
    .contactWrapper .contactToCompnay .padding {
      padding: 0px 20px 0px 40px; }
    .contactWrapper .contactToCompnay .subject .wrapper {
      margin-right: -5px;
      width: calc(100% - 50px); }
    .contactWrapper .contactToCompnay .subject .checkbox-inline {
      padding-left: 0px !important;
      margin-left: 21px;
      padding-right: 7px;
      padding-left: 0px !important; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline label::after {
        color: #e6b043 !important;
        left: -2px !important; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline:first-of-type {
        margin-right: -10px; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline input[type="checkbox"],
      .contactWrapper .contactToCompnay .subject .checkbox-inline input[type="radio"] {
        position: absolute;
        left: -18px; }
      .contactWrapper .contactToCompnay .subject .checkbox-inline label {
        padding-right: 0px !important; }
    .contactWrapper .contactToCompnay .input-group-addon {
      background: #f5f5f2;
      border: 1px solid #ccc;
      text-align: right;
      color: rgba(140, 140, 140, 0.8);
      min-width: 125px;
      font-size: 16px;
      padding-left: 10px; }
    .contactWrapper .contactToCompnay button {
      background: #8c8c8c;
      border: none;
      border-radius: 0px;
      color: white;
      height: 30px;
      width: 90px;
      font-size: 16px;
      margin-top: 15px; }

.aboutTheCompanyWrapper {
  padding-top: 10px; }
  .aboutTheCompanyWrapper .aboutTheCompany {
    background-color: #fcfdfc;
    box-shadow: 5px 8.66px 9.7px 0.3px rgba(0, 0, 0, 0.078);
    margin-left: auto;
    margin-right: auto;
    padding: 15px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      border: 10px solid #e6b043; }
    .aboutTheCompanyWrapper .aboutTheCompany .title {
      text-align: center;
      font-size: 35.18px;
      font-family: "Arimo";
      color: #e8b44c;
      font-weight: bold;
      margin-bottom: 15px; }
    .aboutTheCompanyWrapper .aboutTheCompany .body {
      color: #5e5a5a;
      opacity: 0.8;
      font-size: 20px;
      line-height: 1.5; }

.compnayPage .morCompany {
  max-height: 90px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  overflow: hidden; }
  .compnayPage .morCompany .nextSlide,
  .compnayPage .morCompany .priviousSlide {
    background: none;
    border: none;
    outline: none;
    color: #c1c4c6; }
  .compnayPage .morCompany .morCompanySlider {
    text-align: center; }
    .compnayPage .morCompany .morCompanySlider .item {
      padding: 0 10px; }
      .compnayPage .morCompany .morCompanySlider .item img {
        max-height: 50px;
        max-width: 89%;
        margin: 0 auto;
        min-height: 20px; }
  .compnayPage .morCompany .wrapText {
    height: 10px;
    margin-bottom: 40px; }
    .compnayPage .morCompany .wrapText .title {
      font-size: 18px;
      position: relative;
      top: -4px; }

.tabFilter {
  padding-top: 55px; }
  .tabFilter .nav-tabs {
    border-bottom: 5px solid #e6b043 !important; }
    .tabFilter .nav-tabs li {
      z-index: 50;
      background: #eeeeee;
      margin-bottom: 0px; }
      .tabFilter .nav-tabs li.active {
        z-index: inherit;
        background: none; }
    .tabFilter .nav-tabs li .arrow {
      visibility: hidden;
      right: calc(50% - 12px);
      top: 100%;
      border: solid transparent;
      position: absolute;
      pointer-events: none;
      border-top-color: #e6b043;
      border-width: 15px;
      z-index: 100; }
    .tabFilter .nav-tabs li.active .arrow {
      visibility: visible; }
    .tabFilter .nav-tabs li:before {
      content: " | ";
      position: absolute;
      top: 1px;
      font-size: 1.5em;
      color: rgba(112, 109, 109, 0.8);
      font-weight: 600;
      z-index: 50;
      right: -7px; }
    .tabFilter .nav-tabs li:first-child:before,
    .tabFilter .nav-tabs li.active:before, .tabFilter .nav-tabs .main:before {
      opacity: 0; }
    .tabFilter .nav-tabs > li > a {
      color: rgba(112, 109, 109, 0.8);
      padding-bottom: 0px;
      height: 40px;
      border-radius: 0px;
      line-height: 15px;
      margin-right: 5px;
      padding-left: 25px;
      padding-right: 25px; }
  .tabFilter .nav-tabs > li.active > a,
  .tabFilter .nav-tabs > li.active > a:focus,
  .tabFilter .nav-tabs > li.active > a:hover {
    background-color: #e6b043 !important;
    border: 1px solid #e8b043 !important;
    border-bottom-color: #e8b043 !important;
    border-radius: 0px !important;
    color: rgba(255, 255, 255, 0.81) !important;
    z-index: 51; }
    .tabFilter .nav-tabs > li.active > a:after,
    .tabFilter .nav-tabs > li.active > a:focus:after,
    .tabFilter .nav-tabs > li.active > a:hover:after {
      cc: cc; }
  .tabFilter .nav-tabs > li > a:hover {
    border-color: #eee #eee #e6b043;
    cursor: pointer;
    color: #706d6d; }

@media (min-width: 1200px) {
  .tabFilter .nav-tabs {
    padding-right: 175px; }

  .company {
    height: 377px; }
    .company .logo {
      padding-top: 65px;
      padding-right: 230px; }
      .company .logo img {
        height: 97px; }
    .company .text {
      width: 535px; }
      .company .text h3 span {
        font-size: 35px; }
    .company .search {
      width: 445px;
      margin-right: 50px;
      padding-top: 20px; }
      .company .search .form-control {
        height: 60px;
        font-size: 20px;
        padding-right: 65px; }
      .company .search .form-control-feedback#iconSearch {
        right: 20px;
        top: 16px;
        font-size: 26px; }

  .contactWrapper .contactToCompnay {
    width: 540px;
    height: 475px; }

  .aboutTheCompanyWrapper .aboutTheCompany {
    width: 521px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      padding: 0px 30px; }

  .compnayPage .morCompany {
    max-width: 522px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .company {
    height: 307.93px; }
    .company .logo {
      padding-top: 40px;
      padding-right: 190.9px; }
      .company .logo img {
        height: 80.51px; }
    .company .text {
      width: 444.05px; }
      .company .text h3 span {
        font-size: 29.05px; }
    .company .search {
      width: 369.35px;
      margin-right: 41.5px;
      padding-top: 16.6px; }
      .company .search .form-control {
        height: 49.8px;
        font-size: 16.6px;
        padding-right: 53.95px; }
      .company .search .form-control-feedback#iconSearch {
        right: 16.6px;
        top: 13.28px;
        font-size: 21.58px; }

  .contactWrapper {
    padding: 0px; }
    .contactWrapper .contactToCompnay .subject label[for=subject] {
      text-align: right;
      margin-right: 20px;
      text-decoration: underline; }
    .contactWrapper .contactToCompnay .subject .wrapper {
      margin-right: 30px; }

  .aboutTheCompanyWrapper {
    padding-left: 0px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      border: 1px solid #e6b043;
      padding: 0 15px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (max-width: 991px) {
  .company {
    height: 237.44px; }
    .company .logo {
      padding-top: 25px;
      padding-right: 147.2px; }
      .company .logo img {
        height: 62.08px; }
    .company .text {
      width: 342.4px; }
      .company .text h3 {
        margin-top: 10px;
        margin-bottom: 10px; }
        .company .text h3 span {
          font-size: 22.4px; }
    .company .search {
      width: 284.8px;
      margin-right: 32px;
      padding-top: 12.8px; }
      .company .search .form-control {
        height: 38.4px;
        font-size: 12.8px;
        padding-right: 41.6px; }
      .company .search .form-control-feedback#iconSearch {
        right: 12.8px;
        top: 10.24px;
        font-size: 16.64px; }

  .contactWrapper {
    padding: 0px; }
    .contactWrapper .contactToCompnay .padding {
      padding: 0px 20px 0px 20px; }
    .contactWrapper .contactToCompnay .logo {
      margin-left: 20px; }
    .contactWrapper .contactToCompnay .subject label[for=subject] {
      text-align: right;
      margin-right: 20px;
      text-decoration: underline; }
    .contactWrapper .contactToCompnay .subject .wrapper {
      margin-right: 55px; }

  .aboutTheCompanyWrapper {
    padding-left: 0px; }
    .aboutTheCompanyWrapper .aboutTheCompany .box {
      border: 1px solid #e6b043;
      padding: 0 15px; }

  .tabFilter .nav-tabs {
    padding-right: 0px; } }
@media (max-width: 768px) {
  .aboutTheCompanyWrapper {
    padding-bottom: 30px;
    padding-right: 0px; }

  .tabFilter .nav-tabs > li {
    margin: 5px;
    background: #fcfdfc;
    background-color: #fcfdfc;
    box-shadow: 5px 8.66px 9.7px 0.3px rgba(0, 0, 0, 0.078);
    padding: 5px; }
    .tabFilter .nav-tabs > li.active .arrow {
      visibility: hidden; }
  .tabFilter .nav-tabs > li > a {
    margin: 0px;
    border: 1px solid #e6b043; }
  .tabFilter .nav-tabs > li::before,
  .tabFilter .nav-tabs > li::after {
    display: none; }

  .contactWrapper .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 0px; }
  .contactWrapper .padding {
    padding: 0px 20px 0px 10px !important; }
  .contactWrapper .subject .wrapper {
    margin-right: 30px;
    width: 100%; } }
@media (max-width: 350px) {
  .company .logo {
    padding-top: 25px;
    text-align: center;
    padding-right: 0px;
    width: 100%;
    text-align: center; }
  .company .text {
    width: 100%; }
    .company .text h3 {
      font-size: 20px;
      opacity: 1; }
  .company .search {
    width: 80%;
    margin: 0 auto; }
    .company .search .form-control-feedback#iconSearch {
      top: 3px; } }
#injectHtml {
  padding: 0; }
  #injectHtml li {
    list-style: none; }

.readMore ul {
  padding-right: 0px;
  margin-top: 25px; }
  .readMore ul .desTitle {
    color: rgba(0, 0, 0, 0.8) !important; }

.promotions {
  position: relative; }
  .promotions .planbox {
    border-style: solid;
    border-width: 1px;
    border-color: #c3c7cc;
    border-radius: 9px;
    background-image: linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -moz-linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #ebedee 0%, white 100%);
    box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
    position: relative; }
    .promotions .planbox .companyBox {
      height: 100%;
      position: static;
      text-align: center; }
      .promotions .planbox .companyBox .logo {
        position: absolute;
        top: 35px;
        bottom: 35px;
        right: 0;
        left: 84%;
        border-left: 6px solid #cdcdcd; }
    .promotions .planbox .textBox {
      padding-right: 0;
      padding-top: 0;
      opacity: 0.85; }
      .promotions .planbox .textBox .planTitle ul {
        margin-bottom: 0; }
      .promotions .planbox .textBox .planTitle ul li {
        display: inline-block;
        list-style: none; }
        .promotions .planbox .textBox .planTitle ul li h2 {
          padding: 0;
          margin: 0;
          display: inline-block;
          font-weight: bold;
          color: #5e5a5a; }
      .promotions .planbox .textBox .planTitle li:after {
        content: " - ";
        font-size: 35px;
        font-weight: bold;
        color: #5e5a5a; }
      .promotions .planbox .textBox .planTitle li:last-child:after {
        content: ""; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 23px;
        list-style: none;
        margin-bottom: 5px; }
        .promotions .planbox .textBox .planDescription ul li .desText {
          color: #5e5a5a; }
        .promotions .planbox .textBox .planDescription ul li .desTitle {
          color: #e7b042;
          font-weight: bold;
          float: right;
          padding-left: 5px; }
      .promotions .planbox .textBox .planDescription li .desTitle:after {
        content: ":"; }
    .promotions .planbox .priceBox .price {
      color: #8c8c8c;
      font-weight: bold; }
    .promotions .planbox .priceBox .contact button {
      border: none;
      border-radius: 10px;
      background-color: #e8b44c;
      color: white; }
      .promotions .planbox .priceBox .contact button, .promotions .planbox .priceBox .contact button:hover, .promotions .planbox .priceBox .contact button:focus {
        outline: none; }
    .promotions .planbox .priceBox .contact:hover button, .promotions .planbox .priceBox .contact:focus button {
      box-shadow: inset 0 4px 10px 0 #dc984d;
      -webkit-box-shadow: inset 0 4px 10px 0 #dc984d;
      -moz-box-shadow: inset 0 4px 10px 0 #dc984d;
      -o-box-shadow: inset 0 4px 10px 0 #dc984d; }
    .promotions .planbox .more ul {
      list-style: none;
      text-align: center;
      width: 100%;
      padding: 0; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li a,
        .promotions .planbox .more ul li span {
          color: #e6b043; }
  .promotions .ClickToReadMore {
    color: #e9b44c;
    font-size: 15px; }

@media (min-width: 1200px) {
  .promotions .planbox {
    width: 100%;
    margin: 35px auto 0 auto;
    padding-top: 35px;
    padding-bottom: 35px; }
    .promotions .planbox .companyBox .logo img {
      max-width: 148px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 35px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 35px; }
    .promotions .planbox .textBox .planTitle li:last-child:after {
      content: ""; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 23px; }
    .promotions .planbox .priceBox .price {
      font-size: 46.235px;
      margin-top: -8px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 40px; }
      .promotions .planbox .priceBox .contact button {
        width: 138px;
        height: 115px;
        font-size: 25px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 10px;
        width: 23px;
        margin: 0 auto;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-top: 23px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 21px;
          margin-left: 15px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 15px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .promotions .planbox {
    width: 100%;
    margin: 29.05px auto 0 auto;
    padding-top: 29.05px;
    padding-bottom: 29.05px; }
    .promotions .planbox .companyBox .logo img {
      max-width: 122.84px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 29.05px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 29.05px; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 19.09px; }
    .promotions .planbox .priceBox .price {
      font-size: 38.37505px;
      margin-top: -6.64px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 33.2px; }
      .promotions .planbox .priceBox .contact button {
        width: 114.54px;
        height: 95.45px;
        font-size: 25.73px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 8.3px;
        width: 19.09px;
        margin: 0 auto;
        border-left: 19.09px solid transparent;
        border-right: 19.09px solid transparent;
        border-top: 19.09px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 17.43px;
          margin-left: 12.45px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 12.45px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .promotions .planbox {
    width: 100%;
    margin: 22.4px auto 0 auto;
    padding-top: 22.4px;
    padding-bottom: 22.4px; }
    .promotions .planbox .priceNotes {
      font-size: 10px; }
    .promotions .planbox .companyBox .logo {
      top: 30px;
      bottom: 30px; }
      .promotions .planbox .companyBox .logo img {
        max-width: 94.72px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 22.4px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 22.4px; }
    .promotions .planbox .textBox .planDescription {
      padding: 10px 0; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 16px; }
    .promotions .planbox .priceBox .price {
      font-size: 29.5904px;
      margin-top: -5.12px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 25.6px; }
      .promotions .planbox .priceBox .contact button {
        width: 88.32px;
        height: 73.6px;
        font-size: 14.84px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 6.4px;
        width: 14.72px;
        margin: -1px auto;
        border-left: 14.72px solid transparent;
        border-right: 14.72px solid transparent;
        border-top: 14.72px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 13.44px;
          margin-left: 9.6px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 9.6px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .promotions .planbox {
    width: 100%;
    margin: 35px auto 0 auto;
    padding-top: 15px;
    padding-bottom: 25px; }
    .promotions .planbox .companyBox {
      position: relative;
      border-bottom: 5px solid #9c9a9a;
      padding-bottom: 15px;
      text-align: right;
      /* display: flex; */ }
      .promotions .planbox .companyBox .logo {
        width: calc(100% - 176px);
        position: static;
        padding-right: 25px;
        border: 0px; }
        .promotions .planbox .companyBox .logo .helper {
          display: none; }
        .promotions .planbox .companyBox .logo img {
          height: 48px;
          width: auto; }
    .promotions .planbox .textBox {
      border: 0; }
      .promotions .planbox .textBox .planTitle li:after {
        font-size: 35px; }
      .promotions .planbox .textBox .planTitle li:last-child:after {
        content: ""; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 16px; }
    .promotions .planbox .priceBox {
      position: static; }
      .promotions .planbox .priceBox .price {
        position: absolute;
        top: 15px;
        left: 30px;
        width: 171px;
        font-size: 46.235px;
        margin-top: -8px; }
      .promotions .planbox .priceBox .contact {
        padding-top: 15px; }
        .promotions .planbox .priceBox .contact button {
          width: calc(100% - 60px);
          height: 60px;
          border-radius: 0;
          font-size: 31px; }
        .promotions .planbox .priceBox .contact .triangle {
          display: none; }
    .promotions .planbox .more ul {
      margin-top: 10px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 21px;
          margin-left: 15px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 15px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .promotions .planbox {
    box-shadow: 1px 2px 6px -2px #777;
    border: 0;
    border-radius: 0px; }
    .promotions .planbox .companyBox .logo {
      padding-right: 0px; }
    .promotions .planbox .textBox .planTitle {
      padding-top: 15px; }
      .promotions .planbox .textBox .planTitle ul {
        padding-right: 15px;
        padding-bottom: 5px; }
      .promotions .planbox .textBox .planTitle li:after {
        font-size: 16px; }
    .promotions .planbox .textBox .planDescription ul {
      padding-right: 16px; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 13px; }
    .promotions .planbox .priceBox .price {
      font-size: 30px;
      width: calc(100% - 108px);
      text-align: left;
      height: 65px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      .promotions .planbox .priceBox .price small {
        font-size: 10px;
        margin-top: -5px; }
    .promotions .planbox .priceBox .contact button {
      font-size: 31px;
      height: auto; }
    .promotions .planbox .more ul li:first-child a {
      font-size: 21px; }
    .promotions .planbox .more ul li:last-child a {
      font-size: 15px; } }
.comments_template #comments {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  background-image: linear-gradient(90deg, #ebedee 0%, white 100%);
  background-image: -moz-linear-gradient(90deg, #ebedee 0%, white 100%);
  background-image: -webkit-linear-gradient(90deg, #ebedee 0%, white 100%);
  background-image: -ms-linear-gradient(90deg, #ebedee 0%, white 100%);
  box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
  position: relative;
  padding: 0 15px 15px 15px;
  min-height: 375px; }
.comments_template .comments-title {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 15px;
  opacity: 0.8;
  margin-right: 15px;
  margin-left: 15px; }
.comments_template #respond {
  padding: 0 15px;
  position: absolute;
  top: 80px;
  height: 245px;
  right: 15px;
  left: 60px; }
.comments_template .comment-list {
  display: inline-block;
  max-height: 450px;
  overflow: overlay;
  direction: ltr;
  padding-right: 45px;
  border: none;
  height: 465px;
  padding-top: 5px;
  text-align: right;
  margin-top: 260px;
  margin-right: 15px;
  width: calc(100% - 30px);
  padding-left: 45px; }
  .comments_template .comment-list li {
    direction: rtl;
    padding: 10px;
    list-style: none;
    background: whitesmoke;
    margin-bottom: 15px;
    box-shadow: 0 0 1px 0px #bfbfbf; }
    .comments_template .comment-list li .children {
      margin-top: 10px; }
.comments_template .comment-metadata {
  text-align: left;
  float: left;
  margin-top: -20px; }
  .comments_template .comment-metadata a {
    color: #c5c5c5;
    font-size: 12px; }
  .comments_template .comment-metadata .comment-edit-link {
    font-weight: bold; }
.comments_template #submit {
  border-radius: 5px;
  margin-left: 5px;
  border: 0;
  background: #e9b44e;
  color: #f5f5f2;
  position: absolute;
  left: 0px;
  bottom: 5px;
  z-index: 150; }
.comments_template .form-submit {
  background: rgba(238, 238, 238, 0.63);
  position: absolute;
  top: 130px;
  height: 100px;
  text-align: left;
  padding-left: 0px;
  right: 15px;
  left: 15px;
  border: solid 1px #c3c7cc !important;
  border-top: 0px !important; }
.comments_template #reply-title, .comments_template .comment-form-comment label, .comments_template .comment-form-url {
  display: none; }
.comments_template .comment-form-comment textarea {
  width: 100%;
  height: 100px;
  max-height: 100px;
  border: solid 1px #c3c7cc !important;
  font-size: 15px; }
.comments_template .comment-author {
  border-bottom: 1px solid #c3c7cc;
  padding-bottom: 5px;
  opacity: 0.8; }
  .comments_template .comment-author .says {
    display: none; }
  .comments_template .comment-author b {
    position: relative;
    top: 11px;
    padding-right: 5px; }
.comments_template .comment-form-author, .comments_template .comment-form-email {
  position: relative;
  z-index: 100;
  right: 10px;
  opacity: 0.8;
  margin-top: -10px;
  margin-bottom: 20px; }
  .comments_template .comment-form-author label, .comments_template .comment-form-email label {
    width: 60px;
    font-size: 15px; }
  .comments_template .comment-form-author input, .comments_template .comment-form-email input {
    width: 285px;
    border-radius: 5px;
    border: 1px solid #c3c7cc; }
.comments_template .comment-notes, .comments_template .logged-in-as {
  font-size: 15px;
  opacity: 0.8; }
  .comments_template .comment-notes a, .comments_template .logged-in-as a {
    color: black;
    font-size: 15px; }
.comments_template .reply {
  text-align: left; }
  .comments_template .reply a {
    font-size: 15px;
    opacity: 0.8;
    color: black; }
.comments_template .comment-content {
  opacity: 0.8;
  font-size: 15px; }

#contactFormModelDialog {
  /*  triangle */ }
  #contactFormModelDialog .modal-header .close {
    margin-top: -14px; }
  @media (max-width: 540px) {
    #contactFormModelDialog .modal-content {
      width: auto !important;
      padding-bottom: 15px; }
    #contactFormModelDialog .modal-content:after,
    #contactFormModelDialog .modal-content:before {
      display: none !important; } }
  #contactFormModelDialog .modal-content {
    border-radius: 40px;
    border: 5px solid #e7b042;
    box-shadow: none;
    width: 515px;
    margin: 0 auto; }
    #contactFormModelDialog .modal-content .modal-header {
      border-bottom: none; }
    #contactFormModelDialog .modal-content .modal-body {
      padding-top: 0;
      margin-top: -20px; }
      #contactFormModelDialog .modal-content .modal-body .form-control {
        border-radius: 0; }
      #contactFormModelDialog .modal-content .modal-body label {
        color: #b9b8b8;
        font-size: 18.75px; }
        #contactFormModelDialog .modal-content .modal-body label.required {
          color: #9a9696; }
      #contactFormModelDialog .modal-content .modal-body .sumbit {
        position: absolute;
        bottom: 0;
        width: 100%; }
        #contactFormModelDialog .modal-content .modal-body .sumbit button {
          background-color: #8c8c8c;
          width: 92px;
          height: 31px;
          border: 0;
          border-radius: 0;
          color: rgba(255, 255, 255, 0.8);
          font-size: 20px;
          padding-top: 2px; }
          #contactFormModelDialog .modal-content .modal-body .sumbit button span {
            top: 3px; }
    #contactFormModelDialog .modal-content .companyLogo {
      float: left;
      max-height: 50px; }
    #contactFormModelDialog .modal-content #companyName {
      width: 170px;
      background-color: #e7b042;
      margin-right: -15px;
      margin-top: 12px;
      padding-right: 10px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18.5px;
      height: 23px;
      line-height: 23px; }
    #contactFormModelDialog .modal-content .planeName {
      margin-bottom: 15px;
      margin-top: 25px; }
      #contactFormModelDialog .modal-content .planeName input {
        width: 246px;
        display: inline-block;
        border: none; }
      #contactFormModelDialog .modal-content .planeName label,
      #contactFormModelDialog .modal-content .planeName input {
        color: #b9b8b8;
        font-size: 18.75px; }
  #contactFormModelDialog .modal-content:after,
  #contactFormModelDialog .modal-content:before {
    content: '';
    display: block;
    position: absolute;
    left: 100.5%;
    width: 0;
    height: 0;
    border-style: solid;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  #contactFormModelDialog .modal-content:after {
    border-color: transparent transparent transparent #ffffff;
    border-width: 80px;
    left: 169px; }
  #contactFormModelDialog .modal-content:before {
    top: 100.5%;
    border-color: transparent transparent transparent #e7b042;
    border-width: 85px;
    left: 165px; }

/*# sourceMappingURL=page-company.css.map */
