.imgLazyLoad {
  background-image: url("/public/images/fiveSliderPic/default.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.sectionTop #siteSlider {
  background-color: #f5f5f2; }
  .sectionTop #siteSlider .sliderBtn {
    position: absolute;
    bottom: 8px; }
  .sectionTop #siteSlider .defaultSlider .glyphicon-time {
    font-size: 60px;
    background: #e9b44e;
    border-radius: 5px;
    padding: 7px 5px 5px 5px;
    color: #3e3e3e;
    box-shadow: 0px 0px 6px -1px; }
  .sectionTop #siteSlider .sliderImg {
    float: left; }
  .sectionTop #siteSlider .compass {
    height: 100%; }
  .sectionTop #siteSlider .carousel-control.right {
    background-color: #f5f5f2;
    background-image: initial;
    opacity: 1; }
    .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
      position: absolute;
      margin-top: -85px;
      width: 131px;
      opacity: 0.8;
      line-height: 1.1;
      right: 52px; }
      @media (min-width: 768px) {
        .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
          right: 40px;
          margin-top: -60px; } }
      @media (min-width: 962px) {
        .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
          right: 72px;
          margin-top: -85px; } }
      @media (min-width: 1230px) {
        .sectionTop #siteSlider .carousel-control.right .textUnderCompass {
          right: 100px;
          margin-top: -85px; } }
  .sectionTop #siteSlider .glyphicon-chevron-right,
  .sectionTop #siteSlider .carousel-control.left {
    position: absolute;
    color: #c1c4c6; }
  .sectionTop #siteSlider .glyphicon-chevron-right {
    opacity: .5;
    right: 30px; }
    .sectionTop #siteSlider .glyphicon-chevron-right:hover, .sectionTop #siteSlider .glyphicon-chevron-right:focus {
      opacity: 1; }
  .sectionTop #siteSlider .carousel-control.left {
    background-color: transparent; }
  .sectionTop #siteSlider .glyphicon-chevron-left {
    left: 15px; }
  .sectionTop #siteSlider .carousel-indicators {
    position: absolute;
    bottom: 0;
    width: 227px;
    text-align: center;
    right: 94%; }
  .sectionTop #siteSlider .carousel-caption {
    text-shadow: none;
    color: #8c8c8c; }
  .sectionTop #siteSlider .clickToService {
    background-color: #8c8c8c;
    border: none;
    height: 38px;
    color: rgba(245, 245, 242, 0.8);
    line-height: 11px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 0.9;
    justify-content: space-between;
    align-items: center;
    text-align: right; }
    .sectionTop #siteSlider .clickToService span {
      font-size: 0.7em;
      color: #f5f5f2;
      font-weight: bold; }
    .sectionTop #siteSlider .clickToService:hover, .sectionTop #siteSlider .clickToService:focus {
      background-color: #3f3f3f; }
  @media (max-width: 1200px) {
    .sectionTop #siteSlider .price {
      font-size: 36px; } }
  .sectionTop #siteSlider .price {
    font-size: 33px;
    color: #eabe65;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: none;
    background: #f5f5f2; }
  .sectionTop #siteSlider .offerLogo {
    margin-bottom: 10px; }
    @media (min-width: 634px) and (max-width: 767px) {
      .sectionTop #siteSlider .offerLogo {
        margin-left: -30px;
        background-color: #f5f5f2; } }
  .sectionTop #siteSlider .offerText {
    margin-bottom: 0;
    opacity: 0.8;
    /* font-size: 1em; */
    font-size: 22px; }
    @media (max-width: 1190px) {
      .sectionTop #siteSlider .offerText {
        font-size: 13px; } }
    .sectionTop #siteSlider .offerText .categoreName {
      color: #e7b042; }
    .sectionTop #siteSlider .offerText .main {
      max-height: 30px;
      overflow: hidden;
      line-height: 0.70; }
  .sectionTop #siteSlider .wrapper {
    overflow: hidden; }
  .sectionTop #siteSlider .clickToCompare {
    background-color: #e6e1e1;
    position: absolute;
    bottom: 4%;
    padding-top: 2px; }
    .sectionTop #siteSlider .clickToCompare:hover, .sectionTop #siteSlider .clickToCompare:focus {
      background-color: #696666; }
      .sectionTop #siteSlider .clickToCompare:hover a, .sectionTop #siteSlider .clickToCompare:focus a {
        color: #eeeeee;
        text-decoration: none; }
    .sectionTop #siteSlider .clickToCompare a {
      color: #8c8c8c;
      text-shadow: none; }
      .sectionTop #siteSlider .clickToCompare a span {
        font-size: 15px; }

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 22px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 371px; }
  .sectionTop #siteSlider .sliderImg {
    width: 556px; }
  .sectionTop #siteSlider .sliderBtn {
    bottom: 15px; }
  .sectionTop #siteSlider .carousel-caption {
    right: 295px;
    left: 556px;
    top: 0;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */ }
  .sectionTop #siteSlider .clickForSaveMoney {
    cursor: pointer; }
  .sectionTop #siteSlider .compass {
    margin-right: 65px; }
  .sectionTop #siteSlider .offerLogo img {
    height: 86px;
    width: auto; }
  .sectionTop #siteSlider .wrapper {
    height: 98px;
    padding-right: 10px;
    line-height: 1.1; }
  .sectionTop #siteSlider .carousel-indicators {
    right: 96%; }
  .sectionTop #siteSlider .clickToCompare {
    height: 34px;
    width: 177px;
    right: 80px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 19.09px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 307.93px; }
  .sectionTop #siteSlider .sliderImg {
    width: 428.48px; }
  .sectionTop #siteSlider .carousel-caption {
    right: 244.85px;
    left: 461.48px;
    top: 0; }
  .sectionTop #siteSlider .compass {
    margin-right: 53.95px; }
  .sectionTop #siteSlider .offerLogo img {
    height: 71.38px;
    width: auto;
    margin-top: -10px; }
  .sectionTop #siteSlider .wrapper {
    height: 91px;
    padding-right: 10px; }
  .sectionTop #siteSlider .carousel-indicators {
    right: 93%; }
  .sectionTop #siteSlider .clickToCompare {
    height: 28.22px;
    width: 146.91px;
    right: 66.4px;
    padding-top: 0; }
    .sectionTop #siteSlider .clickToCompare a {
      font-size: 17px !important; }
      .sectionTop #siteSlider .clickToCompare a span {
        font-size: 12px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 14.72px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 237.44px; }
  .sectionTop #siteSlider .sliderImg {
    width: 355.84px; }
  .sectionTop #siteSlider .carousel-caption {
    right: 188.8px;
    left: 355.84px;
    top: 0; }
  .sectionTop #siteSlider .compass {
    margin-right: 41.6px; }
  .sectionTop #siteSlider .offerLogo img {
    height: 55.04px;
    width: auto;
    margin-top: -10px; }
  .sectionTop #siteSlider .wrapper {
    height: 58px;
    padding-right: 15px; }
  .sectionTop #siteSlider .price {
    font-size: 19.23px; }
  .sectionTop #siteSlider .carousel-indicators {
    right: 90%; }
  .sectionTop #siteSlider .clickToCompare {
    height: 21.76px;
    width: 113.28px;
    right: 51.2px;
    padding-top: 4px;
    line-height: 2px; }
    .sectionTop #siteSlider .clickToCompare a {
      font-size: 13px !important; }
      .sectionTop #siteSlider .clickToCompare a span {
        font-size: 11px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sectionTop #siteSlider h5,
  .sectionTop #siteSlider p,
  .sectionTop #siteSlider a,
  .sectionTop #siteSlider button {
    font-size: 22px; }
  .sectionTop #siteSlider,
  .sectionTop #siteSlider .carousel-inner,
  .sectionTop #siteSlider .sliderImg,
  .sectionTop #siteSlider .carousel-caption {
    height: 237.44px;
    display: none; }
  .sectionTop #siteSlider .sliderImg {
    height: 237.44px;
    width: auto; }
  .sectionTop #siteSlider .carousel-caption {
    right: 0;
    left: 48%;
    top: 0; }
  .sectionTop #siteSlider .carousel-control.right {
    background-color: transparent; }
  .sectionTop #siteSlider .compass {
    display: none; }
  .sectionTop #siteSlider .glyphicon-chevron-left {
    left: 30px; }
  .sectionTop #siteSlider .offerLogo {
    float: left; }
    .sectionTop #siteSlider .offerLogo img {
      height: 55.04px;
      width: auto;
      margin-top: 5px;
      box-shadow: 0px 0px 4px 0px #eeeeee;
      background: #eeeeee; }
  .sectionTop #siteSlider .wrapper {
    overflow: hidden;
    max-height: 98px;
    padding: 0 15px;
    height: auto; }
  .sectionTop #siteSlider .carousel-indicators {
    display: none; }
  .sectionTop #siteSlider .price {
    font-size: 20.23px; }
  .sectionTop #siteSlider .clickToCompare {
    display: none; }
  .sectionTop #siteSlider .clickToService:hover, .sectionTop #siteSlider .clickToService:focus {
    background-color: #eeeeee;
    color: #494543; }
    .sectionTop #siteSlider .clickToService:hover span, .sectionTop #siteSlider .clickToService:focus span {
      color: #494543; } }
@media (max-width: 633px) {
  .carousel-caption {
    background-color: rgba(61, 61, 61, 0.91);
    opacity: 1;
    left: 0 !important;
    padding-left: 30px; }

  #siteSlider .sliderImg {
    float: none !important;
    margin: 0 auto; } }
/* Portrait phones and smaller */
/* Portrait tablets and small desktops     //(320/1200=64%) */
/* Landscape phones and portrait tablets */
.sectionMiddle {
  margin-top: 15px; }

#saveMoneyTitle {
  color: #e7b042;
  text-decoration: underline;
  display: inline; }

.categoryMenu {
  padding: 66px 0 0 0;
  margin-right: -8px; }
  .categoryMenu .buttonSection {
    width: 100%; }
  .categoryMenu .category-container {
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: inline-block;
    margin: 15px 12.5px 5px 12.5px; }
    @media (min-width: 535px) and (max-width: 722px) {
      .categoryMenu .category-container {
        margin: 3% !important; } }
    .categoryMenu .category-container .front {
      background-repeat: no-repeat;
      background-position: 50% 40%; }
      .categoryMenu .category-container .front h1 {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 5%;
        color: #4d5155; }
    .categoryMenu .category-container#cellular .front,
    .categoryMenu .category-container#cellular .back {
      background-color: #9e9684; }
    .categoryMenu .category-container#cellular .front {
      background-image: url("/public/images/icon/smartPhone.png"); }
    .categoryMenu .category-container#tv .front,
    .categoryMenu .category-container#tv .back {
      background-color: #9cc6b9;
      background-position: 50% 33%; }
    .categoryMenu .category-container#tv .front {
      background-image: url("/public/images/icon/tv.png"); }
    .categoryMenu .category-container#internet .front,
    .categoryMenu .category-container#internet .back {
      background-color: #bf7a66; }
    .categoryMenu .category-container#internet .front {
      background-image: url("/public/images/icon/internet.png"); }
    .categoryMenu .category-container#internationalCalls .front,
    .categoryMenu .category-container#internationalCalls .back {
      background-color: #87a5c0; }
    .categoryMenu .category-container#internationalCalls .front {
      background-image: url("/public/images/icon/global.png"); }
    .categoryMenu .category-container#telephone .front,
    .categoryMenu .category-container#telephone .back {
      background-color: #e7b85f; }
      .categoryMenu .category-container#telephone .front a,
      .categoryMenu .category-container#telephone .back a {
        color: #3f3f3f;
        opacity: 1;
        font-weight: bold; }
    .categoryMenu .category-container#telephone .front {
      background-image: url("/public/images/icon/telephone.png"); }
    .categoryMenu .category-container#moreService .front,
    .categoryMenu .category-container#moreService .back {
      background-color: #799b8f; }
    .categoryMenu .category-container#moreService .front {
      background-image: url("/public/images/icon/glass.png"); }
    .categoryMenu .category-container:hover .front, .categoryMenu .category-container:focus .front {
      box-shadow: 0px 0px 20px 0px #e9b34f; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      width: 256px;
      height: 223px;
      border-radius: 10px;
      text-align: center; }
  .categoryMenu .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .categoryMenu .front,
  .categoryMenu .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .categoryMenu .front {
    z-index: 2;
    transform: rotateY(0deg); }
  .categoryMenu .back {
    transform: rotateY(-180deg); }
    .categoryMenu .back img {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      border-radius: 10px;
      opacity: 0.5; }
    .categoryMenu .back .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      text-align: right;
      padding-right: 15px; }
      .categoryMenu .back .menu a {
        color: #f5f5f2;
        opacity: 0.8; }
  .categoryMenu .vertical.category-container {
    position: relative; }
  .categoryMenu .vertical .back {
    transform: rotateX(180deg); }
  .categoryMenu .vertical.category-container:hover .back {
    transform: rotateX(0deg); }
  .categoryMenu .vertical.category-container:hover .front {
    transform: rotateX(180deg); }

@media (min-width: 1200px) {
  .categoryMenu h1 {
    font-size: 29px; }
  .categoryMenu #internationalCalls,
  .categoryMenu #cellular {
    margin-right: 0; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .categoryMenu h1 {
    font-size: 24.07px; }
  .categoryMenu .category-container,
  .categoryMenu .category-container .front,
  .categoryMenu .category-container .back {
    margin: 7.5px;
    width: 212.48px;
    height: 185.09px; }
  .categoryMenu .category-container .front {
    background-size: 70px; }
  .categoryMenu .category-container#moreService .front {
    background-size: 115px; }
  .categoryMenu .category-container#internet .front {
    background-size: 50px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .categoryMenu {
    padding: 50px 0 0 0;
    /* text-align: right; */ }
    .categoryMenu h1 {
      font-size: 18.56px; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      margin: 5.5px;
      width: 163.84px;
      height: 142.72px; }
    .categoryMenu .category-container .front {
      background-size: 44.8px; }
    .categoryMenu .category-container#moreService .front {
      background-size: 73.6px; }
    .categoryMenu .category-container#internet .front {
      background-size: 32px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #boxWrapper {
    text-align: center !important; }

  .categoryMenu {
    padding-top: 15px;
    /* margin-left: -15px; */
    margin-right: 0px;
    /* text-align: center !important; */ }
    .categoryMenu h1 {
      font-size: 29px; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      margin: 5.5px;
      height: 185.09px; }
    .categoryMenu .category-container .front {
      background-size: 58.1px; }
    .categoryMenu .category-container#moreService .front {
      background-size: 95.45px; }
    .categoryMenu .category-container#internet .front {
      background-size: 41.5px; } }
/* Portrait phones and smaller */
@media (max-width: 630px) {
  .container-fluid {
    /* padding-left: 15px; */
    /*     padding-right: 5px;
        padding-left: 5px; */ }

  .sectionbottom {
    padding-right: 5px !important;
    padding-left: 5px !important; }

  .categoryMenu .category-container,
  .categoryMenu .category-container .front,
  .categoryMenu .category-container .back {
    margin: 5.5px;
    width: 95%;
    height: 223px; }
  .categoryMenu .category-container .front {
    background-size: 70px; }
  .categoryMenu .category-container#moreService .front {
    background-size: 115px; }
  .categoryMenu .category-container#internet .front {
    background-size: 50px; } }
.planArea {
  padding-top: 35px; }

#orderBy {
  padding: 5px 10px 0 0;
  width: 221px;
  margin: 0;
  margin-top: 20px;
  box-shadow: none;
  border-radius: 5px;
  position: Absolute;
  top: 15px;
  right: 0px;
  padding-left: 5px;
  background: white;
  text-align: center;
  box-shadow: 1px 2px 6px -2px #777;
  border: 0;
  border-radius: 0px; }
  #orderBy p,
  #orderBy button {
    display: inline-block !important;
    font-size: 13px;
    background: transparent;
    margin-top: 2px;
    border: 1px solid #c3c7cc;
    border-radius: 0px;
    padding-top: 3px;
    margin-left: 5px;
    border: 0px;
    box-shadow: 0 0 0; }
    #orderBy p .glyphicon,
    #orderBy button .glyphicon {
      color: #767373; }
  #orderBy p {
    border: 0px; }

.categoryAndSearch {
  width: 100%;
  overflow: hidden; }
  .categoryAndSearch .categorySide {
    position: relative;
    background-repeat: no-repeat; }
    .categoryAndSearch .categorySide h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 13%;
      color: #404041; }
    .categoryAndSearch .categorySide .shadow {
      background-image: url("/public/images/shadowLeft.png");
      background-repeat: no-repeat;
      background-position-x: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 17px; }
  .categoryAndSearch .searchSide {
    background-color: #f5f6f3;
    text-align: center; }
    .categoryAndSearch .searchSide p {
      color: #8c8c8c;
      opacity: 0.8; }
    .categoryAndSearch .searchSide h1 {
      font-weight: bold;
      color: #e7b85f;
      opacity: 0.8; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      right: 0;
      left: auto;
      color: #e7b85f;
      opacity: 0.8; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      border-color: #c1c4c6;
      color: #8c8c8c; }
    .categoryAndSearch .searchSide .has-success .form-control:hover,
    .categoryAndSearch .searchSide .has-success .form-control:focus {
      border: 0;
      box-shadow: 0 0 3px 1px #e7b85f; }
  .categoryAndSearch .cellular {
    background-color: #9e9684;
    background-size: 22% !important; }
  .categoryAndSearch .tv {
    background-color: #9cc6b9; }
  .categoryAndSearch .internet {
    background-color: #bf7a66;
    background-size: 21% !important; }
  .categoryAndSearch .internationalCalls {
    background-color: #87a5c0; }
  .categoryAndSearch .telephone {
    background-color: #e7b85f; }
  .categoryAndSearch .moreService {
    background-color: #799b8f; }

@media (min-width: 1200px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 195px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 40px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 371px; }
  .categoryAndSearch .searchSide {
    padding: 44px 91px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 41px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 56px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 40px;
      top: 12px;
      padding-right: 25px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 75px;
      padding-left: 12px;
      font-size: 19px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 161.85px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 33.2px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 307.93px; }
  .categoryAndSearch .searchSide {
    padding: 36.52px 75.53px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 34.03px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 46.48px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 33.2px;
      top: 7px;
      padding-right: 20.75px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 62.25px;
      padding-left: 9.96px;
      font-size: 15.77px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .planArea {
    padding-top: 45px; }

  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 124.8px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 25.6px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 58.24px; }
    .categoryAndSearch .searchSide p {
      font-size: 16px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 26.24px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 36%;
    background-size: 41%; }
    .categoryAndSearch .categorySide h1 {
      bottom: 9%;
      font-size: 20px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 28.24px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 20px; }
    .categoryAndSearch .searchSide p {
      font-size: 16px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  #orderBy {
    width: 100%; }

  .categoryAndSearch .categorySide {
    background-position: 50% 50%;
    background-size: 50% !important; }
    .categoryAndSearch .categorySide h1 {
      bottom: 18%;
      font-size: 20px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 10px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 16px; }
    .categoryAndSearch .searchSide p {
      font-size: 12px;
      margin-bottom: 15px;
      margin-top: 15px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
.serviceMenu {
  padding-left: 0;
  padding-right: 0; }
  .serviceMenu a:focus,
  .serviceMenu a:hover {
    text-decoration: none; }
  .serviceMenu #description {
    color: #c1c4c6;
    opacity: 0;
    transition: opacity 1s linear; }
  .serviceMenu .popover {
    border: 2px solid #e7b042;
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif; }
  .serviceMenu .popover-title {
    background-color: #eabe65; }
  .serviceMenu .buttonsAria .description {
    display: none; }
    @media (max-width: 992px) {
      .serviceMenu .buttonsAria .description {
        margin-top: 5px; } }
  .serviceMenu .buttonsAria .serviceButton {
    display: inline-table; }
    .serviceMenu .buttonsAria .serviceButton .circle {
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background-position: 50% 77%;
      background-repeat: no-repeat; }
      .serviceMenu .buttonsAria .serviceButton .circle:hover, .serviceMenu .buttonsAria .serviceButton .circle:focus {
        box-shadow: 0 1px 1px 2px #939393; }
      .serviceMenu .buttonsAria .serviceButton .circle h2 {
        color: #eeeeee;
        font-weight: bold;
        white-space: pre-line;
        width: 74%;
        margin-left: auto;
        margin-right: auto; }
    .serviceMenu .buttonsAria .serviceButton#businessService .circle {
      background-color: #e7b85f;
      background-image: url("/public/images/icon/lamp.png"); }
    .serviceMenu .buttonsAria .serviceButton#moving .circle {
      background-color: #bf7a66;
      background-image: url("/public/images/icon/home.png"); }
    .serviceMenu .buttonsAria .serviceButton#billsCheck .circle {
      background-color: #87a5c0;
      background-image: url("/public/images/icon/bill.png"); }
    .serviceMenu .buttonsAria .serviceButton#disconnected .circle {
      background-color: #799b8f;
      background-image: url("/public/images/icon/disconnect.png"); }

@media (min-width: 1200px) {
  .serviceMenu {
    margin-top: 65px; }
    .serviceMenu h2 {
      font-size: 27px; }
    .serviceMenu .buttonsAria {
      padding-top: 45px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 222px;
        height: 206px;
        margin: 15px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          width: 221px;
          height: 205px;
          padding-top: 15px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .serviceMenu {
    margin-top: 53.95px; }
    .serviceMenu h2 {
      font-size: 22.41px; }
    .serviceMenu .buttonsAria {
      padding-top: 37.35px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 184.26px;
        height: 170.98px;
        margin: 12.45px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 25%;
          background-position: 50% 82%;
          width: 183.43px;
          height: 170.15px;
          padding-top: 12.45px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .serviceMenu {
    margin-top: 41.6px; }
    .serviceMenu h2 {
      font-size: 17.28px; }
    .serviceMenu .buttonsAria {
      padding-top: 28.8px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 142.08px;
        height: 131.84px;
        margin: 9.6px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 26%;
          background-position: 50% 82%;
          width: 141.44px;
          height: 131.2px;
          padding-top: 1px; } }
@media (max-width: 767px) {
  .serviceMenu {
    margin-top: 41.6px; }
    .serviceMenu h2 {
      font-size: 27px; }
    .serviceMenu .buttonsAria {
      padding-top: 28.8px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: auto;
        height: auto;
        margin: 5px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 26%;
          background-position: 50% 82%;
          width: 141.44px;
          height: 131.2px;
          padding-top: 1px; }
          .serviceMenu .buttonsAria .serviceButton .circle h2 {
            font-size: 17.28px; } }
@media (min-width: 466px) and (max-width: 670px) {
  .serviceMenu .buttonsAria .serviceButton .circle {
    background-size: 26%;
    background-position: 50% 82%;
    width: 183.8px;
    height: 170.8px;
    padding-top: 1px;
    margin: 10px; }
    .serviceMenu .buttonsAria .serviceButton .circle h2 {
      font-size: 22.28px;
      width: 59%; } }
@media (max-width: 340px) {
  .serviceMenu .buttonsAria .serviceButton {
    width: 45%; }
    .serviceMenu .buttonsAria .serviceButton .circle {
      background-size: 26%;
      background-position: 50% 82%;
      width: 100%;
      height: 140.8px;
      padding-top: 1px;
      margin: 0px; }
      .serviceMenu .buttonsAria .serviceButton .circle h2 {
        font-size: 18px;
        width: 59%; } }
.companyMenu {
  padding-right: 0;
  max-height: 575px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 575px;
  direction: ltr; }
  .companyMenu .tooltip {
    width: 122px;
    left: -125px !important;
    top: -9px !important; }
  .companyMenu .moreCompanyButton {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center; }
    .companyMenu .moreCompanyButton .glyphicon {
      padding-right: 10px; }
  .companyMenu .title,
  .companyMenu .moreCompanyButton {
    color: #696666;
    line-height: 1.495;
    background-color: #c1c4c6;
    text-align: center;
    background-color: #dadada;
    text-align: center;
    border: none;
    margin-right: 0.1px; }
  .companyMenu .moreCompanyButton:focus,
  .companyMenu .moreCompanyButton:hover {
    box-shadow: 0 1px 1px 0px #939393;
    background: #eeeeee; }
  .companyMenu .wrapper button {
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 6px -2px #777;
    margin-bottom: 13px; }
    .companyMenu .wrapper button:focus, .companyMenu .wrapper button:hover {
      outline: none;
      box-shadow: 0 1px 1px 0px #939393;
      background: #eeeeee; }
    .companyMenu .wrapper button .circle {
      border-radius: 50%;
      border: 2px dashed #8d8d8d;
      float: right;
      margin-right: -6px;
      background-color: white; }
      .companyMenu .wrapper button .circle .circleInner {
        background-color: #8c8c8c;
        border-radius: 50%;
        color: white; }
    .companyMenu .wrapper button .logo {
      float: left;
      text-align: center;
      overflow: hidden; }
      .companyMenu .wrapper button .logo img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%; }

@media (min-width: 1200px) {
  .companyMenu .title {
    font-size: 22px;
    width: 268px;
    height: 39px;
    margin-bottom: 25px; }
  .companyMenu .wrapper button {
    width: 257px;
    height: 72px;
    margin-bottom: 10px; }
    .companyMenu .wrapper button .circle {
      height: 72px;
      width: 72px;
      margin-right: -6px; }
      .companyMenu .wrapper button .circle .circleInner {
        height: 61px;
        width: 61px;
        padding-top: 16px;
        font-size: 37px;
        margin-top: 3px; }
    .companyMenu .wrapper button .logo {
      height: 68px;
      width: 136px;
      margin-left: 31px;
      margin-top: 4px; }
  .companyMenu .moreCompanyButton {
    width: 230px;
    height: 39px;
    font-size: 28px !important;
    margin-right: 0.1px;
    margin-top: 8px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .companyMenu {
    max-height: 470px; }
    .companyMenu .title {
      font-size: 19.09px;
      width: 222.44px;
      height: 32.37px;
      margin-bottom: 20.75px; }
    .companyMenu .wrapper button {
      width: 213.31px;
      height: 59.76px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 59.76px;
        width: 59.76px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 50.63px;
          width: 50.63px;
          padding-top: 13.28px;
          font-size: 30.71px;
          margin-top: 2.49px; }
      .companyMenu .wrapper button .logo {
        height: 56.44px;
        width: 112.88px;
        margin-left: 25.73px;
        margin-top: 3.32px; }
    .companyMenu .moreCompanyButton {
      width: 190.9px;
      height: 32.37px;
      font-size: 23.24px !important;
      margin-right: 0.1px;
      margin-top: 6.64px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .companyMenu {
    max-height: 368px; }
    .companyMenu .title {
      font-size: 16px;
      width: 171.52px;
      height: 24.96px;
      margin-bottom: 16px; }
    .companyMenu .wrapper button {
      width: 164.48px;
      height: 46.08px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 46.08px;
        width: 46.08px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 39.04px;
          width: 39.04px;
          padding-top: 9.24px;
          font-size: 23.68px;
          margin-top: 1.92px; }
      .companyMenu .wrapper button .logo {
        height: 43.52px;
        width: 87.04px;
        margin-left: 19.84px;
        margin-top: 2.56px; }
    .companyMenu .moreCompanyButton {
      width: 147.2px;
      height: 24.96px;
      font-size: 17.92px !important;
      margin-right: 0.1px;
      margin-top: 5.12px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .companyMenu {
    max-height: 215px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /* display: flex; */
    /* justify-content: space-between; */ }
    .companyMenu .title {
      font-size: 22px;
      width: 100%;
      height: 39px;
      margin-bottom: 25px; }
    .companyMenu .wrapper {
      padding-right: 0; }
    .companyMenu .wrapper button {
      margin-left: 15px;
      float: right;
      width: 141.35px;
      height: 39.6px;
      margin-bottom: 10px;
      font-size: 15px !important;
      border-radius: 0;
      text-align: center; }
      .companyMenu .wrapper button .circle {
        background-color: initial;
        border: none;
        height: 35.3px;
        width: 39.6px;
        margin-right: -6px;
        display: none; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 33.55px;
          width: 33.55px;
          padding-top: 7.8px;
          font-size: 20.35px;
          margin-top: 1.65px;
          background-color: rgba(140, 140, 140, 0.33); }
      .companyMenu .wrapper button .logo {
        height: 37.4px;
        width: 74.8px;
        margin-left: 26.05px;
        margin-top: 0.2px;
        font-size: 9px !important;
        /* margin: 0 auto; */ }
    .companyMenu .moreCompanyButton {
      float: right;
      font-size: 28px !important;
      margin-right: 0;
      margin-top: 0;
      height: 42.35px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .companyMenu .title, .companyMenu .moreCompanyButton {
    background-color: initial;
    border-bottom: 1px solid #e8b44c;
    margin-bottom: 15px; }

  .companyMenu .wrapper button {
    overflow: hidden;
    width: 29%;
    margin: 2%;
    height: 32.4px;
    border-radius: 0px;
    font-size: 12px !important; }
    .companyMenu .wrapper button .glyphicon-triangle-bottom {
      top: -5px;
      display: none; }
    .companyMenu .wrapper button .circle {
      display: none; }
    .companyMenu .wrapper button .logo {
      height: 30.6px;
      width: 100%;
      margin-left: 13.95px;
      margin-top: 0;
      text-align: center;
      float: none; }
      .companyMenu .wrapper button .logo img {
        max-height: 93%;
        max-width: 80%; }
  .companyMenu .moreCompanyButton {
    width: 122px;
    font-size: 15px !important;
    height: 27px;
    margin-top: 5px; } }
@media (max-width: 767pxx) {
  .moreCompaniesMenu {
    display: flex;
    justify-content: space-between; } }
#contactFormModelDialog {
  /*  triangle */ }
  #contactFormModelDialog .modal-header .close {
    margin-top: -14px; }
  @media (max-width: 540px) {
    #contactFormModelDialog .modal-content {
      width: auto !important;
      padding-bottom: 15px; }
    #contactFormModelDialog .modal-content:after,
    #contactFormModelDialog .modal-content:before {
      display: none !important; } }
  #contactFormModelDialog .modal-content {
    border-radius: 40px;
    border: 5px solid #e7b042;
    box-shadow: none;
    width: 515px;
    margin: 0 auto; }
    #contactFormModelDialog .modal-content .modal-header {
      border-bottom: none; }
    #contactFormModelDialog .modal-content .modal-body {
      padding-top: 0;
      margin-top: -20px; }
      #contactFormModelDialog .modal-content .modal-body .form-control {
        border-radius: 0; }
      #contactFormModelDialog .modal-content .modal-body label {
        color: #b9b8b8;
        font-size: 18.75px; }
        #contactFormModelDialog .modal-content .modal-body label.required {
          color: #9a9696; }
      #contactFormModelDialog .modal-content .modal-body .sumbit {
        position: absolute;
        bottom: 0;
        width: 100%; }
        #contactFormModelDialog .modal-content .modal-body .sumbit button {
          background-color: #8c8c8c;
          width: 92px;
          height: 31px;
          border: 0;
          border-radius: 0;
          color: rgba(255, 255, 255, 0.8);
          font-size: 20px;
          padding-top: 2px; }
          #contactFormModelDialog .modal-content .modal-body .sumbit button span {
            top: 3px; }
    #contactFormModelDialog .modal-content .companyLogo {
      float: left;
      max-height: 50px; }
    #contactFormModelDialog .modal-content #companyName {
      width: 170px;
      background-color: #e7b042;
      margin-right: -15px;
      margin-top: 12px;
      padding-right: 10px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18.5px;
      height: 23px;
      line-height: 23px; }
    #contactFormModelDialog .modal-content .planeName {
      margin-bottom: 15px;
      margin-top: 25px; }
      #contactFormModelDialog .modal-content .planeName input {
        width: 246px;
        display: inline-block;
        border: none; }
      #contactFormModelDialog .modal-content .planeName label,
      #contactFormModelDialog .modal-content .planeName input {
        color: #b9b8b8;
        font-size: 18.75px; }
  #contactFormModelDialog .modal-content:after,
  #contactFormModelDialog .modal-content:before {
    content: '';
    display: block;
    position: absolute;
    left: 100.5%;
    width: 0;
    height: 0;
    border-style: solid;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  #contactFormModelDialog .modal-content:after {
    border-color: transparent transparent transparent #ffffff;
    border-width: 80px;
    left: 169px; }
  #contactFormModelDialog .modal-content:before {
    top: 100.5%;
    border-color: transparent transparent transparent #e7b042;
    border-width: 85px;
    left: 165px; }

.postPage .postImage {
  width: 115px;
  height: 100px;
  box-shadow: 1px 2px 6px -2px #777; }
.postPage .postBody {
  color: #696666;
  opacity: 0.8;
  margin-bottom: 15px; }
.postPage .postArea {
  padding-top: 20px; }
  @media (max-width: 480px) {
    .postPage .postArea {
      margin-top: 50px; } }
@media (min-width: 1230px) {
  .postPage.sectionMiddle {
    margin-top: 90px; } }

/*# sourceMappingURL=page-post.css.map */
