.planArea {
  padding-top: 35px; }

#orderBy {
  padding: 5px 10px 0 0;
  width: 221px;
  margin: 0;
  margin-top: 20px;
  box-shadow: none;
  border-radius: 5px;
  position: Absolute;
  top: 15px;
  right: 0px;
  padding-left: 5px;
  background: white;
  text-align: center;
  box-shadow: 1px 2px 6px -2px #777;
  border: 0;
  border-radius: 0px; }
  #orderBy p,
  #orderBy button {
    display: inline-block !important;
    font-size: 13px;
    background: transparent;
    margin-top: 2px;
    border: 1px solid #c3c7cc;
    border-radius: 0px;
    padding-top: 3px;
    margin-left: 5px;
    border: 0px;
    box-shadow: 0 0 0; }
    #orderBy p .glyphicon,
    #orderBy button .glyphicon {
      color: #767373; }
  #orderBy p {
    border: 0px; }

.categoryAndSearch {
  width: 100%;
  overflow: hidden; }
  .categoryAndSearch .categorySide {
    position: relative;
    background-repeat: no-repeat; }
    .categoryAndSearch .categorySide h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 13%;
      color: #404041; }
    .categoryAndSearch .categorySide .shadow {
      background-image: url("/public/images/shadowLeft.png");
      background-repeat: no-repeat;
      background-position-x: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 17px; }
  .categoryAndSearch .searchSide {
    background-color: #f5f6f3;
    text-align: center; }
    .categoryAndSearch .searchSide p {
      color: #8c8c8c;
      opacity: 0.8; }
    .categoryAndSearch .searchSide h1 {
      font-weight: bold;
      color: #e7b85f;
      opacity: 0.8; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      right: 0;
      left: auto;
      color: #e7b85f;
      opacity: 0.8; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      border-color: #c1c4c6;
      color: #8c8c8c; }
    .categoryAndSearch .searchSide .has-success .form-control:hover,
    .categoryAndSearch .searchSide .has-success .form-control:focus {
      border: 0;
      box-shadow: 0 0 3px 1px #e7b85f; }
  .categoryAndSearch .cellular {
    background-color: #9e9684;
    background-size: 22% !important; }
  .categoryAndSearch .tv {
    background-color: #9cc6b9; }
  .categoryAndSearch .internet {
    background-color: #bf7a66;
    background-size: 21% !important; }
  .categoryAndSearch .internationalCalls {
    background-color: #87a5c0; }
  .categoryAndSearch .telephone {
    background-color: #e7b85f; }
  .categoryAndSearch .moreService {
    background-color: #799b8f; }

@media (min-width: 1200px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 195px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 40px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 371px; }
  .categoryAndSearch .searchSide {
    padding: 44px 91px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 41px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 56px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 40px;
      top: 12px;
      padding-right: 25px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 75px;
      padding-left: 12px;
      font-size: 19px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 161.85px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 33.2px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 307.93px; }
  .categoryAndSearch .searchSide {
    padding: 36.52px 75.53px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 34.03px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 46.48px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 33.2px;
      top: 7px;
      padding-right: 20.75px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 62.25px;
      padding-left: 9.96px;
      font-size: 15.77px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .planArea {
    padding-top: 45px; }

  .categoryAndSearch .categorySide {
    background-position: 50% 30%;
    background-size: 124.8px; }
    .categoryAndSearch .categorySide h1 {
      bottom: 13%;
      font-size: 25.6px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 58.24px; }
    .categoryAndSearch .searchSide p {
      font-size: 16px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 26.24px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .categoryAndSearch .categorySide {
    background-position: 50% 36%;
    background-size: 41%; }
    .categoryAndSearch .categorySide h1 {
      bottom: 9%;
      font-size: 20px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 28.24px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 20px; }
    .categoryAndSearch .searchSide p {
      font-size: 16px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  #orderBy {
    width: 100%; }

  .categoryAndSearch .categorySide {
    background-position: 50% 50%;
    background-size: 50% !important; }
    .categoryAndSearch .categorySide h1 {
      bottom: 18%;
      font-size: 20px; }
    .categoryAndSearch .categorySide .shadow {
      width: 17px; }
  .categoryAndSearch,
  .categoryAndSearch .icon,
  .categoryAndSearch .searchSide {
    height: 237.44px; }
  .categoryAndSearch .searchSide {
    padding: 28.16px 10px; }
    .categoryAndSearch .searchSide h1 {
      font-size: 16px; }
    .categoryAndSearch .searchSide p {
      font-size: 12px;
      margin-bottom: 15px;
      margin-top: 15px; }
    .categoryAndSearch .searchSide input.form-control {
      height: 35.84px; }
    .categoryAndSearch .searchSide .form-control-feedback#iconSearch {
      font-size: 20px;
      top: 2px;
      padding-right: 16px; }
    .categoryAndSearch .searchSide .has-feedback .form-control {
      padding-right: 48px;
      padding-left: 7.68px;
      font-size: 12.16px; } }
.opacityZero {
  opacity: 0; }

.filterMenu .tooltip {
  width: 122px;
  left: -125px !important;
  top: -9px !important; }
.filterMenu .rightSide {
  background-color: #e7b042;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 50; }
  .filterMenu .rightSide .compass {
    position: relative;
    height: 100%;
    background-image: url("/public/images/compass.png");
    background-repeat: no-repeat; }
  .filterMenu .rightSide .text {
    position: absolute;
    right: 0;
    left: -1px;
    background-color: #e7b042;
    bottom: 0;
    color: #f5f5f2; }
    .filterMenu .rightSide .text h2 {
      opacity: 0.8;
      padding: 0 5px; }
.filterMenu .leftSide {
  background-color: #dadada;
  height: 100%; }
  .filterMenu .leftSide .filterTitle {
    text-align: right;
    position: relative;
    border-bottom: 1px solid #eeeeee; }
    .filterMenu .leftSide .filterTitle button {
      position: absolute;
      left: 5px;
      top: 5px;
      color: #696666;
      line-height: 1.495;
      background-color: #cdcdcd;
      text-align: center;
      border: none;
      border-radius: 0; }
  .filterMenu .leftSide .optionMenu .row {
    margin-right: 0;
    margin-left: 0; }
  .filterMenu .leftSide .optionMenu .title {
    text-align: right;
    opacity: 0.6; }
  .filterMenu .leftSide .optionMenu .bootstrap-select button {
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 10px; }
  .filterMenu .leftSide .optionMenu .bootstrap-select .filter-option {
    text-align: right; }
  .filterMenu .leftSide .optionMenu .bootstrap-select.btn-group .dropdown-toggle .caret {
    left: 12px;
    right: auto; }
  .filterMenu .leftSide .optionMenu .selectAll {
    position: absolute; }
  .filterMenu .leftSide .optionMenu .selectAllTitle {
    position: absolute; }
    .filterMenu .leftSide .optionMenu .selectAllTitle p {
      text-decoration: underline;
      cursor: pointer; }
      .filterMenu .leftSide .optionMenu .selectAllTitle p:hover, .filterMenu .leftSide .optionMenu .selectAllTitle p:focus {
        font-weight: bold; }
  .filterMenu .leftSide .optionMenu .checkbox label::before {
    background-color: #eeeeee; }
  .filterMenu .leftSide .optionMenu .checkbox label::after {
    color: #eee !important;
    background-color: #e7b042;
    padding-right: 3px;
    border-radius: 3px; }

@media (min-width: 1200px) {
  .filterMenu {
    padding-top: 20px;
    padding: 82px 22px 0 0;
    height: calc(430px + 82px); }
    .filterMenu .rightSide .compass {
      width: 120%;
      background-position: 37% 0;
      right: 0; }
    .filterMenu .rightSide .text {
      top: 58%; }
    .filterMenu .leftSide {
      padding-right: 45px; }
      .filterMenu .leftSide .filterTitle h5 {
        padding-top: 15px; }
      .filterMenu .leftSide .optionMenu {
        padding: 30px 0; }
        .filterMenu .leftSide .optionMenu .row {
          padding: 10px 15px; }
        .filterMenu .leftSide .optionMenu .title h5 {
          margin-top: 10px; }
        .filterMenu .leftSide .optionMenu .bootstrap-select {
          margin-top: 5px; }
          .filterMenu .leftSide .optionMenu .bootstrap-select .filter-option {
            padding-right: 5px; }
        .filterMenu .leftSide .optionMenu .selectAll {
          top: 2px;
          right: -38px; }
        .filterMenu .leftSide .optionMenu .selectAllTitle {
          top: 69px;
          right: 257px; }
          .filterMenu .leftSide .optionMenu .selectAllTitle p {
            font-size: 12px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .filterMenu {
    padding-top: 20px;
    padding: 82px 22px 0 15px;
    height: calc(430px * 0.83 + 105px); }
    .filterMenu .rightSide .compass {
      width: 131%;
      background-position: -7% 0;
      right: 0;
      margin-right: 17px; }
    .filterMenu .rightSide .text {
      top: 66%;
      left: -30px; }
    .filterMenu .leftSide {
      padding-right: 37.35px; }
      .filterMenu .leftSide .filterTitle h5 {
        padding-top: 15px;
        padding-right: 15px; }
      .filterMenu .leftSide .optionMenu {
        padding: 20px 5px 0px 0px; }
        .filterMenu .leftSide .optionMenu .row {
          padding: 10px 45px 0 0; }
        .filterMenu .leftSide .optionMenu .title h5 {
          margin-top: 8.3px;
          font-size: 16px; }
        .filterMenu .leftSide .optionMenu .bootstrap-select {
          margin-top: 4.15px; }
          .filterMenu .leftSide .optionMenu .bootstrap-select .filter-option {
            padding-right: 4.15px; }
        .filterMenu .leftSide .optionMenu .selectAll {
          top: 1.66px;
          right: -38.54px; }
        .filterMenu .leftSide .optionMenu .selectAllTitle {
          top: 73.57px;
          right: 208.31px; }
          .filterMenu .leftSide .optionMenu .selectAllTitle p {
            font-size: 9.96px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .filterMenu {
    padding-top: 20px;
    padding: 60px 22px 0 0;
    height: 445px; }
    .filterMenu .rightSide .compass {
      width: 123%;
      background-position: 11% 1px;
      right: -17px;
      margin-right: 17px;
      background-size: contain; }
    .filterMenu .rightSide .text {
      top: 43%;
      left: -6px;
      padding-top: 15px; }
    .filterMenu .leftSide {
      padding-right: 0;
      padding-left: 0; }
      .filterMenu .leftSide .filterTitle {
        width: calc(100% - 30px);
        margin-right: 15px;
        padding-bottom: 5px; }
        .filterMenu .leftSide .filterTitle h5 {
          font-size: 1.5em; }
        .filterMenu .leftSide .filterTitle button {
          left: 0;
          top: -2px; }
      .filterMenu .leftSide .optionMenu {
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 0; }
        .filterMenu .leftSide .optionMenu .row {
          padding: 5px 35px 5px 0; }
        .filterMenu .leftSide .optionMenu .title h5 {
          margin-top: 14.3px;
          font-size: 13px; }
        .filterMenu .leftSide .optionMenu .bootstrap-select {
          margin-top: 4.15px; }
          .filterMenu .leftSide .optionMenu .bootstrap-select .filter-option {
            padding-right: 4.15px; }
        .filterMenu .leftSide .optionMenu .selectAll {
          top: 1.66px;
          right: -38.54px; }
        .filterMenu .leftSide .optionMenu .selectAllTitle {
          top: 63.57px;
          right: 144px; }
          .filterMenu .leftSide .optionMenu .selectAllTitle p {
            font-size: 9.96px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .filterMenu {
    padding-top: 20px;
    padding: 0; }
    .filterMenu .rightSide {
      height: 70px;
      overflow: hidden; }
      .filterMenu .rightSide .compass {
        background-position: 37% -15px;
        background-size: 82px;
        width: 88px; }
      .filterMenu .rightSide .text {
        top: -15px;
        background-color: transparent; }
    .filterMenu .leftSide {
      padding: 15px 0; }
      .filterMenu .leftSide .filterTitle {
        width: calc(100% - 30px);
        margin-right: 15px; }
        .filterMenu .leftSide .filterTitle h5 {
          padding-top: 0;
          margin-top: 0; }
        .filterMenu .leftSide .filterTitle button {
          top: -5px; }
      .filterMenu .leftSide .optionMenu {
        padding: 25px 0; }
        .filterMenu .leftSide .optionMenu .row {
          padding: 10px 35px 0 0; }
        .filterMenu .leftSide .optionMenu .title h5 {
          margin-top: 10px;
          font-size: 15px;
          padding-top: 4px; }
        .filterMenu .leftSide .optionMenu .bootstrap-select {
          margin-top: 5px; }
          .filterMenu .leftSide .optionMenu .bootstrap-select .filter-option {
            padding-right: 5px; }
        .filterMenu .leftSide .optionMenu .selectAll {
          top: 2px;
          right: -38px; }
        .filterMenu .leftSide .optionMenu .selectAllTitle {
          top: 62px;
          right: 37%; }
          .filterMenu .leftSide .optionMenu .selectAllTitle p {
            font-size: 12px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .filterMenu .rightSide .text {
    top: -5px;
    background-color: transparent; }
    .filterMenu .rightSide .text h2 {
      font-size: 13px;
      padding-right: 20%; }
  .filterMenu .leftSide {
    padding: 15px 0; }
    .filterMenu .leftSide .filterTitle {
      width: calc(100% - 30px);
      margin-right: 15px; }
      .filterMenu .leftSide .filterTitle h5 {
        padding-top: 0;
        margin-top: 0; }
      .filterMenu .leftSide .filterTitle button {
        top: -5px; }
    .filterMenu .leftSide .optionMenu {
      padding: 25px 0; }
      .filterMenu .leftSide .optionMenu .row {
        padding: 10px 35px 0 0; }
      .filterMenu .leftSide .optionMenu .title h5 {
        margin-top: 10px;
        font-size: 12px;
        padding-top: 4px; }
      .filterMenu .leftSide .optionMenu .bootstrap-select {
        margin-top: 5px; }
        .filterMenu .leftSide .optionMenu .bootstrap-select .filter-option {
          padding-right: 5px; }
      .filterMenu .leftSide .optionMenu .selectAll {
        top: 2px;
        right: -38px; }
      .filterMenu .leftSide .optionMenu .selectAllTitle {
        top: 62px;
        right: 37%; }
        .filterMenu .leftSide .optionMenu .selectAllTitle p {
          font-size: 12px; } }
.companyMenu {
  padding-right: 0;
  max-height: 575px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 575px;
  direction: ltr; }
  .companyMenu .tooltip {
    width: 122px;
    left: -125px !important;
    top: -9px !important; }
  .companyMenu .moreCompanyButton {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center; }
    .companyMenu .moreCompanyButton .glyphicon {
      padding-right: 10px; }
  .companyMenu .title,
  .companyMenu .moreCompanyButton {
    color: #696666;
    line-height: 1.495;
    background-color: #c1c4c6;
    text-align: center;
    background-color: #dadada;
    text-align: center;
    border: none;
    margin-right: 0.1px; }
  .companyMenu .moreCompanyButton:focus,
  .companyMenu .moreCompanyButton:hover {
    box-shadow: 0 1px 1px 0px #939393;
    background: #eeeeee; }
  .companyMenu .wrapper button {
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 6px -2px #777;
    margin-bottom: 13px; }
    .companyMenu .wrapper button:focus, .companyMenu .wrapper button:hover {
      outline: none;
      box-shadow: 0 1px 1px 0px #939393;
      background: #eeeeee; }
    .companyMenu .wrapper button .circle {
      border-radius: 50%;
      border: 2px dashed #8d8d8d;
      float: right;
      margin-right: -6px;
      background-color: white; }
      .companyMenu .wrapper button .circle .circleInner {
        background-color: #8c8c8c;
        border-radius: 50%;
        color: white; }
    .companyMenu .wrapper button .logo {
      float: left;
      text-align: center;
      overflow: hidden; }
      .companyMenu .wrapper button .logo img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%; }

@media (min-width: 1200px) {
  .companyMenu .title {
    font-size: 22px;
    width: 268px;
    height: 39px;
    margin-bottom: 25px; }
  .companyMenu .wrapper button {
    width: 257px;
    height: 72px;
    margin-bottom: 10px; }
    .companyMenu .wrapper button .circle {
      height: 72px;
      width: 72px;
      margin-right: -6px; }
      .companyMenu .wrapper button .circle .circleInner {
        height: 61px;
        width: 61px;
        padding-top: 16px;
        font-size: 37px;
        margin-top: 3px; }
    .companyMenu .wrapper button .logo {
      height: 68px;
      width: 136px;
      margin-left: 31px;
      margin-top: 4px; }
  .companyMenu .moreCompanyButton {
    width: 230px;
    height: 39px;
    font-size: 28px !important;
    margin-right: 0.1px;
    margin-top: 8px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .companyMenu {
    max-height: 470px; }
    .companyMenu .title {
      font-size: 19.09px;
      width: 222.44px;
      height: 32.37px;
      margin-bottom: 20.75px; }
    .companyMenu .wrapper button {
      width: 213.31px;
      height: 59.76px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 59.76px;
        width: 59.76px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 50.63px;
          width: 50.63px;
          padding-top: 13.28px;
          font-size: 30.71px;
          margin-top: 2.49px; }
      .companyMenu .wrapper button .logo {
        height: 56.44px;
        width: 112.88px;
        margin-left: 25.73px;
        margin-top: 3.32px; }
    .companyMenu .moreCompanyButton {
      width: 190.9px;
      height: 32.37px;
      font-size: 23.24px !important;
      margin-right: 0.1px;
      margin-top: 6.64px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .companyMenu {
    max-height: 368px; }
    .companyMenu .title {
      font-size: 16px;
      width: 171.52px;
      height: 24.96px;
      margin-bottom: 16px; }
    .companyMenu .wrapper button {
      width: 164.48px;
      height: 46.08px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 46.08px;
        width: 46.08px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 39.04px;
          width: 39.04px;
          padding-top: 9.24px;
          font-size: 23.68px;
          margin-top: 1.92px; }
      .companyMenu .wrapper button .logo {
        height: 43.52px;
        width: 87.04px;
        margin-left: 19.84px;
        margin-top: 2.56px; }
    .companyMenu .moreCompanyButton {
      width: 147.2px;
      height: 24.96px;
      font-size: 17.92px !important;
      margin-right: 0.1px;
      margin-top: 5.12px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .companyMenu {
    max-height: 215px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /* display: flex; */
    /* justify-content: space-between; */ }
    .companyMenu .title {
      font-size: 22px;
      width: 100%;
      height: 39px;
      margin-bottom: 25px; }
    .companyMenu .wrapper {
      padding-right: 0; }
    .companyMenu .wrapper button {
      margin-left: 15px;
      float: right;
      width: 141.35px;
      height: 39.6px;
      margin-bottom: 10px;
      font-size: 15px !important;
      border-radius: 0;
      text-align: center; }
      .companyMenu .wrapper button .circle {
        background-color: initial;
        border: none;
        height: 35.3px;
        width: 39.6px;
        margin-right: -6px;
        display: none; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 33.55px;
          width: 33.55px;
          padding-top: 7.8px;
          font-size: 20.35px;
          margin-top: 1.65px;
          background-color: rgba(140, 140, 140, 0.33); }
      .companyMenu .wrapper button .logo {
        height: 37.4px;
        width: 74.8px;
        margin-left: 26.05px;
        margin-top: 0.2px;
        font-size: 9px !important;
        /* margin: 0 auto; */ }
    .companyMenu .moreCompanyButton {
      float: right;
      font-size: 28px !important;
      margin-right: 0;
      margin-top: 0;
      height: 42.35px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .companyMenu .title, .companyMenu .moreCompanyButton {
    background-color: initial;
    border-bottom: 1px solid #e8b44c;
    margin-bottom: 15px; }

  .companyMenu .wrapper button {
    overflow: hidden;
    width: 29%;
    margin: 2%;
    height: 32.4px;
    border-radius: 0px;
    font-size: 12px !important; }
    .companyMenu .wrapper button .glyphicon-triangle-bottom {
      top: -5px;
      display: none; }
    .companyMenu .wrapper button .circle {
      display: none; }
    .companyMenu .wrapper button .logo {
      height: 30.6px;
      width: 100%;
      margin-left: 13.95px;
      margin-top: 0;
      text-align: center;
      float: none; }
      .companyMenu .wrapper button .logo img {
        max-height: 93%;
        max-width: 80%; }
  .companyMenu .moreCompanyButton {
    width: 122px;
    font-size: 15px !important;
    height: 27px;
    margin-top: 5px; } }
@media (max-width: 767pxx) {
  .moreCompaniesMenu {
    display: flex;
    justify-content: space-between; } }
#injectHtml {
  padding: 0; }
  #injectHtml li {
    list-style: none; }

.readMore ul {
  padding-right: 0px;
  margin-top: 25px; }
  .readMore ul .desTitle {
    color: rgba(0, 0, 0, 0.8) !important; }

.promotions {
  position: relative; }
  .promotions .planbox {
    border-style: solid;
    border-width: 1px;
    border-color: #c3c7cc;
    border-radius: 9px;
    background-image: linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -moz-linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #ebedee 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #ebedee 0%, white 100%);
    box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
    position: relative; }
    .promotions .planbox .companyBox {
      height: 100%;
      position: static;
      text-align: center; }
      .promotions .planbox .companyBox .logo {
        position: absolute;
        top: 35px;
        bottom: 35px;
        right: 0;
        left: 84%;
        border-left: 6px solid #cdcdcd; }
    .promotions .planbox .textBox {
      padding-right: 0;
      padding-top: 0;
      opacity: 0.85; }
      .promotions .planbox .textBox .planTitle ul {
        margin-bottom: 0; }
      .promotions .planbox .textBox .planTitle ul li {
        display: inline-block;
        list-style: none; }
        .promotions .planbox .textBox .planTitle ul li h2 {
          padding: 0;
          margin: 0;
          display: inline-block;
          font-weight: bold;
          color: #5e5a5a; }
      .promotions .planbox .textBox .planTitle li:after {
        content: " - ";
        font-size: 35px;
        font-weight: bold;
        color: #5e5a5a; }
      .promotions .planbox .textBox .planTitle li:last-child:after {
        content: ""; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 23px;
        list-style: none;
        margin-bottom: 5px; }
        .promotions .planbox .textBox .planDescription ul li .desText {
          color: #5e5a5a; }
        .promotions .planbox .textBox .planDescription ul li .desTitle {
          color: #e7b042;
          font-weight: bold;
          float: right;
          padding-left: 5px; }
      .promotions .planbox .textBox .planDescription li .desTitle:after {
        content: ":"; }
    .promotions .planbox .priceBox .price {
      color: #8c8c8c;
      font-weight: bold; }
    .promotions .planbox .priceBox .contact button {
      border: none;
      border-radius: 10px;
      background-color: #e8b44c;
      color: white; }
      .promotions .planbox .priceBox .contact button, .promotions .planbox .priceBox .contact button:hover, .promotions .planbox .priceBox .contact button:focus {
        outline: none; }
    .promotions .planbox .priceBox .contact:hover button, .promotions .planbox .priceBox .contact:focus button {
      box-shadow: inset 0 4px 10px 0 #dc984d;
      -webkit-box-shadow: inset 0 4px 10px 0 #dc984d;
      -moz-box-shadow: inset 0 4px 10px 0 #dc984d;
      -o-box-shadow: inset 0 4px 10px 0 #dc984d; }
    .promotions .planbox .more ul {
      list-style: none;
      text-align: center;
      width: 100%;
      padding: 0; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li a,
        .promotions .planbox .more ul li span {
          color: #e6b043; }
  .promotions .ClickToReadMore {
    color: #e9b44c;
    font-size: 15px; }

@media (min-width: 1200px) {
  .promotions .planbox {
    width: 100%;
    margin: 35px auto 0 auto;
    padding-top: 35px;
    padding-bottom: 35px; }
    .promotions .planbox .companyBox .logo img {
      max-width: 148px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 35px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 35px; }
    .promotions .planbox .textBox .planTitle li:last-child:after {
      content: ""; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 23px; }
    .promotions .planbox .priceBox .price {
      font-size: 46.235px;
      margin-top: -8px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 40px; }
      .promotions .planbox .priceBox .contact button {
        width: 138px;
        height: 115px;
        font-size: 25px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 10px;
        width: 23px;
        margin: 0 auto;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-top: 23px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 21px;
          margin-left: 15px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 15px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .promotions .planbox {
    width: 100%;
    margin: 29.05px auto 0 auto;
    padding-top: 29.05px;
    padding-bottom: 29.05px; }
    .promotions .planbox .companyBox .logo img {
      max-width: 122.84px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 29.05px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 29.05px; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 19.09px; }
    .promotions .planbox .priceBox .price {
      font-size: 38.37505px;
      margin-top: -6.64px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 33.2px; }
      .promotions .planbox .priceBox .contact button {
        width: 114.54px;
        height: 95.45px;
        font-size: 25.73px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 8.3px;
        width: 19.09px;
        margin: 0 auto;
        border-left: 19.09px solid transparent;
        border-right: 19.09px solid transparent;
        border-top: 19.09px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 17.43px;
          margin-left: 12.45px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 12.45px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .promotions .planbox {
    width: 100%;
    margin: 22.4px auto 0 auto;
    padding-top: 22.4px;
    padding-bottom: 22.4px; }
    .promotions .planbox .priceNotes {
      font-size: 10px; }
    .promotions .planbox .companyBox .logo {
      top: 30px;
      bottom: 30px; }
      .promotions .planbox .companyBox .logo img {
        max-width: 94.72px; }
    .promotions .planbox .textBox .planTitle ul li h2 {
      font-size: 22.4px; }
    .promotions .planbox .textBox .planTitle li:after {
      font-size: 22.4px; }
    .promotions .planbox .textBox .planDescription {
      padding: 10px 0; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 16px; }
    .promotions .planbox .priceBox .price {
      font-size: 29.5904px;
      margin-top: -5.12px; }
    .promotions .planbox .priceBox .contact {
      padding-top: 25.6px; }
      .promotions .planbox .priceBox .contact button {
        width: 88.32px;
        height: 73.6px;
        font-size: 14.84px; }
      .promotions .planbox .priceBox .contact .triangle {
        height: 6.4px;
        width: 14.72px;
        margin: -1px auto;
        border-left: 14.72px solid transparent;
        border-right: 14.72px solid transparent;
        border-top: 14.72px solid #e8b44c; }
    .promotions .planbox .more ul {
      margin-top: 40px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 13.44px;
          margin-left: 9.6px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 9.6px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .promotions .planbox {
    width: 100%;
    margin: 35px auto 0 auto;
    padding-top: 15px;
    padding-bottom: 25px; }
    .promotions .planbox .companyBox {
      position: relative;
      border-bottom: 5px solid #9c9a9a;
      padding-bottom: 15px;
      text-align: right;
      /* display: flex; */ }
      .promotions .planbox .companyBox .logo {
        width: calc(100% - 176px);
        position: static;
        padding-right: 25px;
        border: 0px; }
        .promotions .planbox .companyBox .logo .helper {
          display: none; }
        .promotions .planbox .companyBox .logo img {
          height: 48px;
          width: auto; }
    .promotions .planbox .textBox {
      border: 0; }
      .promotions .planbox .textBox .planTitle li:after {
        font-size: 35px; }
      .promotions .planbox .textBox .planTitle li:last-child:after {
        content: ""; }
      .promotions .planbox .textBox .planDescription ul li {
        font-size: 16px; }
    .promotions .planbox .priceBox {
      position: static; }
      .promotions .planbox .priceBox .price {
        position: absolute;
        top: 15px;
        left: 30px;
        width: 171px;
        font-size: 46.235px;
        margin-top: -8px; }
      .promotions .planbox .priceBox .contact {
        padding-top: 15px; }
        .promotions .planbox .priceBox .contact button {
          width: calc(100% - 60px);
          height: 60px;
          border-radius: 0;
          font-size: 31px; }
        .promotions .planbox .priceBox .contact .triangle {
          display: none; }
    .promotions .planbox .more ul {
      margin-top: 10px; }
      .promotions .planbox .more ul li {
        display: inline-block; }
        .promotions .planbox .more ul li:first-child a {
          font-size: 21px;
          margin-left: 15px; }
        .promotions .planbox .more ul li:last-child a {
          font-size: 15px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .promotions .planbox {
    box-shadow: 1px 2px 6px -2px #777;
    border: 0;
    border-radius: 0px; }
    .promotions .planbox .companyBox .logo {
      padding-right: 0px; }
    .promotions .planbox .textBox .planTitle {
      padding-top: 15px; }
      .promotions .planbox .textBox .planTitle ul {
        padding-right: 15px;
        padding-bottom: 5px; }
      .promotions .planbox .textBox .planTitle li:after {
        font-size: 16px; }
    .promotions .planbox .textBox .planDescription ul {
      padding-right: 16px; }
    .promotions .planbox .textBox .planDescription ul li {
      font-size: 13px; }
    .promotions .planbox .priceBox .price {
      font-size: 30px;
      width: calc(100% - 108px);
      text-align: left;
      height: 65px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      .promotions .planbox .priceBox .price small {
        font-size: 10px;
        margin-top: -5px; }
    .promotions .planbox .priceBox .contact button {
      font-size: 31px;
      height: auto; }
    .promotions .planbox .more ul li:first-child a {
      font-size: 21px; }
    .promotions .planbox .more ul li:last-child a {
      font-size: 15px; } }
#contactFormModelDialog {
  /*  triangle */ }
  #contactFormModelDialog .modal-header .close {
    margin-top: -14px; }
  @media (max-width: 540px) {
    #contactFormModelDialog .modal-content {
      width: auto !important;
      padding-bottom: 15px; }
    #contactFormModelDialog .modal-content:after,
    #contactFormModelDialog .modal-content:before {
      display: none !important; } }
  #contactFormModelDialog .modal-content {
    border-radius: 40px;
    border: 5px solid #e7b042;
    box-shadow: none;
    width: 515px;
    margin: 0 auto; }
    #contactFormModelDialog .modal-content .modal-header {
      border-bottom: none; }
    #contactFormModelDialog .modal-content .modal-body {
      padding-top: 0;
      margin-top: -20px; }
      #contactFormModelDialog .modal-content .modal-body .form-control {
        border-radius: 0; }
      #contactFormModelDialog .modal-content .modal-body label {
        color: #b9b8b8;
        font-size: 18.75px; }
        #contactFormModelDialog .modal-content .modal-body label.required {
          color: #9a9696; }
      #contactFormModelDialog .modal-content .modal-body .sumbit {
        position: absolute;
        bottom: 0;
        width: 100%; }
        #contactFormModelDialog .modal-content .modal-body .sumbit button {
          background-color: #8c8c8c;
          width: 92px;
          height: 31px;
          border: 0;
          border-radius: 0;
          color: rgba(255, 255, 255, 0.8);
          font-size: 20px;
          padding-top: 2px; }
          #contactFormModelDialog .modal-content .modal-body .sumbit button span {
            top: 3px; }
    #contactFormModelDialog .modal-content .companyLogo {
      float: left;
      max-height: 50px; }
    #contactFormModelDialog .modal-content #companyName {
      width: 170px;
      background-color: #e7b042;
      margin-right: -15px;
      margin-top: 12px;
      padding-right: 10px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18.5px;
      height: 23px;
      line-height: 23px; }
    #contactFormModelDialog .modal-content .planeName {
      margin-bottom: 15px;
      margin-top: 25px; }
      #contactFormModelDialog .modal-content .planeName input {
        width: 246px;
        display: inline-block;
        border: none; }
      #contactFormModelDialog .modal-content .planeName label,
      #contactFormModelDialog .modal-content .planeName input {
        color: #b9b8b8;
        font-size: 18.75px; }
  #contactFormModelDialog .modal-content:after,
  #contactFormModelDialog .modal-content:before {
    content: '';
    display: block;
    position: absolute;
    left: 100.5%;
    width: 0;
    height: 0;
    border-style: solid;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  #contactFormModelDialog .modal-content:after {
    border-color: transparent transparent transparent #ffffff;
    border-width: 80px;
    left: 169px; }
  #contactFormModelDialog .modal-content:before {
    top: 100.5%;
    border-color: transparent transparent transparent #e7b042;
    border-width: 85px;
    left: 165px; }

/*# sourceMappingURL=page-category.css.map */
