@media (max-width: 600px) {
  nav #menuButtons {
    background: #e0dede; } }
nav #menuButtons .memuButton a {
  color: #696666;
  opacity: 0.8;
  z-index: 49;
  position: relative;
  /* font-weight: bolder; */
  color: rgba(105, 102, 102, 0.8);
  /* border-left: 1px solid red; */ }
  nav #menuButtons .memuButton a .borderLeft {
    color: red;
    width: 2px;
    height: 20px;
    background: #989797;
    float: left;
    margin-right: 20px;
    position: relative;
    top: 2px; }
  nav #menuButtons .memuButton a .glyphicon {
    top: 16px;
    left: -13px;
    position: absolute;
    font-size: 0.8em; }
  nav #menuButtons .memuButton a:hover, nav #menuButtons .memuButton a:focus, nav #menuButtons .memuButton a:active {
    color: #eabe65;
    opacity: 1;
    text-decoration: underline; }
  nav #menuButtons .memuButton a.active {
    color: #eabe65; }
nav #menuButtons .separator {
  padding-top: 10px;
  color: #696666;
  opacity: 0.8;
  margin: 0 !important; }
nav #menuButtons .dropdown-menu {
  background: #e7b042;
  border: 4px solid #eeeeee; }
  nav #menuButtons .dropdown-menu li {
    padding: 0 11px; }
    nav #menuButtons .dropdown-menu li:last-child a {
      border-bottom: 0; }
    nav #menuButtons .dropdown-menu li a {
      color: #eeeeee;
      border-bottom: 3px solid #eeeeee;
      background-position-y: -1px; }
      nav #menuButtons .dropdown-menu li a:hover, nav #menuButtons .dropdown-menu li a:focus {
        background-color: #3f3f3f;
        text-decoration: none; }
nav #menuButtons .socialNetwork a {
  background-image: url("/public/images/soical_network.png");
  background-repeat: no-repeat;
  opacity: 0.6; }
  nav #menuButtons .socialNetwork a:hover, nav #menuButtons .socialNetwork a:focus {
    opacity: 1; }
nav .navbar-toggle {
  background: #3f3f3f;
  margin-top: 70px; }
  nav .navbar-toggle .icon-bar {
    background: #eabe65; }
nav #siteLogo {
  z-index: 50;
  position: relative; }

/* Large desktops and laptops */
@media (min-width: 1200px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 22px; }
  nav #menuButtons {
    padding-top: 142px;
    padding-right: 263px; }
    nav #menuButtons .memuButton {
      margin-left: 5px; }
  nav #siteLogo {
    width: 263px;
    height: 169px; }
  nav .socialNetwork li:nth-child(4) a {
    background-position-x: 1px; }
  nav .socialNetwork li:nth-child(3) a {
    background-position-x: -43px; }
  nav .socialNetwork li:nth-child(2) a {
    background-position-x: -96px; }
  nav .socialNetwork li:nth-child(1) a {
    background-position-x: -142px; }
  nav .socialNetwork a {
    width: 44px;
    height: 43px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 19.09px; }
  nav #menuButtons {
    padding-top: 117.86px;
    padding-right: 218.29px; }
    nav #menuButtons .memuButton {
      margin-left: -3px; }
  nav #siteLogo {
    width: 218.29px;
    height: 140.27px; }
  nav .socialNetwork {
    padding-top: 5px; }
    nav .socialNetwork li:nth-child(4) a {
      background-position-x: 0; }
    nav .socialNetwork li:nth-child(3) a {
      background-position-x: -35px; }
    nav .socialNetwork li:nth-child(2) a {
      background-position-x: -78px; }
    nav .socialNetwork li:nth-child(1) a {
      background-position-x: -115px; }
    nav .socialNetwork a {
      background-size: cover;
      width: 35.26px;
      height: 35.26px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 14.72px; }
  nav #menuButtons {
    padding-top: 90.88px;
    padding-right: 164.32px; }
    nav #menuButtons .memuButton {
      margin-left: -20px; }
    nav #menuButtons .separator {
      padding-top: 13px;
      padding-right: 10px; }
  nav #siteLogo {
    width: 168.32px;
    height: 108.16px; }
  nav .socialNetwork {
    padding-top: 9px;
    margin-left: -15px; }
    nav .socialNetwork li:nth-child(4) a {
      background-position-x: 1px; }
    nav .socialNetwork li:nth-child(3) a {
      background-position-x: -29px; }
    nav .socialNetwork li:nth-child(2) a {
      background-position-x: -66px; }
    nav .socialNetwork li:nth-child(1) a {
      background-position-x: -98px; }
    nav .socialNetwork a {
      background-size: cover;
      width: 27.52px;
      height: 27.52px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  nav h5,
  nav p,
  nav a,
  nav button {
    font-size: 22px; }
  nav #siteLogo {
    height: 90px; }
  nav #menuButtons .separator {
    display: none; }
  nav #menuButtons .dropdown-menu {
    width: calc(100% - 100px);
    margin-right: 90px;
    margin-top: -34px;
    /* position: fixed; */ }
  nav #menuButtons .memuButton:hover a:not(.dropdown-menu a) {
    color: #e7b042;
    text-decoration: underline; }
  nav .socialNetwork {
    text-align: left;
    margin-left: 0; }
    nav .socialNetwork li {
      display: inline-block; }
      nav .socialNetwork li:nth-child(4) a {
        background-position-x: 0; }
      nav .socialNetwork li:nth-child(3) a {
        background-position-x: -43px; }
      nav .socialNetwork li:nth-child(2) a {
        background-position-x: -95px; }
      nav .socialNetwork li:nth-child(1) a {
        background-position-x: -141px; }
    nav .socialNetwork a {
      width: 43px;
      height: 43px; } }
/* Portrait phones and smaller */
@medi;
h1 {
  font-size: 29px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5,
p,
a,
button {
  font-size: 22px; }

/* Large desktops and laptops */
        /*
@media (min-width: 1200px) {
    h1 {
        font-size: 29px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5,
    p,
    a,
    button {
        font-size: 22px;
    }
}
/* Landscape tablets and medium desktops (320/1200=83%) */
        /*
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 29px * 0.83;
    }
    h2 {
        font-size: 27px * 0.83;
    }
    h3 {
        font-size: 25px * 0.83;
    }
    h4 {
        font-size: 20px * 0.83;
    }
    h5,
    p,
    a,
    button {
        font-size: 23px * 0.83;
    }
}
/* Portrait tablets and small desktops     //(320/1200=64%) */
        /*
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 29px * 0.64;
    }
    h2 {
        font-size: 27px * 0.64;
    }
    h3 {
        font-size: 25px * 0.64;
    }
    h4 {
        font-size: 20px * 0.64;
    }
    h5,
    p,
    a,
    button {
        font-size: 23px * 0.64;
    }
}
/* Landscape phones and portrait tablets */
        /*
@media (max-width: 767px) {
    h1 {
        font-size: 29px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5,
    p,
    a,
    button {
        font-size: 22px;
    }
}
/* Portrait phones and smaller */
            /*
    @media (max-width: 480px) {}

    */
footer {
  position: relative; }

.footer {
  background-color: #cacaca;
  position: relative;
  display: flex; }
  .footer .jumpTop {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-image: url("/public/images/arrowTop.png");
    height: 31px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none; }
  .footer .socialNetwork {
    position: absolute;
    left: 35%;
    bottom: 15px; }
    .footer .socialNetwork li:first-child {
      margin-top: 12px; }
    .footer .socialNetwork li:nth-child(5) a {
      background-position-x: 1px; }
    .footer .socialNetwork li:nth-child(4) a {
      background-position-x: -43px; }
    .footer .socialNetwork li:nth-child(3) a {
      background-position-x: -96px; }
    .footer .socialNetwork li:nth-child(2) a {
      background-position-x: -142px; }
    .footer .socialNetwork a {
      background-image: url("/public/images/soical_network.png");
      background-repeat: no-repeat;
      opacity: 0.6;
      width: 44px;
      height: 43px; }
      .footer .socialNetwork a:hover, .footer .socialNetwork a:focus {
        opacity: 1; }
  .footer .arrow {
    width: 0;
    height: 0;
    position: absolute;
    left: 0; }
  .footer .list-group-item {
    text-align: right;
    border: 0;
    background: none;
    padding: 7px;
    font-size: 19px;
    color: #696666;
    font-weight: bold;
    text-align: center; }
    .footer .list-group-item a {
      text-decoration: none;
      color: #696666;
      font-size: 19px;
      font-weight: normal; }
  .footer .list-group {
    border-left: 2px solid #b3b3b3;
    padding-right: 15px;
    flex: 1;
    /* text-align: center; */
    /* margin-left: 5%; */ }
    .footer .list-group.noBorderLeft {
      border-left: 0px; }
  .footer .list-group:last-child {
    border-left: 0;
    padding-right: 15px; }

.bottomShadow {
  display: none; }

@media (min-width: 1230px) {
  #wrapper .footer {
    margin-top: 130px;
    height: 215px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 50px; }
    #wrapper .footer .arrow {
      border-left: 600px solid transparent;
      border-right: 600px solid transparent;
      border-bottom: 106px solid #cbcbcb;
      bottom: 215px; } }
@media (min-width: 1200px) and (max-width: 1229px) {
  #wrapper .footer {
    margin-top: 126.75px;
    height: 209.625px;
    padding: 0 40px; }
    #wrapper .footer .arrow {
      border-left: 585px solid transparent;
      border-right: 585px solid transparent;
      border-bottom: 103.35px solid #cbcbcb;
      bottom: 209.625px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  #wrapper .footer {
    margin-top: 104px;
    height: 187px; }
    #wrapper .footer .arrow {
      border-left: 480px solid transparent;
      border-right: 480px solid transparent;
      border-bottom: 84.8px solid #cbcbcb;
      bottom: 187px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  #wrapper .footer {
    margin-top: 81.25px;
    height: 187px; }
    #wrapper .footer .arrow {
      border-left: 375px solid transparent;
      border-right: 375px solid transparent;
      border-bottom: 66.25px solid #cbcbcb;
      bottom: 187px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #wrapper .footer {
    margin-top: -70px;
    height: 280px;
    z-index: 100;
    background-color: #cbcbcb;
    padding-top: 50px;
    display: flex; }
    #wrapper .footer .arrow {
      display: none; }
    #wrapper .footer .socialNetwork {
      bottom: 5px; }
      #wrapper .footer .socialNetwork li {
        display: inline-block !important;
        float: right; }
    #wrapper .footer .jumpTop {
      bottom: 10px; }
  #wrapper .bottomShadow {
    display: block;
    transform: rotate(180deg);
    z-index: 50;
    display: none; } }
@media (min-width: 600px) and (max-width: 766px) {
  #wrapper .footer {
    margin-top: -73px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  #wrapper .footer {
    margin-top: -64px;
    height: 315px;
    overflow: hidden;
    display: flex; }
    #wrapper .footer .list-group-item {
      padding: 6px 0px;
      font-size: 15px;
      text-align: center; }
      #wrapper .footer .list-group-item a {
        font-size: 15px; }
    #wrapper .footer .socialNetwork {
      position: absolute;
      left: 48px;
      bottom: 50px; }
    #wrapper .footer .jumpTop {
      bottom: 5px;
      left: 6px;
      height: 40px;
      width: 29px; } }
.article .post:nth-child(even) {
  border-right: 2px solid;
  border-color: #cdcdcd; }
.article .getMorePosts {
  margin-top: 30px; }
.article .post .postThumbnail img {
  width: 162px;
  height: 94px;
  box-shadow: 1px 2px 6px -2px #777; }
  @media (max-width: 600px) {
    .article .post .postThumbnail img {
      width: 100%;
      height: auto;
      max-height: 200p;
      box-shadow: 1px 2px 6px -2px #777; } }
.article .post:hover, .article .post:focus {
  box-shadow: 1px 2px 6px -2px #777; }
  .article .post:hover .content, .article .post:focus .content {
    opacity: 1; }
  .article .post:hover .postThumbnail img, .article .post:focus .postThumbnail img {
    border: 0px solid #e7b042;
    width: 162px;
    height: 94px;
    /* box-shadow: 1px 2px 6px -2px #777; */ }
    @media (max-width: 600px) {
      .article .post:hover .postThumbnail img, .article .post:focus .postThumbnail img {
        width: 100%;
        height: auto;
        max-height: 200p; } }
.article .post .title {
  font-weight: bold;
  color: #696666;
  opacity: 0.8; }
.article .post .content {
  color: #696666;
  opacity: 0.8;
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: #cdcdcd; }
.article .post a:hover,
.article .post a:focus {
  text-decoration: none; }
.article .post .readMore {
  color: #e7b042;
  opacity: 1; }
.article .share {
  text-align: left;
  width: 100%;
  position: absolute;
  left: -2px;
  padding-left: 40px;
  border-left: 2px solid #eeeeee;
  z-index: 10;
  bottom: -66px;
  height: 101px;
  padding-top: 35px; }
  .article .share p {
    display: inline-block; }
  .article .share .socialNetwork {
    display: inline-block; }
    .article .share .socialNetwork .text {
      font-size: 8px;
      padding-left: 5px;
      width: 40px;
      line-height: 10px;
      bottom: 9px; }
    .article .share .socialNetwork li {
      display: inline-block;
      width: 23px;
      height: 25px;
      position: relative;
      margin: 0 -2.5px; }
      .article .share .socialNetwork li a {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        background-image: url("/public/images/share.jpg");
        background-repeat: no-repeat;
        opacity: 0.8; }
        .article .share .socialNetwork li a:hover, .article .share .socialNetwork li a:focus {
          opacity: 1; }
      .article .share .socialNetwork li:nth-child(5) a {
        background-position: 0 1px; }
      .article .share .socialNetwork li:nth-child(4) a {
        background-position: -23px 1px; }
      .article .share .socialNetwork li:nth-child(3) a {
        background-position: -46px 1px; }
      .article .share .socialNetwork li:nth-child(2) a {
        background-position: -69px 1px; }

@media (min-width: 1200px) {
  .article {
    padding-top: 30px; }
    .article .articleArea {
      padding: 60px 105px 60px 104px; }
    .article .post:nth-child(even) {
      padding-right: 45px; }
    .article .post:nth-child(odd) {
      padding-left: 45px; }
    .article .post {
      margin-bottom: 45px; }
      .article .post .content {
        padding-bottom: 15px;
        height: 265px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .article {
    padding-top: 24.9px; }
    .article .articleArea {
      padding: 49.8px 87.15px 49.8px 86.32px; }
    .article .post:nth-child(even) {
      padding-right: 37.35px; }
    .article .post:nth-child(odd) {
      padding-left: 37.35px; }
    .article .post {
      margin-bottom: 60px; }
      .article .post .content {
        padding-bottom: 12.45px;
        height: 325px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .article {
    padding-top: 19.2px; }
    .article .articleArea {
      padding: 45px 15px; }
    .article .post:nth-child(even) {
      padding-right: 28.8px; }
    .article .post:nth-child(odd) {
      padding-left: 28.8px; }
    .article .post {
      margin-bottom: 75px; }
      .article .post .content {
        padding-bottom: 9.6px;
        height: 384px; }
    .article .share {
      bottom: -37px;
      height: 63px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .article {
    padding-top: 19.2px; }
    .article .articleArea {
      padding: 45px 0 0 15px;
      margin-bottom: 50px; }
    .article .post:nth-child(even) {
      padding-left: 0;
      padding-right: 15px;
      border-right: none; }
    .article .post:nth-child(odd) {
      padding-left: 0; }
    .article .post {
      margin-bottom: 45px; }
      .article .post .content {
        padding-bottom: 9.6px; }
    .article .share {
      bottom: -19px;
      height: 30px;
      padding-top: 8px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .article h3 {
    font-size: 16px; }
  .article .post .content {
    font-size: 13px; } }
.comments_template #comments {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  background-image: linear-gradient(90deg, #ebedee 0%, white 100%);
  background-image: -moz-linear-gradient(90deg, #ebedee 0%, white 100%);
  background-image: -webkit-linear-gradient(90deg, #ebedee 0%, white 100%);
  background-image: -ms-linear-gradient(90deg, #ebedee 0%, white 100%);
  box-shadow: 0px 4px 0px 0px rgba(224, 224, 224, 0.392);
  position: relative;
  padding: 0 15px 15px 15px;
  min-height: 375px; }
.comments_template .comments-title {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 15px;
  opacity: 0.8;
  margin-right: 15px;
  margin-left: 15px; }
.comments_template #respond {
  padding: 0 15px;
  position: absolute;
  top: 80px;
  height: 245px;
  right: 15px;
  left: 60px; }
.comments_template .comment-list {
  display: inline-block;
  max-height: 450px;
  overflow: overlay;
  direction: ltr;
  padding-right: 45px;
  border: none;
  height: 465px;
  padding-top: 5px;
  text-align: right;
  margin-top: 260px;
  margin-right: 15px;
  width: calc(100% - 30px);
  padding-left: 45px; }
  .comments_template .comment-list li {
    direction: rtl;
    padding: 10px;
    list-style: none;
    background: whitesmoke;
    margin-bottom: 15px;
    box-shadow: 0 0 1px 0px #bfbfbf; }
    .comments_template .comment-list li .children {
      margin-top: 10px; }
.comments_template .comment-metadata {
  text-align: left;
  float: left;
  margin-top: -20px; }
  .comments_template .comment-metadata a {
    color: #c5c5c5;
    font-size: 12px; }
  .comments_template .comment-metadata .comment-edit-link {
    font-weight: bold; }
.comments_template #submit {
  border-radius: 5px;
  margin-left: 5px;
  border: 0;
  background: #e9b44e;
  color: #f5f5f2;
  position: absolute;
  left: 0px;
  bottom: 5px;
  z-index: 150; }
.comments_template .form-submit {
  background: rgba(238, 238, 238, 0.63);
  position: absolute;
  top: 130px;
  height: 100px;
  text-align: left;
  padding-left: 0px;
  right: 15px;
  left: 15px;
  border: solid 1px #c3c7cc !important;
  border-top: 0px !important; }
.comments_template #reply-title, .comments_template .comment-form-comment label, .comments_template .comment-form-url {
  display: none; }
.comments_template .comment-form-comment textarea {
  width: 100%;
  height: 100px;
  max-height: 100px;
  border: solid 1px #c3c7cc !important;
  font-size: 15px; }
.comments_template .comment-author {
  border-bottom: 1px solid #c3c7cc;
  padding-bottom: 5px;
  opacity: 0.8; }
  .comments_template .comment-author .says {
    display: none; }
  .comments_template .comment-author b {
    position: relative;
    top: 11px;
    padding-right: 5px; }
.comments_template .comment-form-author, .comments_template .comment-form-email {
  position: relative;
  z-index: 100;
  right: 10px;
  opacity: 0.8;
  margin-top: -10px;
  margin-bottom: 20px; }
  .comments_template .comment-form-author label, .comments_template .comment-form-email label {
    width: 60px;
    font-size: 15px; }
  .comments_template .comment-form-author input, .comments_template .comment-form-email input {
    width: 285px;
    border-radius: 5px;
    border: 1px solid #c3c7cc; }
.comments_template .comment-notes, .comments_template .logged-in-as {
  font-size: 15px;
  opacity: 0.8; }
  .comments_template .comment-notes a, .comments_template .logged-in-as a {
    color: black;
    font-size: 15px; }
.comments_template .reply {
  text-align: left; }
  .comments_template .reply a {
    font-size: 15px;
    opacity: 0.8;
    color: black; }
.comments_template .comment-content {
  opacity: 0.8;
  font-size: 15px; }

/* Portrait tablets and small desktops     //(320/1200=64%) */
/* Landscape phones and portrait tablets */
.sectionMiddle {
  margin-top: 15px; }

#saveMoneyTitle {
  color: #e7b042;
  text-decoration: underline;
  display: inline; }

.categoryMenu {
  padding: 66px 0 0 0;
  margin-right: -8px; }
  .categoryMenu .buttonSection {
    width: 100%; }
  .categoryMenu .category-container {
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: inline-block;
    margin: 15px 12.5px 5px 12.5px; }
    @media (min-width: 535px) and (max-width: 722px) {
      .categoryMenu .category-container {
        margin: 3% !important; } }
    .categoryMenu .category-container .front {
      background-repeat: no-repeat;
      background-position: 50% 40%; }
      .categoryMenu .category-container .front h1 {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 5%;
        color: #4d5155; }
    .categoryMenu .category-container#cellular .front,
    .categoryMenu .category-container#cellular .back {
      background-color: #9e9684; }
    .categoryMenu .category-container#cellular .front {
      background-image: url("/public/images/icon/smartPhone.png"); }
    .categoryMenu .category-container#tv .front,
    .categoryMenu .category-container#tv .back {
      background-color: #9cc6b9;
      background-position: 50% 33%; }
    .categoryMenu .category-container#tv .front {
      background-image: url("/public/images/icon/tv.png"); }
    .categoryMenu .category-container#internet .front,
    .categoryMenu .category-container#internet .back {
      background-color: #bf7a66; }
    .categoryMenu .category-container#internet .front {
      background-image: url("/public/images/icon/internet.png"); }
    .categoryMenu .category-container#internationalCalls .front,
    .categoryMenu .category-container#internationalCalls .back {
      background-color: #87a5c0; }
    .categoryMenu .category-container#internationalCalls .front {
      background-image: url("/public/images/icon/global.png"); }
    .categoryMenu .category-container#telephone .front,
    .categoryMenu .category-container#telephone .back {
      background-color: #e7b85f; }
      .categoryMenu .category-container#telephone .front a,
      .categoryMenu .category-container#telephone .back a {
        color: #3f3f3f;
        opacity: 1;
        font-weight: bold; }
    .categoryMenu .category-container#telephone .front {
      background-image: url("/public/images/icon/telephone.png"); }
    .categoryMenu .category-container#moreService .front,
    .categoryMenu .category-container#moreService .back {
      background-color: #799b8f; }
    .categoryMenu .category-container#moreService .front {
      background-image: url("/public/images/icon/glass.png"); }
    .categoryMenu .category-container:hover .front, .categoryMenu .category-container:focus .front {
      box-shadow: 0px 0px 20px 0px #e9b34f; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      width: 256px;
      height: 223px;
      border-radius: 10px;
      text-align: center; }
  .categoryMenu .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .categoryMenu .front,
  .categoryMenu .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .categoryMenu .front {
    z-index: 2;
    transform: rotateY(0deg); }
  .categoryMenu .back {
    transform: rotateY(-180deg); }
    .categoryMenu .back img {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      border-radius: 10px;
      opacity: 0.5; }
    .categoryMenu .back .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      text-align: right;
      padding-right: 15px; }
      .categoryMenu .back .menu a {
        color: #f5f5f2;
        opacity: 0.8; }
  .categoryMenu .vertical.category-container {
    position: relative; }
  .categoryMenu .vertical .back {
    transform: rotateX(180deg); }
  .categoryMenu .vertical.category-container:hover .back {
    transform: rotateX(0deg); }
  .categoryMenu .vertical.category-container:hover .front {
    transform: rotateX(180deg); }

@media (min-width: 1200px) {
  .categoryMenu h1 {
    font-size: 29px; }
  .categoryMenu #internationalCalls,
  .categoryMenu #cellular {
    margin-right: 0; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .categoryMenu h1 {
    font-size: 24.07px; }
  .categoryMenu .category-container,
  .categoryMenu .category-container .front,
  .categoryMenu .category-container .back {
    margin: 7.5px;
    width: 212.48px;
    height: 185.09px; }
  .categoryMenu .category-container .front {
    background-size: 70px; }
  .categoryMenu .category-container#moreService .front {
    background-size: 115px; }
  .categoryMenu .category-container#internet .front {
    background-size: 50px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .categoryMenu {
    padding: 50px 0 0 0;
    /* text-align: right; */ }
    .categoryMenu h1 {
      font-size: 18.56px; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      margin: 5.5px;
      width: 163.84px;
      height: 142.72px; }
    .categoryMenu .category-container .front {
      background-size: 44.8px; }
    .categoryMenu .category-container#moreService .front {
      background-size: 73.6px; }
    .categoryMenu .category-container#internet .front {
      background-size: 32px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #boxWrapper {
    text-align: center !important; }

  .categoryMenu {
    padding-top: 15px;
    /* margin-left: -15px; */
    margin-right: 0px;
    /* text-align: center !important; */ }
    .categoryMenu h1 {
      font-size: 29px; }
    .categoryMenu .category-container,
    .categoryMenu .category-container .front,
    .categoryMenu .category-container .back {
      margin: 5.5px;
      height: 185.09px; }
    .categoryMenu .category-container .front {
      background-size: 58.1px; }
    .categoryMenu .category-container#moreService .front {
      background-size: 95.45px; }
    .categoryMenu .category-container#internet .front {
      background-size: 41.5px; } }
/* Portrait phones and smaller */
@media (max-width: 630px) {
  .container-fluid {
    /* padding-left: 15px; */
    /*     padding-right: 5px;
        padding-left: 5px; */ }

  .sectionbottom {
    padding-right: 5px !important;
    padding-left: 5px !important; }

  .categoryMenu .category-container,
  .categoryMenu .category-container .front,
  .categoryMenu .category-container .back {
    margin: 5.5px;
    width: 95%;
    height: 223px; }
  .categoryMenu .category-container .front {
    background-size: 70px; }
  .categoryMenu .category-container#moreService .front {
    background-size: 115px; }
  .categoryMenu .category-container#internet .front {
    background-size: 50px; } }
.serviceMenu {
  padding-left: 0;
  padding-right: 0; }
  .serviceMenu a:focus,
  .serviceMenu a:hover {
    text-decoration: none; }
  .serviceMenu #description {
    color: #c1c4c6;
    opacity: 0;
    transition: opacity 1s linear; }
  .serviceMenu .popover {
    border: 2px solid #e7b042;
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif; }
  .serviceMenu .popover-title {
    background-color: #eabe65; }
  .serviceMenu .buttonsAria .description {
    display: none; }
    @media (max-width: 992px) {
      .serviceMenu .buttonsAria .description {
        margin-top: 5px; } }
  .serviceMenu .buttonsAria .serviceButton {
    display: inline-table; }
    .serviceMenu .buttonsAria .serviceButton .circle {
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background-position: 50% 77%;
      background-repeat: no-repeat; }
      .serviceMenu .buttonsAria .serviceButton .circle:hover, .serviceMenu .buttonsAria .serviceButton .circle:focus {
        box-shadow: 0 1px 1px 2px #939393; }
      .serviceMenu .buttonsAria .serviceButton .circle h2 {
        color: #eeeeee;
        font-weight: bold;
        white-space: pre-line;
        width: 74%;
        margin-left: auto;
        margin-right: auto; }
    .serviceMenu .buttonsAria .serviceButton#businessService .circle {
      background-color: #e7b85f;
      background-image: url("/public/images/icon/lamp.png"); }
    .serviceMenu .buttonsAria .serviceButton#moving .circle {
      background-color: #bf7a66;
      background-image: url("/public/images/icon/home.png"); }
    .serviceMenu .buttonsAria .serviceButton#billsCheck .circle {
      background-color: #87a5c0;
      background-image: url("/public/images/icon/bill.png"); }
    .serviceMenu .buttonsAria .serviceButton#disconnected .circle {
      background-color: #799b8f;
      background-image: url("/public/images/icon/disconnect.png"); }

@media (min-width: 1200px) {
  .serviceMenu {
    margin-top: 65px; }
    .serviceMenu h2 {
      font-size: 27px; }
    .serviceMenu .buttonsAria {
      padding-top: 45px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 222px;
        height: 206px;
        margin: 15px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          width: 221px;
          height: 205px;
          padding-top: 15px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .serviceMenu {
    margin-top: 53.95px; }
    .serviceMenu h2 {
      font-size: 22.41px; }
    .serviceMenu .buttonsAria {
      padding-top: 37.35px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 184.26px;
        height: 170.98px;
        margin: 12.45px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 25%;
          background-position: 50% 82%;
          width: 183.43px;
          height: 170.15px;
          padding-top: 12.45px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .serviceMenu {
    margin-top: 41.6px; }
    .serviceMenu h2 {
      font-size: 17.28px; }
    .serviceMenu .buttonsAria {
      padding-top: 28.8px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: 142.08px;
        height: 131.84px;
        margin: 9.6px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 26%;
          background-position: 50% 82%;
          width: 141.44px;
          height: 131.2px;
          padding-top: 1px; } }
@media (max-width: 767px) {
  .serviceMenu {
    margin-top: 41.6px; }
    .serviceMenu h2 {
      font-size: 27px; }
    .serviceMenu .buttonsAria {
      padding-top: 28.8px; }
      .serviceMenu .buttonsAria .serviceButton {
        width: auto;
        height: auto;
        margin: 5px; }
        .serviceMenu .buttonsAria .serviceButton .circle {
          background-size: 26%;
          background-position: 50% 82%;
          width: 141.44px;
          height: 131.2px;
          padding-top: 1px; }
          .serviceMenu .buttonsAria .serviceButton .circle h2 {
            font-size: 17.28px; } }
@media (min-width: 466px) and (max-width: 670px) {
  .serviceMenu .buttonsAria .serviceButton .circle {
    background-size: 26%;
    background-position: 50% 82%;
    width: 183.8px;
    height: 170.8px;
    padding-top: 1px;
    margin: 10px; }
    .serviceMenu .buttonsAria .serviceButton .circle h2 {
      font-size: 22.28px;
      width: 59%; } }
@media (max-width: 340px) {
  .serviceMenu .buttonsAria .serviceButton {
    width: 45%; }
    .serviceMenu .buttonsAria .serviceButton .circle {
      background-size: 26%;
      background-position: 50% 82%;
      width: 100%;
      height: 140.8px;
      padding-top: 1px;
      margin: 0px; }
      .serviceMenu .buttonsAria .serviceButton .circle h2 {
        font-size: 18px;
        width: 59%; } }
.companyMenu {
  padding-right: 0;
  max-height: 575px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 575px;
  direction: ltr; }
  .companyMenu .tooltip {
    width: 122px;
    left: -125px !important;
    top: -9px !important; }
  .companyMenu .moreCompanyButton {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center; }
    .companyMenu .moreCompanyButton .glyphicon {
      padding-right: 10px; }
  .companyMenu .title,
  .companyMenu .moreCompanyButton {
    color: #696666;
    line-height: 1.495;
    background-color: #c1c4c6;
    text-align: center;
    background-color: #dadada;
    text-align: center;
    border: none;
    margin-right: 0.1px; }
  .companyMenu .moreCompanyButton:focus,
  .companyMenu .moreCompanyButton:hover {
    box-shadow: 0 1px 1px 0px #939393;
    background: #eeeeee; }
  .companyMenu .wrapper button {
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 6px -2px #777;
    margin-bottom: 13px; }
    .companyMenu .wrapper button:focus, .companyMenu .wrapper button:hover {
      outline: none;
      box-shadow: 0 1px 1px 0px #939393;
      background: #eeeeee; }
    .companyMenu .wrapper button .circle {
      border-radius: 50%;
      border: 2px dashed #8d8d8d;
      float: right;
      margin-right: -6px;
      background-color: white; }
      .companyMenu .wrapper button .circle .circleInner {
        background-color: #8c8c8c;
        border-radius: 50%;
        color: white; }
    .companyMenu .wrapper button .logo {
      float: left;
      text-align: center;
      overflow: hidden; }
      .companyMenu .wrapper button .logo img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%; }

@media (min-width: 1200px) {
  .companyMenu .title {
    font-size: 22px;
    width: 268px;
    height: 39px;
    margin-bottom: 25px; }
  .companyMenu .wrapper button {
    width: 257px;
    height: 72px;
    margin-bottom: 10px; }
    .companyMenu .wrapper button .circle {
      height: 72px;
      width: 72px;
      margin-right: -6px; }
      .companyMenu .wrapper button .circle .circleInner {
        height: 61px;
        width: 61px;
        padding-top: 16px;
        font-size: 37px;
        margin-top: 3px; }
    .companyMenu .wrapper button .logo {
      height: 68px;
      width: 136px;
      margin-left: 31px;
      margin-top: 4px; }
  .companyMenu .moreCompanyButton {
    width: 230px;
    height: 39px;
    font-size: 28px !important;
    margin-right: 0.1px;
    margin-top: 8px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .companyMenu {
    max-height: 470px; }
    .companyMenu .title {
      font-size: 19.09px;
      width: 222.44px;
      height: 32.37px;
      margin-bottom: 20.75px; }
    .companyMenu .wrapper button {
      width: 213.31px;
      height: 59.76px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 59.76px;
        width: 59.76px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 50.63px;
          width: 50.63px;
          padding-top: 13.28px;
          font-size: 30.71px;
          margin-top: 2.49px; }
      .companyMenu .wrapper button .logo {
        height: 56.44px;
        width: 112.88px;
        margin-left: 25.73px;
        margin-top: 3.32px; }
    .companyMenu .moreCompanyButton {
      width: 190.9px;
      height: 32.37px;
      font-size: 23.24px !important;
      margin-right: 0.1px;
      margin-top: 6.64px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .companyMenu {
    max-height: 368px; }
    .companyMenu .title {
      font-size: 16px;
      width: 171.52px;
      height: 24.96px;
      margin-bottom: 16px; }
    .companyMenu .wrapper button {
      width: 164.48px;
      height: 46.08px;
      margin-bottom: 10px; }
      .companyMenu .wrapper button .circle {
        height: 46.08px;
        width: 46.08px;
        margin-right: -6px; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 39.04px;
          width: 39.04px;
          padding-top: 9.24px;
          font-size: 23.68px;
          margin-top: 1.92px; }
      .companyMenu .wrapper button .logo {
        height: 43.52px;
        width: 87.04px;
        margin-left: 19.84px;
        margin-top: 2.56px; }
    .companyMenu .moreCompanyButton {
      width: 147.2px;
      height: 24.96px;
      font-size: 17.92px !important;
      margin-right: 0.1px;
      margin-top: 5.12px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .companyMenu {
    max-height: 215px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /* display: flex; */
    /* justify-content: space-between; */ }
    .companyMenu .title {
      font-size: 22px;
      width: 100%;
      height: 39px;
      margin-bottom: 25px; }
    .companyMenu .wrapper {
      padding-right: 0; }
    .companyMenu .wrapper button {
      margin-left: 15px;
      float: right;
      width: 141.35px;
      height: 39.6px;
      margin-bottom: 10px;
      font-size: 15px !important;
      border-radius: 0;
      text-align: center; }
      .companyMenu .wrapper button .circle {
        background-color: initial;
        border: none;
        height: 35.3px;
        width: 39.6px;
        margin-right: -6px;
        display: none; }
        .companyMenu .wrapper button .circle .circleInner {
          height: 33.55px;
          width: 33.55px;
          padding-top: 7.8px;
          font-size: 20.35px;
          margin-top: 1.65px;
          background-color: rgba(140, 140, 140, 0.33); }
      .companyMenu .wrapper button .logo {
        height: 37.4px;
        width: 74.8px;
        margin-left: 26.05px;
        margin-top: 0.2px;
        font-size: 9px !important;
        /* margin: 0 auto; */ }
    .companyMenu .moreCompanyButton {
      float: right;
      font-size: 28px !important;
      margin-right: 0;
      margin-top: 0;
      height: 42.35px; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .companyMenu .title, .companyMenu .moreCompanyButton {
    background-color: initial;
    border-bottom: 1px solid #e8b44c;
    margin-bottom: 15px; }

  .companyMenu .wrapper button {
    overflow: hidden;
    width: 29%;
    margin: 2%;
    height: 32.4px;
    border-radius: 0px;
    font-size: 12px !important; }
    .companyMenu .wrapper button .glyphicon-triangle-bottom {
      top: -5px;
      display: none; }
    .companyMenu .wrapper button .circle {
      display: none; }
    .companyMenu .wrapper button .logo {
      height: 30.6px;
      width: 100%;
      margin-left: 13.95px;
      margin-top: 0;
      text-align: center;
      float: none; }
      .companyMenu .wrapper button .logo img {
        max-height: 93%;
        max-width: 80%; }
  .companyMenu .moreCompanyButton {
    width: 122px;
    font-size: 15px !important;
    height: 27px;
    margin-top: 5px; } }
@media (max-width: 767pxx) {
  .moreCompaniesMenu {
    display: flex;
    justify-content: space-between; } }
body {
  background-color: #e7b042;
  background-image: url("/public/images/icon-background.jpg");
  font-family: 'Arimo', sans-serif; }

#wrapper {
  background-color: #eeeeee;
  padding: 0; }

.displayNone {
  display: none; }

.visibilityNone {
  visibility: hidden; }

.spinner {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  padding-top: 50px;
  display: none; }

.sectionTop {
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #f5f5f2;
  margin-top: -6px; }
  @media (min-width: 1230px) {
    .sectionTop {
      margin-left: -15px;
      margin-right: -15px;
      height: 462px;
      margin-bottom: 90px; } }

.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
  display: block;
  margin-top: 0; }

.form-control:focus {
  border-color: #e7b042;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e7b042;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(231, 176, 66, 0.38); }

.widthFull {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 14%; }

.helper {
  display: inline-block;
  /* help put the img in the middle */
  height: 100%;
  vertical-align: middle; }

.wrapText {
  width: 100%;
  text-align: center;
  background-color: #cdcdcd;
  height: 22px; }
  .wrapText h1,
  .wrapText h2,
  .wrapText h3,
  .wrapText h4,
  .wrapText h5,
  .wrapText h6,
  .wrapText p {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-color: #eeeeee;
    line-height: 21px;
    height: 25px;
    color: rgba(102, 102, 102, 0.8); }

.welcomeTitle {
  color: #696666;
  opacity: 0.8;
  padding: 5px 30px;
  margin-bottom: 15px; }
  @media (max-width: 480px) {
    .welcomeTitle {
      padding: 5px 5px; } }

#articleSinglePage .comments_template .comment-list {
  max-height: 330px; }
#articleSinglePage article {
  background: transparent !important; }
#articleSinglePage .wrapText {
  margin-bottom: 15px; }
#articleSinglePage .content {
  padding-top: 15px; }
  #articleSinglePage .content .logo {
    display: inline-block; }
    #articleSinglePage .content .logo img {
      height: 50px; }
  #articleSinglePage .content .title {
    position: relative;
    opacity: 0.8;
    top: 15px;
    margin-right: 5px;
    display: inline-block; }
    #articleSinglePage .content .title h1 {
      text-decoration: underline; }
  #articleSinglePage .content .body {
    padding-top: 15px; }
#articleSinglePage .companyMenu {
  margin-top: 30px;
  height: 365px; }
  #articleSinglePage .companyMenu .title {
    display: none !important; }

/* Large desktops and laptops */
@media (min-width: 1230px) {
  #wrapper {
    width: 1200px;
    padding: 0 15px; } }
@media (min-width: 1200px) {
  .topShadow {
    margin-top: -102px; } }
/* Landscape tablets and medium desktops (320/1200=83%) */
@media (min-width: 992px) and (max-width: 1199px) {
  .topShadow {
    margin-top: -86px; } }
/* Portrait tablets and small desktops     //(320/1200=64%) */
@media (min-width: 768px) and (max-width: 991px) {
  .topShadow {
    margin-top: -60px; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sectionTop {
    padding-left: 15px;
    padding-right: 15px; }

  .sectionbottom {
    padding-right: 15px !important;
    padding-left: 15px !important; }

  .topShadow {
    margin-top: -60px;
    display: none;
    /* margin-bottom: -31px; */ } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .topShadow {
    margin-top: -29px; }

  .wrapText {
    width: 100%;
    text-align: center;
    background-color: initial;
    height: 39px; }
    .wrapText h1,
    .wrapText h2,
    .wrapText h3,
    .wrapText h4,
    .wrapText h5,
    .wrapText h6,
    .wrapText p {
      display: inline-block;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0 auto;
      background-color: #eeeeee;
      line-height: 21px;
      height: 25px;
      color: rgba(102, 102, 102, 0.8);
      border-bottom: 1px solid #e8b44c;
      margin-bottom: 15px; } }
.noty_message {
  text-align: right !important; }

.hideAll .wrapText, .hideAll #orderBy, .hideAll .footer {
  display: none; }
.hideAll .planArea {
  padding-top: 0px !important; }

.sliderText {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 5px; }
  @media (max-width: 1200px) {
    .sliderText {
      width: 90%;
      padding-right: 10%;
      height: auto;
      max-height: 200p; }
      .sliderText .title {
        margin-top: -5px; } }
  @media (max-width: 980px) {
    .sliderText .hideSmall {
      display: none; } }

/*# sourceMappingURL=style.css.map */
